//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_1")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5 Let's talk about work.
            div(class="row row-flex mt30 align-items-center")
                    
                .col.xs12.md6
                    div(class="row-flex justify-center mb20"): div(class="col md11 col-center")
                        div(class="c-contVideo"): video(controls class="u-responsive-video")
                            source(src="unit_1/module_1/"+pathVideo+"test_3_1.mp4" type="video/mp4")
                            | Your browser does not support the audio element.

                .col.xs12.md6

                    .c-cardGreen
                        .c-cardGreenContent
                            ul.lh25
                                li • Do you think job satisfaction is more important than salary when choosing a job?
                                li • What skills do you think are needed to get a good job these days?
                                li • Do you think women should be able to do all the same jobs that
                                li • men do?
                                li • How has technology changed the way we work?
                                li • What is the difference between white collar and blue collar jobs?
                                li • What jobs do you think are most valuable to society?
                    .row
                        div(class="row c-ngRecorder" ng-audio-recorder id="mainAudio_a" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt1_mod1_test1',1)"): +ngRecorder
    |
    |
    aside(class="template-asideRight o-aside-Item")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")