//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper test_1"  ng-init="s_actividad = 1")
    aside(class="template-asideLeft o-aside-Item")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")
            h5.ta-c Read the following extract and choose the correct answers.
            div(class="row")
                div(class="c-flickity")
                    div(class="row mt10 mb30")
                        div(class="row c-flickity-controls c-flickity-controls-flex")
                            div(class="c-flickity-controlsSlides")
                                button(class="c-flickity-button is-selected ") Exercises 1
                                button(class="c-flickity-button ") Exercises 2
                                span(class="c-flickity--cell-total") 2
                            button(class="c-flickity-button c-flickity-button--previous") ←
                            button(class="c-flickity-button c-flickity-button--next") →
                    div(class="row mt50-sm ")
                        div(class="c-flickity--cell"): div(class="row" style="height:580px; overflow-x: hidden; overflow-y:auto;")
                            .c-cardGreen
                                .c-cardGreenContent.u-textColor_1
                                    .row
                                        .col.xs12.md6
                                            h5.ta-c Call for submissions: Science for the public good#[br]#[br]

                                            p.ta-j.
                                                If we think of science as curiosity in thoughtful action about the world and how it works,
                                                then all humans are born scientists. How can we push that curiosity even further into
                                                the public realm and turn it into a tool for advocacy and social change?#[br]#[br]
                                                Some subjects we’d like to explore in the Spring 2017 issue of YES!:#[br]#[br]
                                                #[strong Scientists as advocates:] At the Paris climate talks we heard scientists raising their
                                                voices in defense of climate science and then going further—advocating for policies
                                                that could save the planet. What is the history and reasoning for keeping science out
                                                of advocacy in the first place? How can scientists become even greater allies in activism
                                                around climate and environmental justice?#[br]#[br]
                                                #[strong Every person a scientist:] There are some powerful examples of citizen-led sciencebased
                                                activism; the water poisoning in Flint,
                                                Michigan, is one example. Public Lab teaches
                                                people to investigate environmental concerns
                                                using inexpensive DIY techniques. Any impacts
                                                to report from their work? Crowdsourced
                                                research on animal migration shifts and sea
                                                #[img(src="unit_3/module_11/assets/images/test_1_1.png" alt="" class="u-responsive-img w40 ml10 mt10" align="right")]
                                                changes in coastal areas—how are citizens
                                                engaging more as students and caretakers
                                                of their physical world? Who are the citizen
                                                scientists doing amazing work?#[br]#[br]
                                                #[strong Overcoming bad history:] For many
                                                communities of color, scientific research
                                                has been something done to them, not for
                                                them or by them. How can communities
                                                and researchers overcome a history of




                                        .col.xs12.md6
                                            p.ta-j.
                                                #[img(src="unit_3/module_11/assets/images/test_1_2.png" alt="" class="u-responsive-img w40 ml10 mt10" align="right")]
                                                exclusion and concerns about unethical
                                                research and find a way forward as partners?
                                                The Community-Based/Tribally-Based
                                                Participatory Research (CBPR/TPR) model
                                                used at University of Washington, where
                                                the researchers worked with the tribes, may
                                                offer a new paradigm.#[br]#[br]
                                                #[strong Your DNA is everywhere:] Inexpensive
                                                genetic testing is allowing people to learn
                                                more about their ancestry. What implications
                                                does this testing have for our understanding
                                                of racial and ethnic identity—and what does
                                                it mean in the struggle for racial justice? And
                                                the explosion in available genetic information,
                                                data that can offer us new insights about health and genetics that could potentially
                                                benefit many or be a tool for corporate instead of public gain—what are the ethics?
                                                Who owns the data? What’s up with the big Iceland genetics project to decode DNA
                                                for a massive population? What can we learn from that experience about the politics
                                                of privacy in this new era?#[br]#[br]
                                                #[strong Corporations out of science:] How do we make sure publicly funded research
                                                benefits the public? When drug companies make buckets of money off pricey drugs
                                                that were developed initially because of publicly funded research, something’s wrong.
                                                But there may be a solution: National Institutes of Health can shorten the wait for
                                                generic versions of drugs—if they can find the political will. How do we solve the “other”
                                                drug money problems—drug companies funding their own research and distorting
                                                outcomes to maximize profits? How can we ensure public-funded science is done in
                                                the public interest—and reflects the needs and health concerns of a broad range of
                                                people? Are there ethical models for corporate-funded research?
                        |
                        div(class="c-flickity--cell"): div(class="row" style="height:580px; overflow-x: hidden; overflow-y:auto;")
                            .row.row-flex.align-items-center.justify-center
                                .col.colxs12.md6
                                    .c-cardGreen
                                        .c-cardGreenContent.u-textColor_1
                                            .row
                                                p.ta-j.
                                                    #[img(src="unit_3/module_11/assets/images/test_1_3.png" alt="" class="u-responsive-img w40 mr10 mt10" align="left")]
                                                    #[strong Strengthening the commons:] When
                                                    publicly funded research is published in
                                                    expensive journals, people not connected to
                                                    wealthy institutions can’t afford access. Now
                                                    scientists are pushing back with open-source
                                                    publishing. What are the intellectual property
                                                    implications? What about the work we never
                                                    get to learn about—the failures and the “no
                                                    significant results”? In science, these are as
                                                    important as the successes when it comes to
                                                    advancing knowledge. New journals are offering
                                                    scientists a place to report these “failures.”#[br]#[br]
                                                    We’re looking for stories that address
                                                    useful solutions at all levels, from policies to
                                                    communities to individuals. We’re especially interested in stories that show creative
                                                    solutions already in place. Do you have an idea for a reported feature, deeply researched
                                                    think piece, or personal essay that belongs in this issue of YES! Magazine? Send pitches
                                                    and leads to science@yesmagazine.org.
                                                p.ta-l.
                                                    Read the full story here:#[a(href="http://www.yesmagazine.org/people-power/call-for-submissions-science-for-the-public-good-20160826") www.yesmagazine.org/ ]
                                .col.colxs12.md5.offset-md1.ta-c
                                    p.ta-j.mt30.
                                        #[strong.u-textColor_4 •] Choose the most appropriate heading for the following excerpt:  #[br] #[br]
                                        #[strong Every person a scientist:] There are some powerful examples of citizen-led science-based
                                        activism; the water poisoning in Flint, Michigan, is one example. Public Lab teaches people to
                                        investigate environmental concerns using inexpensive DIY techniques. Any impacts to report
                                        from their work? Crowdsourced research on animal migration shifts and sea changes in coastal
                                        areas—how are citizens engaging more as students and caretakers of their physical world?
                                        Who are the citizen scientists doing amazing work?

                                    .row
                                        input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_1" value="1")
                                        label(class="c-Checkbox w100 ta-l " for="selInput_1") Environmental concerns.
                                        input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_2" value="2")
                                        label(class="c-Checkbox w100 ta-l " for="selInput_2") Activism by everyday-people.
                                        input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_3" value="3")
                                        label(class="c-Checkbox w100 ta-l " for="selInput_3") Scientific techniques.
                                        input(type="hidden"  class="js-select")
        |
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")

            .row
                div(class="col xs12 md6"): div(class="xs12 md11 col-center")

                    h6 #[strong.u-textColor_4 •] Choose “true”, “false” or “information not given”.
                    p.ta-j.mt30 African-American communities tend not to form an integral part of the understanding or solutions to issues affecting them.

                    div(class="u-responsive_check")
                        input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_4" value="1")
                        label(class="c-Checkbox w100 ta-l " for="selInput_4") True.
                        input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_5" value="2")
                        label(class="c-Checkbox w100 ta-l " for="selInput_5") False.
                        input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_6" value="3")
                        label(class="c-Checkbox w100 ta-l " for="selInput_6") Information not given.
                        input(type="hidden"  class="js-select")

                    h6.mt30 #[strong.u-textColor_4 •] Match the information given with one of the paragraphs from the text.
                    p.ta-j Development of science in favor of public interests

                    div(class="u-responsive_check")
                        input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_7" value="1")
                        label(class="c-Checkbox w100 ta-l " for="selInput_7") 2.
                        input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_8" value="2")
                        label(class="c-Checkbox w100 ta-l " for="selInput_8") 4.
                        input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_9" value="3")
                        label(class="c-Checkbox w100 ta-l " for="selInput_9") 6.
                        input(type="hidden"  class="js-select")

                    .row.mt30
                        h6 #[strong.u-textColor_4 •] Complete the sentence with a word from the table below.
                        .c-cardGreen
                            .c-cardGreenContent.flex.align-items-center.justify-center.u-textWhite
                                span generic | will | ethics | ancestry | shifts
                        p.mt30.
                            Because of advances in DNA testing, people can now uncover information about their genetic #[input(type="text" class="c-input js-escribir")].
                |
                div(class="col xs12 md6"): div(class="xs12 md11 col-center")
                    
                    .row
                        h6.
                            #[strong.u-textColor_4 •]
                            Fill in the summary using the words from the paragraph. #[br]#[br]
                        .c-cardGreen
                            .c-cardGreenContent.flex.align-items-center.justify-center.u-textWhite
                                span engage | science-based | ally | overcome | realm | ethics
                        p.mt30.
                            The #[input(type="text" class="c-input js-escribir")]. of science has become a tool that has brought about social change and benefits
                            for humanity itself. One of the key areas that is being pushed is to use science as an #[input(type="text" class="c-input js-escribir")].
                            in the provision of science-based knowledge for the average citizen. With this idea in mind,
                            ordinary people could #[input(type="text" class="c-input js-escribir")]. certain problems experienced in their communities or
                            #[input(type="text" class="c-input js-escribir")].in their possible solutions.


                    .row
                        h6.mt30.
                            #[strong.u-textColor_4 •] Choose the correct answer.
                        p.ta-j With publicly-funded research...

                    .row
                        input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_10" value="1")
                        label(class="c-Checkbox w100 ta-l " for="selInput_10") The general public will be able to access a wider range of information.
                        input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_11" value="2")
                        label(class="c-Checkbox w100 ta-l " for="selInput_11") Scientists are given a voice to fight against social injustice.
                        input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_12" value="3")
                        label(class="c-Checkbox w100 ta-l " for="selInput_12") Those who are privileged can access the information once it is in particular magazines.
                        input(type="hidden"  class="js-select")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="CompTxt_SelectMult()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
script.
    flickitySlide('c-flickity', 'c-flickity--cell', 'c-flickity-controlsSlides', 'c-flickity-button', 'c-flickity-button--previous', 'c-flickity-button--next','580');

|
|
