//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="col-flex-sm12 col-flex-md12 col-center mt50-md mt30-sm")
                h5 Mark the option that does not belong in each group.
                table(class="c-table-SelfCheck mt20")
                    thead   
                        tr
                            th.w5 
                            th.w35 LANGUAGE
                            th.w20 
                            th.w20 
                            th.w20 
                    tbody
                        tr
                            td.ta-c: strong 1
                            td.ta-c.padding10 Identify the difference between the future perfect and the future perfect continuous.
                                
                            td.ta-c.padding10 
                                input(class="c-inputRadio ml10" id="inputRadio_1" type="radio" name="selInputRadio_1" value="1")
                                label(class="c-Checkbox ml10" for="inputRadio_1") By this time next year, her baby Will have turned 1 year old.
                            td.ta-c.padding10 
                                input(class="c-inputRadio ml10" id="inputRadio_2" type="radio" name="selInputRadio_1" value="2")
                                label(class="c-Checkbox ml10" for="inputRadio_2") This building will have been going through renovations for 2 years by the end of the summer.
                            td.ta-c.padding10
                                input(class="c-inputRadio ml10" id="inputRadio_3" type="radio" name="selInputRadio_1" value="3")
                                label(class="c-Checkbox ml10" for="inputRadio_3") I will be very happy if you can come to our anniversary celebration.

                        tr
                            td.ta-c: strong 2
                            td.ta-c.padding10 Identify and ask echo questions.
                                
                            td.ta-c.padding10
                                input(class="c-inputRadio ml10" id="inputRadio_4" type="radio" name="selInputRadio_2" value="1")
                                label(class="c-Checkbox ml10" for="inputRadio_4") We use echo question to express surprise.
                            td.ta-c.padding10
                                input(class="c-inputRadio ml10" id="inputRadio_5" type="radio" name="selInputRadio_2" value="2")
                                label(class="c-Checkbox ml10" for="inputRadio_5") We use echo questions to ask about personal information.
                            td.ta-c.padding10
                                input(class="c-inputRadio ml10" id="inputRadio_6" type="radio" name="selInputRadio_2" value="3")
                                label(class="c-Checkbox ml10" for="inputRadio_6") We use echo questions to express interest.

                        tr
                            td.ta-c: strong 3
                            td.ta-c.padding10 Understand the active and passive future.
                                
                            td.ta-c.padding10
                                input(class="c-inputRadio ml10" id="inputRadio_7" type="radio" name="selInputRadio_3" value="1")
                                label(class="c-Checkbox ml10" for="inputRadio_7") I will be helped by her.
                            td.ta-c.padding10
                                input(class="c-inputRadio ml10" id="inputRadio_8" type="radio" name="selInputRadio_3" value="2")
                                label(class="c-Checkbox ml10" for="inputRadio_8") They will go hiking on their next vacation.
                            td.ta-c.padding10
                                input(class="c-inputRadio ml10" id="inputRadio_9" type="radio" name="selInputRadio_3" value="3")
                                label(class="c-Checkbox ml10" for="inputRadio_9") An email will be written by the manager.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMultiSelf(2)")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")