//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40 ")
        section(class="c-noticeAside-section")
            div(class="row mt20 mr40")
                p(class="ta-j") They are about Manuel Serpa, a student of first semester of Accounting at UNAD. He plans to graduate in four years. Organize all the sentences in chronological order. 
                img(src="unit_1/module_2/assets/images/self_12.png", alt="" class="u-responsive-img mt30")
