//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2") 
    aside(class="template-asideLeft o-aside-Item" ng-init="s_actividad = 1")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")

    |
    | 
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")
            
            div(class="row row-flex")
                h5 Choose the option that best matches the use and the meaning.
            div(class="row row-flex")
                div(class="col-flex-xs12 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w40") Meaning
                            th(class="w40") Use

                        tbody
                            tr 
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td For a special purpose, presently under consideration.
                                td The politician added a regulation banning older cars ad hoc to assist with his campaign to reduce emissions by next year.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td Having unusual characteristics.
                                td The weather in Bogota is so quirky as it often changes spontaneously.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To struggle with.
                                td Grappling with warmer temperatures will be difficult for world populations and could lead to shorter life expectancies.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To go through or cope with something.
                                td Coastal cities will have a difficult time enduring rising water levels as they face land loss at shorelines.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To falsify.
                                td Some people think that some scientific studies doubting climate change have been forged for financial gain, but no one can deny it’s getting warmer every year.
                                                         
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To display lack of interest.
                                td How can you be so dismissive of climate change? You can personally feel how much hotter it’s getting every year!
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To take a firm, specific position on something.
                                td Even if you don’t believe increasing sea levels are a threat, my stance will not change. It’s a severe situation that we must do something about!
                               
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To accept or adopt.
                                td Instead of ignoring environmental programs, we need to embrace ways of trying to minimize environmental damage such as recycling.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td Unable to be understood.
                                td Although we have theories, the total impact of environmental damage is somewhat unknowable.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To stretch wide in influence
                                td The effects of increasing temperatures don’t just affect some countries; the problems will be much more far-reaching. 

        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")
             div(class="row row-flex")
                div(class="col-flex-xs12 m-a mt20"): .col-flex-xs12.col-flex-md11

                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w40") Meaning
                            th(class="w40") Use

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td An unfortunate event, often serious.
                                td Rising sea levels will be a huge calamity for those living in coastal areas.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To prevent from seeing.
                                td The media often shrouds the fact that more species of endangered animals are dying each year, but it’s well documented.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td Very large, almost endless.
                                td It’s true, vast amounts of land are available, but not all is suitable for farming and must be protected.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td To learn slowly.
                                td Although the politician wouldn’t say exactly, we were able to glean from the speech that he probably would not vote for the bill.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td A group of objects.
                                td Automobile emissions have greatly been reduced in recent years, but there are still troves of older, poorly maintained vehicles on the world’s roads.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td The outer edge of something.
                                td Environmental activists are sometimes thought to be on the fringe, but their actions are important to ensure the Earth remains a good place to live in the future.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td An indirect suggestion 
                                td The activist hinted at a protest tomorrow, but wouldn’t say exactly for fear the police may come.
                                
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected) 
                                    option(value="1") Ad-hoc
                                    option(value="2") Fringe
                                    option(value="3") Quirky
                                    option(value="4") Trove
                                    option(value="5") Hint
                                    option(value="6") Rage
                                    option(value="7") Endure
                                    option(value="8") Grapple
                                    option(value="9") Forge
                                    option(value="10") Stance
                                    option(value="11") Calamity
                                    option(value="12") Vast
                                    option(value="13") Dismissive
                                    option(value="14") Embrace
                                    option(value="15") Shroud
                                    option(value="16") Glean
                                    option(value="17") Far-reaching
                                    option(value="18") Unknowable
                                td Extreme anger.
                                td I don’t know how you can be so calm. When I see people throwing trash into the ocean, I have such rage!
                                
                            
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")