//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_8")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content" ng-init="ContadorPalabras(150)")
            .row
                .col.xs12.md6
                    h6.mb20 Investment Report
                    .row-flex.justify-center
                        img(class="max-ancho450 u-responsive-img m-a w80" src="unit_3/module_11/assets/images/col_8_1.png", alt="myColombia")
                .col.xs12.md6
                    h6.mb20 Write a report for a university teacher describing the investment in biotechnology shown.
                    p #[strong.u-textColor_4 »] You should write at least 150 words.
                    p #[strong.u-textColor_4 »] You should spend about 20 minutes on this task
                    div(class="c-wrapTextarea ")
                        textarea(placeholder="Write here..." class="campo c-textarea h200" ng-model="textousuario")
                        div(class="c-wrapTextarea__counter")
                            span(id="contador") 0 
                            span(ng-bind="limitePalabras")
                            span(id="alertamensaje")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction openNotice is-active u-bgIconAlert" ng-click="idNotice = 1")        
        button(class="c-btn-IconAction u-bgIconUpload" ng-click="enviarTexto()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
//- |
//- div(class="c-noticeAside" id="notice")
//-     article(class="c-noticeAside-body" ng-include="'unit_2/module_5/myColombia/myColombia_12_notice_'+ idNotice +'.php'")
//-     footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")
