include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="u-fz09 u-italic") Verbs after prepositions take an – ing form. 
                    br
                    br
                    | Here are some examples:
                p(class="u-fz09 u-italic") 
                    span Evelio is interested in reading about Gabo. Ecologists believe in preserving the earth.
                    br
                    span We need to concentrate on finding a new job.
                    br
                    span I cannot cope with driving long distances.
                    br
                    span The students count on passing the test.
                    br
                    span Students decided against cheating in exams.
                    br
                    span The party depends on gathering enough money.
                    br
                                





