//- ============================== Mixins
include ../../../../_pug/_mixin
//-============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2")
    aside(class="template-asideRight o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
                 
            div(class="row-flex s-actividad u-animationFadeDown")
                div(class="row-flex align-items-center")
                    div(class="row")                   
                        h5 Read and choose the right word to complete the story.
                    div(class="col xs12 md6")
                        
                        div(class="col x8 md10 col-center ta-c mt30 mb30")
                            img(src="unit_2/module_7/assets/images/act_12.png", alt="act_12" class="u-responsive-img m-a")
                        div(class="col-center col xs12 md11 lh-20 ta-j")
                            span There are three separate sources of hazards related to the use of nuclear reactors to supply us with   energy. Firstly, the radioactive material must travel from its place of manufacture to the power station in containers that are not solidly built, 
                            strong: span(class="u-textColor_4-dark") (1)
                            select(class="c-select" name="act_12_1")
                                option(value="" disabled selected) 
                                option(value="1") despite
                                option(value="2") although
                                option(value="3") even though
                            span  everything they say about them being perfectly safe. Unfortunately, the two normal methods of transport, road or rail, both involve
                    div(class="col xs12 md6")
                        div(class="col-center col xs12 md11 lh-20 ta-j")
                            span contact with the general public, because the routes are bound to pass near, or even through, highly populated areas. 
                            br
                            br
                            br
                            span Secondly, there is the problem of waste. The waste that all nuclear power stations produce will, in most cases, remain radioactive for thousands of years and cannot be deactivated, so they must be stored. 
                            strong: span(class="u-textColor_4-dark") (2)
                            select(class="c-select" name="act_12_2")
                                option(value="" disabled selected) 
                                option(value="1") despite
                                option(value="2") although
                                option(value="3") in spite of
                            span  they are buried under the ground, dropped into disused mineshafts or sunk in the sea, the waste is still dangerous. These methods don’t solve the problem, they merely store it, and an earthquake could crack open the containers like nuts. 
                            br
                            br
                            br
                            strong: span(class="u-textColor_4-dark") (3)
                            select(class="c-select" name="act_12_3")
                                option(value="" disabled selected) 
                                option(value="1") Even though
                                option(value="2") despite
                                option(value="3") in spite of
                            span  there is the risk of accidental exposure due to a leak or an explosion at a power station, we don’t hear much about the conditions of power plants. But 
                            strong: span(class="u-textColor_4-dark") (4)
                            select(class="c-select" name="act_12_2")
                                option(value="" disabled selected) 
                                option(value="1") in spite of
                                option(value="2") even though
                                option(value="3") although
                            span  all measures taken, we know of accidents that have happened in plants in different countries.

                        

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")        
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_2/module_7/activities/act_1_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice") 
    