include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="ta-r u-fz09") #[span.u-textColor_3 Commands] are formed using the to-infinitive in statements and not + to-infinitive in negative statements. If we report somebody´s commands, we use the verb told. If it´s a #[span.u-textColor_3 request], the word used in the main clause is usually asked.

                                





