

include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                ul.c-list
                    p(class="u-fz09 mb20") #[span.u-textColor_3 Linking words and phrases] are used to show relationships between ideas. They can be used to join two or more sentences or clauses. Linking words/phrases can be used to add ideas together, contrast them, or show the reason for something. #[br] #[br] #[span.u-textColor_3 In spite of, despite, although and even though] are all used to show a contrast but there are differences in the structures used with them:
                    li(class="u-fz09") After #[span.u-textColor_3 in spite] of and #[span.u-textColor_3 despite] we use a noun or a pronoun.
                    li(class="u-fz09") After #[span.u-textColor_3 although] we use a subject and a verb.
                    li(class="u-fz09") #[span.u-textColor_3 Even though] is a slightly stronger form of although. #[span.u-textColor_3 Even though] is followed by a subject and a verb.

                                





