include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="ta-r u-fz09"): i • In <strong>quoted or direct speech</strong>, someone´s exact words are repeated. Quotation marks enclose his or her words. 
                p(class="ta-r u-fz09"): i • In <strong>reported speech</strong>, someone´s words are described using “said”. No quotation marks are used. Some changes are made:   
                p(class="ta-r u-fz09"): i • If the original statement is in the present, the verb is changed to the past. Pronouns or possessive adjectives change person. 
                p(class="ta-r u-fz09"): i • If the original statement is in the past, if often changes into past perfect. Pronouns or possessive adjectives change person. 
                p(class="ta-r u-fz09"): i • If the original statement is in the present perfect, the verb changes to the past perfect.
                p(class="ta-r u-fz09"): i • Pronouns or possessive adjectives change persons.  
                                





