include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="ta-r u-fz09") When we report yes/no questions we use “if” or “whether”. The tense of the verb changes as it does in reported speech but we don´t use auxiliary verbs. The word order is the same as in an affirmative sentence.
                p(class="ta-r u-fz09") When there is a questions word (what, where, why, who, when, how) we use that questions word in the reported questions but there is no auxiliary verb and the word order is like an affirmative sentence.

                                





