include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="ta-r u-fz09 u-italic") We use #[strong “in case”] to communicate that we are preparing for something that might happen or is a possibility of happening, when we are thinking of a situation that we feel we need to be ready for. #[strong In case] is often used in conversation as a way to introduce a topic you want to talk about.
                    br
                                





