include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="ta-j u-fz09") Now, read and notice how these collocations are used in context: 
                p Jesus and Adriana are the funniest couple I have ever met. They #[span.u-textColor_3 got married] 15 years ago. Jesus is very organized but he spends a lot of money. Last year, he almost #[span.u-textColor_3 went bankrupt]. He was so stressed that he began #[span.u-textColor_3 to go bald]. After the crisis, #[span.u-textColor_3 he got ready] to start a new life and be more careful with his expenses. Adriana, on the other hand, has a terrible sense of orientation. #[span.u-textColor_3 She gets lost] all the time! Last time, she was downtown Palmira, and she was looking for some fruit, because she #[span.u-textColor_3 is going on a diet]. She #[span.u-textColor_3 got totally lost], and Jesus had to go and pick her up. The good thing is that they are a very happy couple!

                                





