//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5 #[strong.u-textColor_4 1. ] Find 2 collocations with do and 3 collocations with make.
            div(class="row-flex mt100-xs mt10-md mt10-sm")
                div(class="col-flex-xs12 col-flex-md5 col-center mt10-sm mt20-md")
                    div(class="row mb30 ta-c ")
                        img(src="unit_1/module_4/assets/images/self_4_1.png", alt="" class="u-responsive-img w80 m-a showTo-md")
                        ul(class='words' phrasal-column="column-xs3")
                            li do your best
                            li do your hair
                            li make a call
                            li make money
                            li make friends
                            
                div(class="col-flex-md7 col-flex-sm10 col-flex-xs12 col-center ta-c")
                    div(id="puzzle" style="display: inline-block")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh")
        //- button(class="c-btn-IconAction u-bgIconCheck")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
| 
script(src="./../assets/js/librerias/wordfind.js")
script(src="./../assets/js/librerias/wordfindgame.js")

script.
    $(function() {
        $( "#puzzle" ).draggable();
    });

script.
    var words = ['doyourbest', 'doyourhair', 'makeacall', 'makemoney', 'makefriends'];

    // start a word find game
    var gamePuzzle = wordfindgame.create(words, '#puzzle', '#words');

    $('#solve').click( function() {
        wordfindgame.solve(gamePuzzle, words);
    });

    // create just a puzzle, without filling in the blanks and print to console
    var puzzle = wordfind.newPuzzle( words, {height: 10, width:18, fillBlanks: false} );
    wordfind.print(puzzle);