//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt100-xs mt10-md mt10-sm")
                div(class="col-flex-xs12 col-flex-md5 col-center mt10-sm mt20-md")
                    div(class="row mb30 ta-c showTo-md")
                        img(src="unit_1/module_4/assets/images/self_6b.png", alt="" class="u-responsive-img w45 f-l ml10 mb20 m-a")
                        img(src="unit_1/module_4/assets/images/self_6c.png", alt="" class="u-responsive-img w45 f-l ml10 mb20 m-a")
                        img(src="unit_1/module_4/assets/images/self_6a.png", alt="" class="u-responsive-img w45 f-l ml10 mb20 m-a")
                    
                div(class="col-flex-xs12 col-flex-md5 offset-md1 col-center mt10-sm mt20-md")
                    div(class="row-flex")
                        div(class="mb20 row mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  1. 
                                | Hiram Bingham rediscovered the lost city in 1911.
                            span(class="c-textField w100"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
                        div(class="mb20 row mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  2. 
                                | A Spanish nobleman discovered bones in Altamira.  
                            span(class="c-textField w100"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
                        div(class="mb20 row mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  3. 
                                | His daughter found colorful paintings in the cave.
                            span(class="c-textField w100"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
                        div(class="mb20 row mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  4. 
                                | Artists decorated the walls of Angkor Wat with stone sculptures. 
                            span(class="c-textField w100"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
                        div(class="mb20 row mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  5. 
                                | People forgot the city of Machu Picchu for hundreds of years. 
                            span(class="c-textField w100"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")