//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt30-xs mt10-md mt10-sm")
                div(class="mb20 row mt20")
                    div(class="col-flex")
                        strong(class="u-textColor_4-dark")  1. 
                        | was he to Anyway, going not hurry.
                    div(class="c-blue-text padding10 flex mt20")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                div(class="mb20 row mt20")
                    div(class="col-flex")
                        strong(class="u-textColor_4-dark")  2. 
                        | anyway am now, I lost.
                    div(class="c-blue-text padding10 flex mt20")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                div(class="mb20 row mt20")
                    div(class="col-flex")
                        strong(class="u-textColor_4-dark")  3. 
                        | room new I find a anyway have to.
                    div(class="c-blue-text padding10 flex mt20")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                div(class="mb20 row mt20")
                    div(class="col-flex")
                        strong(class="u-textColor_4-dark")  4. 
                        | days anyway! were Those past. 
                    div(class="c-blue-text padding10 flex mt20")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                div(class="mb20 row mt20")
                    div(class="col-flex")
                        strong(class="u-textColor_4-dark")  5. 
                        | to woman anyway old woman knows The how cook. 
                    div(class="c-blue-text padding10 flex mt20")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
                        div(class="col-flex")
                            span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w90")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction openNotice u-bgIconInfoActivity" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside is-visible" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_1/module_4/selfcheck/self_8_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")