//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header" u-over-flow="auto-y")
    div(class="row mt40")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                img(src="unit_1/module_4/assets/images/self_8_1.png", alt="" class="u-responsive-img w70 centrado")
                img(src="unit_1/module_4/assets/images/self_8_2.png", alt="" class="u-responsive-img w70 centrado")
                img(src="unit_1/module_4/assets/images/self_8_3.png", alt="" class="u-responsive-img w70 centrado")

