//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        section(class="template-content" ng-init="s_actividad = 1")
            
            |
            div(class="row-flex s-actividad u-animationFadeDown" ng-show="s_actividad == 1")

                div(class="row-flex")
                    div(class="col-flex-sm12 col-flex-md5 col-center")
                        img(src="./unit_3/module_9/assets/images/col_2.png", alt="", srcset="" class="u-responsive-img centrado")

                    div(class="col-flex-sm12 col-flex-md7 col-center")

                        div(class="row")
                            table(class="c-table" data-ejercicio="table-truefalse")
                                thead
                                    tr
                                        th 
                                        th true
                                        th false
                                tbody
                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 1. 
                                            |  High-performance athletes train in Tunja because of its strategic location.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_1" name="tfInputRadio_1" value="1")
                                                label(for="inputRadio_1" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_2" name="tfInputRadio_1" value="2")
                                                label(for="inputRadio_2" class="c-CheckFalse")

                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 2. 
                                            |  Despite having been a success, the Extreme Sports Festival has not grown.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_3" name="tfInputRadio_2" value="1")
                                                label(for="inputRadio_3" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_4" name="tfInputRadio_2" value="2")
                                                label(for="inputRadio_4" class="c-CheckFalse")

                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 3. 
                                            |  Rollerblading is now part of the Extreme Sports Festival, thanks to its success.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_5" name="tfInputRadio_3" value="1")
                                                label(for="inputRadio_5" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_6" name="tfInputRadio_3" value="2")
                                                label(for="inputRadio_6" class="c-CheckFalse")

                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 4. 
                                            |  The variety of extreme sports available for practice in Tunja attracts tourists.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_7" name="tfInputRadio_4" value="1")
                                                label(for="inputRadio_7" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_8" name="tfInputRadio_4" value="2")
                                                label(for="inputRadio_8" class="c-CheckFalse")

                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 5. 
                                            |  Only the locals practice extreme sports in Tunja.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_9" name="tfInputRadio_5" value="1")
                                                label(for="inputRadio_9" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_10" name="tfInputRadio_5" value="2")
                                                label(for="inputRadio_10" class="c-CheckFalse")

                                                


            div(class="row s-actividad u-animationFadeDown" ng-show="s_actividad == 2")   

                div(class="row-flex")
                    div(class="col-flex-sm12 col-flex-md5 col-center")
                        img(src="./unit_3/module_9/assets/images/col_2.png", alt="", srcset="" class="u-responsive-img centrado")

                    div(class="col-flex-sm12 col-flex-md7 col-center")  
                        div(class="row")
                            table(class="c-table" data-ejercicio="table-truefalse")
                                thead
                                    tr
                                        th 
                                        th true
                                        th false
                                tbody
                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 6. 
                                            |  There is only one professional stadium in Tunja.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_11" name="tfInputRadio_6" value="1")
                                                label(for="inputRadio_11" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_12" name="tfInputRadio_6" value="2")
                                                label(for="inputRadio_12" class="c-CheckFalse")

                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 7. 
                                            |  The stadium holds only 20,000 people.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_13" name="tfInputRadio_7" value="1")
                                                label(for="inputRadio_13" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_14" name="tfInputRadio_7" value="2")
                                                label(for="inputRadio_14" class="c-CheckFalse")

                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 8. 
                                            |  The City was host to 2008 under 20 football tournament.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_15" name="tfInputRadio_8" value="1")
                                                label(for="inputRadio_15" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_16" name="tfInputRadio_8" value="2")
                                                label(for="inputRadio_16" class="c-CheckFalse")


                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 9. 
                                            |  The Coliseum can hold more than 5,000 Fans.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_17" name="tfInputRadio_9" value="1")
                                                label(for="inputRadio_17" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_18" name="tfInputRadio_9" value="2")
                                                label(for="inputRadio_18" class="c-CheckFalse")


                                    tr
                                        td 
                                            strong(class="u-textColor_4-dark") 10. 
                                            |  There at least two national teams.
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_19" name="tfInputRadio_10" value="1")
                                                label(for="inputRadio_19" class="c-CheckTrue")
                                        td
                                            span(class="c-textField")
                                                input(class="c-inputRadio" type="radio" id="inputRadio_20" name="tfInputRadio_10" value="2")
                                                label(for="inputRadio_20" class="c-CheckFalse")
                
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh"  ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck js-validar"  ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")