//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper test_1"  ng-init="s_actividad = 1")
	aside(class="template-asideLeft o-aside-Item")
		button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
		button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
	|
	|
	div(class="template-section m-a")
		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")
			h5.ta-c Read the following extract and choose the correct answers.
			div(class="row")
				div(class="c-flickity")
					div(class="row mt10 mb30")
						div(class="row c-flickity-controls c-flickity-controls-flex")
							div(class="c-flickity-controlsSlides")
								button(class="c-flickity-button is-selected ") Exercises 1
								button(class="c-flickity-button ") Exercises 2


								span(class="c-flickity--cell-total") 2
							button(class="c-flickity-button c-flickity-button--previous") ←
							button(class="c-flickity-button c-flickity-button--next") →
					div(class="row mt50-sm ")
						div(class="c-flickity--cell"): div(class="row" style="height:680px; overflow-x: hidden; overflow-y:auto;")
							.c-cardGreen
								.c-cardGreenContent.u-textColor_1
									.row
										.col.xs12.md6
											h5.ta-c What makes America great? Artists resist Trump with 100 days of posters
											p.ta-c: i The progressive agenda over the next four years will be hard-won—and heavily illustrated—if the past few weeks are any indication.
											p.ta-c Jennifer Luxton posted Feb 06, 2017
											p.ta-j.
												Even as federal sponsorship of the National Endowment for the Arts hangs in the
												balance, people are responding to the Trump administration by turning to the arts
												more and more as a means of resistance. From the energy behind the Pussyhat Project
												to feminist punk anthems, art is at the forefront of the public’s defiance.#[br]#[br]
												If the past few weeks have been any indication, the progressive agenda over next four
												years will be hard-won—and heavily illustrated.#[br]#[br]
												While the Trump administration makes its
												way through its first 100 days, a grassroots
												coalition of designers called the Creative
												Action Network (CAN) is illustrating its own
												#[img(src="unit_3/module_10/assets/images/test_1_1.png" alt="" class="u-responsive-img w40 mr10 mt10" align="left")]
												version of what makes America great in a
												collection of 100 posters called “What Makes
												America Great.” CAN is releasing one poster a
												day as a direct counter to President Trump’s
												campaign slogan.#[br]#[br]
												“Right after the election, we started hearing
												from lots of our artists: ‘What are we going to
												do?’” said Max Slavkin, CAN co-founder and
												CEO. “Everyone was so shocked and upset by


										.col.xs12.md6
											p.ta-j.
												#[img(src="unit_3/module_10/assets/images/test_1_2.png" alt="" class="u-responsive-img w40 ml10 mt10" align="right")]
												what had happened, for a while we weren’t
												totally sure. We knew we didn’t want to do
												something as simple as anti-Donald Trump
												art because it felt like there was a unique
												opportunity for art to go a little deeper than
												that.”#[br]#[br]
												Slavkin helped found CAN in 2008 as a
												way for artists to support themselves while
												producing work for causes they care about.
												CAN puts out a call for art around a cause,
												then licenses work from artists to sell as
												merchandise. After the illustrators take their
												cut, a portion of the profit is contributed to a
												charity relevant to the campaign.#[br]#[br]
												Launched on Inauguration Day, CAN’S “What Makes America Great” campaign highlights
												traits like religious freedom, immigration, and resilience as hallmarks of American
												values.#[br]#[br]
												“When times get hard, we persevere,” illustrator Emily Kelley said about her poster. “Our
												resilience is what makes us come back stronger than ever. It’s what makes us keep going,
												and it’s what will keep us from never giving up. Resilience is what makes America great.”
												“America was built by immigrants and their descendants,” artist Chris Lozos said.#[br]#[br]
												“Those who came here had the spirit to overcome great obstacles and the ambition
												to fulfill their dreams in a new world. Without this steady stream of pioneers during all
												eras, we would not be the proud nation we are today.”


						div(class="c-flickity--cell"): div(class="row" style="height:680px; overflow-x: hidden; overflow-y:auto;")
							.row.row-flex.align-items-center.justify-center
								.col.colxs12.md6
									.c-cardGreen
										.c-cardGreenContent.u-textColor_1
											.row
												p.ta-j.
													#[img(src="unit_3/module_10/assets/images/test_1_3.jpg" alt="" class="u-responsive-img w40 mr10 mt10" align="left")]
													“Knowledge is power. Information is liberating,”
													David Hays said about his design. “This insight
													is at least four centuries old, formulated
													by philosopher Francis Bacon during the
													Enlightenment. Though we now head into a
													new Dark Age in which Republicans intend to
													unwind eight years of hard-fought social and
													economic progress, the statement has lost
													nothing in terms of relevance and significance:
													Knowledge is more powerful than ever … and
													education is the fundamental precondition
													for political development, democracy, and
													social justice.”#[br]#[br]
													Each poster is for sale through CAN’s online
													platform, with 10 percent of proceeds supporting Dream Corps, a social justice
													accelerator working to cut the American prison population, create opportunities for
													a more diverse tech industry, and build a green economy that works for everyone.
													The group, founded by social justice activist Van Jones, connects leaders in relevant
													disciplines with the resources, partners, and platforms to generate solutions.
												p.ta-l.
													Read the full story here:#[a(href="http://www.yesmagazine.org/people-power/what-makes-america-great-artists-resist-trump-with-100-days-of-posters-20170206") www.yesmagazine.org/ ]
								.col.colxs12.md5.offset-md1.ta-c
									img(src="unit_3/module_10/assets/images/test_1_4.png" alt="" class="u-responsive-img ")

		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")

			.row
				.col.xs12.md6
					p.ta-j.mt30.
						#[strong.u-textColor_4 •] Choose the most appropriate heading for the following excerpt:  #[br] #[br]
						Each poster is for sale through CAN’s online platform, with 10 percent of proceeds supporting
						Dream Corps, a social justice accelerator working to cut the American prison population, create
						opportunities for a more diverse tech industry, and build a green economy that works for
						everyone. The group, founded by social justice activist Van Jones, connects leaders in relevant
						disciplines with the resources, partners, and platforms to generate solutions.

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_1" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_1") Building an ecological economy
						input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_2" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_2") Social justice preservation
						input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_3" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_3") The work of Dream Corps
						input(type="hidden" class="js-select")
 

					p.ta-j.mt30.
						#[strong.u-textColor_4 •] Choose “true”, “false” or “information not given”. #[br] #[br]
						CAN concerns itself with art that sensitizes people.

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_4" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_4") True.
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_5" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_5") False.
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_6" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_6") Information not given.
						input(type="hidden" class="js-select")

					p.ta-j.mt30.
						#[strong.u-textColor_4 •] Match the information given with one of the paragraphs from the text. #[br] #[br]
						Art as an offensive strategy.

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_7" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_7") 8.
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_8" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_8") 1.
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_9" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_9") 5.
						input(type="hidden" class="js-select")

				.col.xs12.md6
					.row.mt30
						p.
							#[strong.u-textColor_4 •]
							Fill in the summary using the words from the paragraph.  #[br]#[br]
						.c-cardGreen
							.c-cardGreenContent.flex.align-items-center.justify-center.u-textWhite
								span hallmarks | fulfil | overcome | defiance | unwind | proceeds
						p.
							To strongly protest against the Trump administration, people are using art as a means of#[input(type="text" class="c-input js-escribir")] 
							CAN, through their campaign "What Makes America Great," uses posters made by various artists to bring awareness to the country's social issues, 
							while simultaneously providing them with an opportunity to earn money. Also, a part of the #[input(type="text" class="c-input js-escribir")]  
							will go towards a charity. CAN hopes to #[input(type="text" class="c-input js-escribir")] the challenges being faced and restore the
							#[input(type="text" class="c-input js-escribir")]of American values.

					.row.mt30
						p.
							#[strong.u-textColor_4 •]
							Complete the sentence with a word from the table below. #[br]#[br]
						.c-cardGreen
							.c-cardGreenContent.flex.align-items-center.justify-center.u-textWhite
								span highlight | liberate | platform | found | generate
						p.
							Many urban artists use their creative artwork to #[input(type="text" class="c-input js-escribir")] many social injustices.

					.row
						p.ta-j.mt30.
							#[strong.u-textColor_4 •] Complete the following statement.#[br]#[br]
							 According to David Hays #[input(type="text" class="c-input")]

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_10" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_10") knowledge will renew the principles of the American society.
						input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_11" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_11") America’s progress is going to be negatively affected.
						input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_12" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_12") information given by the Republicans will ruin America.
						input(type="hidden" class="js-select")

	|
	|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconCheck" ng-click="CompTxt_SelectMult()" ng-show="s_actividad == 2")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
script.
	flickitySlide('c-flickity', 'c-flickity--cell', 'c-flickity-controlsSlides', 'c-flickity-button', 'c-flickity-button--previous', 'c-flickity-button--next','680');

|
|
