//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_3")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            
            div(class="row row-flex")
                h5 Read the definition and match it to the most suitable word.
            div(class="row row-flex")
                div(class="col-flex-xs12 col-flex-md8 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w30") Word
                            th(class="w70") Definition
                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td A place people work, like a factory or office.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td To give someone a position or role.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td A disastrous collapse or breakdown.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td Common knowledge among the population.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td To collect or gather something.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td Money that is owed.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td To close something.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td To dismiss an employee permanently.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Widely Known
                                    option(value="2") Meltdown
                                    option(value="3") Debt
                                    option(value="4") Workplace
                                    option(value="5") Accumulated
                                    option(value="6") Skyrocket
                                    option(value="7") Fire
                                    option(value="8") Appointing
                                    option(value="9") Shut down
                                td A sharp or steep rise.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td A formal request signed by many people requesting that the government or other entity pay attention to a cause.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td A physical attack.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td To cause a regular event to become very political.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td To enforce a law or rule.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td The person currently in a position or office.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td A person with strong left-wing political views.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td To get kicked out of a property.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td Something that is continuous or still happening.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5 w90")
                                    option(value="" disabled selected) 
                                    option(value="1") Evict
                                    option(value="2") Overt
                                    option(value="3") Ongoing
                                    option(value="4") Petition
                                    option(value="5") Assault
                                    option(value="6") Leftist
                                    option(value="7") Crack down
                                    option(value="8") Incumbent
                                    option(value="9") Politicized
                                td Done in the open or in public.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")