//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")

            div(class="row row-flex")
                h5 Use the correct phrasal verbs from below to fill in the blank spaces.
            div(class="row mt20")
                div(class="col xs12 sm12 md6 mb20 col-center")
                    h6 Frank, the operations manager, and his assistant, Sandra are in their daily morning meetings.
                    audio(controls class='row mt20 mb20')
                        source(src='unit_1/module_1/assets/audios/act_2_1.mp3' type='audio/mpeg')
                        | Your browser does not support the audio element.

                div(class="col xs12 sm12"): div(class="_phrasal-column ta-j lh30")
                    p #[strong Frank]: Good morning Sandra how are you.
                    p #[strong Sandra]: I’m doing well, Frank, thanks. I will be with you in a minute.
                    p #[strong Frank]: There are a few things I want to address. First, we need to
                        select(name="act_1_2" class="c-select ml5 mr5" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        | on the tardiness in the office. We can’t have employees arriving when they want so we need to
                        select(name="act_1_2" class="c-select ml5 mr5" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        | a solution to this problem.
                    p #[strong Sandra]: Yes, I think we can
                        select(name="act_1_2" class="c-select ml5 mr5" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        | some of the groups that have formed among the employees,
                        select(name="act_12_2" class="c-select" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        |  the intra-office texting and create an ongoing program for rewarding the most disciplined and dedicated staff members.
                    p #[strong Frank]:  Very good, Sandra. I knew I could
                        select(name="act12_2" class="c-select ml5 mr5" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        | you, as always, to
                        select(name="act_12_2" class="c-select" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        |  a solution. Can you email me a
                        select(name="act_12_2" class="c-select" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        |   of how you plan to implement the rewards program?  Also, before I forget, can you
                        select(name="act_12_2" class="c-select" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        |  the address for the meeting this evening? I think it’s somewhere downtown but I can’t remember.
                    p #[strong Sandra]: Sure thing! I will get the address for you before you leave.
                    p #[strong Frank]: Another thing, my son’s hamster died yesterday. I tried to
                        select(name="act12_2" class="c-select ml5 mr5" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        | by saying I took it to the vet. but he found it in the garage. Can you order a new hamster for me? I would like it delivered today, if possible. That should
                        select(name="act_12_2" class="c-select" c-select-style="inline")
                            option(value="" disabled selected)
                            option(value="1") break up
                            option(value="2") shut down
                            option(value="3") come up with
                            option(value="4") look up
                            option(value="5") count on
                            option(value="6") crack down
                            option(value="7") break down
                            option(value="8") cheer him up
                            option(value="9") cover it up
                        | .
                    p #[strong Sandra]: I will get on these right away, Frank.
                    p #[strong Frank]: Thank you, Sandra.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
