@charset "utf-8";

$MultimediaImages   : '../images/';

.u-{
    &bgTemplate{
        background-image: url(#{$MultimediaImages}wel_bg.jpg);
        background-color: #ff5252;
    }
}

.bold{font-weight : 700;	}


.c-green{ background: #87c5bf !important;
    color: #22645B;}

.c-blue{ background: #b5c6f8 !important;
              color: #3e538c;}

.c-green-text{
    background: #87c5bf !important;
    color: #ffffff;
    font-weight: 500;
    padding: 20px;
    text-align: justify;
    }

    .c-blue-text{
        background: #b5c6f8 !important;
        color: #ffffff;
        font-weight: 600;
        padding: 10px;
        text-align: center;
        }

    .line-h{ line-height: 40px !important;}
    .line-h1{ line-height: 30px !important;}

.absol-mod2-self{
    position: absolute;
    left:10px;
    top:10px;
    color:rgba(150,150,150,1);}


.act_7{
    @media (min-width: 992px){
        .c-Checkbox{
            &.col-flex-md4{
                margin-right: 5px;
                flex: calc(33.33333% - 5px);
            }
        }
    }
}

.act_12{
    .c-Checkbox{
        $margenR : 0;
        @media screen and (max-width: 499px){
            flex: 100%;
            width: 100%;
            margin-bottom: 20px;
            margin-right: $margenR;
        }
        @media screen and (min-width: 500px) and (max-width: 992px){
            $margenR : 5px;
            margin-right: $margenR;
            flex: calc(33.33333% - #{$margenR});
            width: calc(33.33333% - #{$margenR});
        }
        @media screen and (min-width: 993px){
            $margenR : 10px;
            margin-right: $margenR;
            flex: calc(33.33333% - #{$margenR});
            width: calc(33.33333% - #{$margenR});
        }
    }
}
.act_10 .dragm2{
    display: inline-block;
    &::first-letter{
        text-transform: capitalize;
    }
}

.act_12{
    .c-Checkbox{
        span{
            display: inline-block;
            &::first-letter{
                text-transform: capitalize;
            }
        }
    }
}
.act_15{
    .treeItem, .treeItem_hi, .treeItem_set {
        position: relative;
        overflow: hidden;
        height: 100px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 130px;
        }
    }
}

.self_3{
    @media all and (min-width:600px) {
        .c-Checkbox{
            flex: 0 0 calc(33% - 10px);
            margin: 0 auto;
            width: calc(33% - 10px);
            float: left;
        }
    }
    @media all and (max-width:599px) {
        .c-Checkbox{
            flex: 0 0 90%;
            margin: .5rem auto;
            width: 90%;
            float: left;
        }
    }
}
.self_5{
    .drop, .dragCont{
        width: 250px;
        @media all and (max-width:599px) {
            width: 200px;
            font-size: 0.9rem;
        }
    }
}

.self_7{
    .drop, .dragCont{
        width: 165px;
        height: 110px;
        @media all and (max-width:599px) {
            width: 145px;
            height: 96px;
        }
    }
}

.self_8{
    .drag{
        height: 87px;
    }
    .drop, .dragCont{
        width: 45%;
        height: 90px;
        @media all and (max-width:599px) {
            // width: 145px;
            height: 96px;
        }
    }

    .ui-sortable{
        &--item{
            height: 3rem;
            width: 80%;
            max-width: 700px;
            padding: .5em;
            @media all and (max-width:599px) {
                width: 90%;
                min-height: 3.5rem;
            }
        }
    }
}

.col_1{
    #sourceElements > [class*="tree"]{
        padding: 0;
    }
}
