//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-r") 
                    strong Verbs after prepositions 
                    | take – ing 
                    strong gerund.
                p(class="ta-r") Look at tense examples:
                p(class="ta-r") Two weeks ago, there was a conflicto in the classroom: Daniel acussed Rodrigo of cheating in the test. When they talked to the teacher, Rodrigo apologized for copyng the answers from a student nex to him. 
                p(class="ta-r") The teacher reprimanded him and aproved of repeating the test. All the students blamed Rodrigo for doing this. A week later, all the students were concentrated on studyng for this second chance. They insiste don doing the exams in groups but the teacher kept on telling them that this was an individual test. When the teacher gave them the results, he congratulated ofwriting a long essay and everybody completed the task satisfactorily.