//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex")
                div(class="col-flex-xs10 col-flex-md5 col-center mt10-sm mt20-md")
                    h5 #[strong.u-textColor_4 1 . ] A collocation is a combination of words that occurs frequently enough to be recognized as a common combination.
                    table(class="c-table-estilo_tres m-a mt30")
                        tbody
                            tr
                                td: strong come close
                                td: strong keep a diary
                            tr
                                td: strong come complete with
                                td: strong keep a promise
                            tr
                                td: strong come direct
                                td: strong keep a secret
                            tr
                                td: strong come early
                                td: strong keep an appointment
                            tr
                                td: strong come first
                                td: strong keep calm
                            tr
                                td: strong come last
                                td: strong keep control
                            tr
                                td: strong come late
                                td: strong keep in touch
                            tr
                                td: strong come on time
                                td: strong keep quiet
                            tr
                                td: strong come prepared
                                td: strong keep someone’s place
                            tr
                                td: strong come right back
                                td: strong keep the change
                            tr
                                td: strong come second
                                td: strong keep safe

                            tr
                                td: strong come to a compromise
                                td: strong 

                            tr
                                td: strong come to a decision
                                td: strong

                            tr
                                td: strong come to an agreement
                                td: strong

                            tr
                                td: strong come to an end
                                td: strong

                            tr
                                td: strong come to terms with
                                td: strong

                            tr
                                td: strong come to a total of
                                td: strong

                            tr
                                td: strong come under attack
                                td: strong 

                div(class="col-flex-xs10 col-flex-md6 col-center mt10-sm mt20-md")
                    h5 #[strong.u-textColor_4 2 . ] Read the following sentences. Decide which phrase can replace the #[u  underlined words].
                    div(class="row mb20 mt30")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span Indiscipline in the classroom affects academic performance. This has to #[u finish].
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_1" value="1")
                            label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='come'") come late
                            
                            input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_1" value="2")
                            label(for="inputRadio_5" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='count'") come direct
                            
                            input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_1" value="3")
                            label(for="inputRadio_6" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='settle'") come to an end
                    div(class="row mb20 mt30")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span What I tell you has to #[u stay only between you and me].
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_2" value="1")
                            label(for="inputRadio_7" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='break'") keep quiet
                            input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_2" value="2")
                            label(for="inputRadio_8" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='put'") keep the secret
                            input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_2" value="3")
                            label(for="inputRadio_9" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='turn'") keep calm
                    div(class="row mb20 mt30")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span Oops! I forgot the keys at the office. I have to #[u return] now!
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_3" value="1")
                            label(for="inputRadio_10" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='go'") come back
                            input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_3" value="2")
                            label(for="inputRadio_11" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='hang'") come together
                            input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_3" value="3")
                            label(for="inputRadio_12" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='try'") come to a decision
                    div(class="row mb20 mt30")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span People are not really concentrated. I need to #[u get them focused]!
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_4" value="1")
                            label(for="inputRadio_13" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='take'") keep a promise
                            input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_4" value="2")
                            label(for="inputRadio_14" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='put'") keep concentrated
                            input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_4" value="3")
                            label(for="inputRadio_15" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='speed'") keep talking
    |
    |
    aside(class="template-asideRight o-aside-Item") 
        button(class="c-btn-IconAction u-bgIconAlert openNotice is-active" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()") 
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside " id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_3/module_11/activities/act_9_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")