//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5 Choose a verb from the box to complete the sentences. Make sure you use the correct form.
            div(class="row-flex")
                div(class="col-flex-xs12 col-flex-sm10  col-flex-md12 col-center mt10-sm mt20-md")
                    table(class="c-table-estilo_tres m-a")
                        tbody
                            tr
                                td EARN
                                td RAISE
                                td DONATE
                                td STEAL
                                td WIN
                            tr
                                td LOSE
                                td SPEND
                                td SAVE
                                td LEND
                                td FIND

                div(class="col-flex-xs12 col-flex-sm10 col-flex-md12 col-center mt10-sm mt20-md")
                    div(class="row-flex")
                        div(class="col-flex-xs10 col-flex-md6 col-center mt10-sm mt20-md padding10")
                            p(class="mt30")   
                                strong(class="u-textColor_4-dark")  1. 
                                | We have started to #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")] money so we can buy the house we want.
                            p(class="mt30")   
                                strong(class="u-textColor_4-dark")  2. 
                                | I got a promotion, which means I will #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")] more money than I used to.
                            p(class="mt30")   
                                strong(class="u-textColor_4-dark")  3. 
                                | Big corporations usually #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")] money to charity.
                            p(class="mt30")
                                strong(class="u-textColor_4-dark")  4. 
                                | Can you #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")] some money? I´ll pay you back as soon as possible.
                        div(class="col-flex-xs10 col-flex-md6 col-center mt10-sm mt20-md padding10")
                            p(class="mt30")   
                                strong(class="u-textColor_4-dark")  5. 
                                | We have to #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")] more money if we want to pull off the event.
                            p(class="mt30")   
                                strong(class="u-textColor_4-dark")  6. 
                                | My sister usually #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")] a lot on shoes and make-up.
                            p(class="mt30")   
                                strong(class="u-textColor_4-dark")  7. 
                                | All my money got #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")] in the robbery.
    |
    |
    aside(class="template-asideRight o-aside-Item") 
        //- button(class="c-btn-IconAction u-bgIconAlert openNotice is-active" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside " id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_2/module_8/activities/act_7_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")
