//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
	aside(class="template-asideLeft o-aside-Item")
	|
	|
	div(class="template-section m-a")
		section(class="template-content")
			h5 Complete the Formality Scales, classifying the sentences according to how formal or informal they are.
			div(class="row-flex")
				div(class="col-flex-sm12 col-flex-md10 col-center")

						div(class="row-flex mt10-xs mt30-sm")

							div(class="col-flex-xs12 showTo-md col-flex-md4 col-center"): img(src="unit_3/module_11/assets/images/act_16_1.png", alt="" class="u-responsive-img h180" style="objetive-fit: cover;")
							div(class="col-flex-xs12 hideFrom-md"): h6 Order by more formal to less formal
									
							div(class="col-flex-xs12 col-flex-md8 col-center")
								ul(class="c-counterStep ui-sortable sortreload justify-center" id="sortable_1" data-ejercicio="sortable")
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The woman we came across last week is a foreigner.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The woman who we came across last week is a foreigner.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The woman whom we came across last week is a foreigner.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The woman that we came across last week is a foreigner.]

						div(class="row-flex mt10-xs mt30-sm")

							div(class="col-flex-xs12 showTo-md col-flex-md4 col-center"): img(src="unit_3/module_11/assets/images/act_16_1.png", alt="" class="u-responsive-img h180" style="objetive-fit: cover;")
							div(class="col-flex-xs12 hideFrom-md"): h6 Order by more formal to less formal
							
							div(class="col-flex-xs12 col-flex-md8 col-center")
								ul(class="c-counterStep ui-sortable sortreload justify-center" id="sortable_2" data-ejercicio="sortable")
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The country I live in is beautiful.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The country which we live is beautiful.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The country where I live is beautiful.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The country in which we live is beautiful.]
										
						div(class="row-flex mt10-xs mt30-sm")

							div(class="col-flex-xs12 showTo-md col-flex-md4 col-center"): img(src="unit_3/module_11/assets/images/act_16_1.png", alt="" class="u-responsive-img h180" style="objetive-fit: cover;")
							div(class="col-flex-xs12 hideFrom-md"): h6 Order by more formal to less formal
							
							div(class="col-flex-xs12 col-flex-md8 col-center")
								ul(class="c-counterStep ui-sortable sortreload justify-center" id="sortable_3" data-ejercicio="sortable")
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The movie we watched yesterday was good.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The movie which we watched yesterday was good.]
									li(class="ui-sortable--item row flex justify-between c-counterStep__item js-sortdrag") #[span The movie that we watched yesterday was good.]

								//- div(class="col-flex-xs12 col-flex-md8 col-center")
										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The woman we came across last week is a foreigner.
											option(value="2") The woman who we came across last week is a foreigner.
											option(value="3") The woman whom we came across last week is a foreigner.
											option(value="4") The woman that we came across last week is a foreigner.
										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The woman we came across last week is a foreigner.
											option(value="2") The woman who we came across last week is a foreigner.
											option(value="3") The woman whom we came across last week is a foreigner.
											option(value="4") The woman that we came across last week is a foreigner.

										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The woman we came across last week is a foreigner.
											option(value="2") The woman who we came across last week is a foreigner.
											option(value="3") The woman whom we came across last week is a foreigner.
											option(value="4") The woman that we came across last week is a foreigner.

										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The woman we came across last week is a foreigner.
											option(value="2") The woman who we came across last week is a foreigner.
											option(value="3") The woman whom we came across last week is a foreigner.
											option(value="4") The woman that we came across last week is a foreigner.
				//- div(class="col-flex-sm12 col-flex-md10 col-center")
										
						div(class="row-flex")

								div(class="col-flex-xs12 col-flex-md8 col-center")
										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The country I live in is beautiful.
											option(value="2") The country which we live is beautiful.
											option(value="3") The country where I live is beautiful.
											option(value="4") The country in which we live is beautiful.
										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The country I live in is beautiful.
											option(value="2") The country which we live is beautiful.
											option(value="3") The country where I live is beautiful.
											option(value="4") The country in which we live is beautiful.

										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The country I live in is beautiful.
											option(value="2") The country which we live is beautiful.
											option(value="3") The country where I live is beautiful.
											option(value="4") The country in which we live is beautiful.

										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The country I live in is beautiful.
											option(value="2") The country which we live is beautiful.
											option(value="3") The country where I live is beautiful.
											option(value="4") The country in which we live is beautiful.

								div(class="col-flex-sm12 col-flex-md4 col-center")
										img(src="unit_3/module_11/assets/images/act_16_1.png", alt="" class="u-responsive-img h180" style="objetive-fit: cover;")

				//- div(class="col-flex-sm12 col-flex-md10 col-center")
						div(class="row-flex")
								div(class="col-flex-sm12 col-flex-md4 col-center")
										img(src="unit_3/module_11/assets/images/act_16_1.png", alt="" class="u-responsive-img h180" style="objetive-fit: cover;")
										
								div(class="col-flex-xs12 col-flex-md8 col-center")
										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The movie which we watched yesterday was good.
											option(value="2") The movie that we watched yesterday was good.
											option(value="3") The movie we watched yesterday was good.
										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The movie which we watched yesterday was good.
											option(value="2") The movie that we watched yesterday was good.
											option(value="3") The movie we watched yesterday was good.

										select(class="c-select mt20" style="max-width: 100%;")
											option(disabled="disabled" selected="selected") select
											option(value="1") The movie which we watched yesterday was good.
											option(value="2") The movie that we watched yesterday was good.
											option(value="3") The movie we watched yesterday was good.
						
										|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSortable()")
		button(class="c-btn-IconAction u-bgIconCheck" ng-click="sortable()")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
script.
	$( "#sortable_1" ).sortable()
	$( "#sortable_2" ).sortable()
	$( "#sortable_3" ).sortable()