//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_10" ng-init="juegoHangman({ 1:['keep control','Hangman 1'], 2:['keep in touch','Hangman 2'], 3:['keep quiet','Hangman 3'], 4:['come first','Hangman 4'], 5:['come last','Hangman 5'], 6:['come late','Hangman 6'] }, 6); ")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5(class="mb20") Find 3 collocations with "come" and 3 collocations with the word “keep”.
            div(class="row-flex mt10-xs mt10-md")
                div(class="game__hangman mt40 game__hangman1")
                    div(class="game__hangman--score")
                        div(class="game__hangman--scoreContar js_hangman--count") 0 
                        div(class="game__hangman--scoreTotal") 6
                    div(class="game__hangman--header")
                        div(class="game__hangman--instruction"): h6.game__hangman--pista instrucción 1
                    div(class="game__hangman--hiddenImg" style="background-image:url('../assets/multimedia/images/games/hangman/fondo.png')")
                        img(src="../assets/multimedia/images/games/hangman/lingote_1.png" class="responsive-img game__hangman--Img lingote_1 is-visible")
                        img(src="../assets/multimedia/images/games/hangman/lingote_2.png" class="responsive-img game__hangman--Img lingote_2 is-visible")
                        img(src="../assets/multimedia/images/games/hangman/lingote_3.png" class="responsive-img game__hangman--Img lingote_3 is-visible")
                        img(src="../assets/multimedia/images/games/hangman/lingote_4.png" class="responsive-img game__hangman--Img lingote_4 is-visible")
                        img(src="../assets/multimedia/images/games/hangman/lingote_5.png" class="responsive-img game__hangman--Img lingote_5 is-visible")
                        img(src="../assets/multimedia/images/games/hangman/lingote_6.png" class="responsive-img game__hangman--Img lingote_6 is-visible")
                    |
                    |
                    div(class="game__hangman--phrase")
                        div(class="game__hangman--word")
                            //- keep
                            div(class="game__hangman--letter js_hangman--letter mal") e
                            div(class="game__hangman--letter js_hangman--letter mal") r
                            div(class="game__hangman--letter js_hangman--letter mal") r
                            div(class="game__hangman--letter js_hangman--letter mal") o
                            div(class="game__hangman--letter js_hangman--letter mal") r
                        div(class="game__hangman--word")
                            //- control
                            div(class="game__hangman--letter js_hangman--letter mal") g
                            div(class="game__hangman--letter js_hangman--letter mal") a
                            div(class="game__hangman--letter js_hangman--letter mal") m
                            div(class="game__hangman--letter js_hangman--letter mal") e
                    |
                    |
                    div(class="game__hangman--keyBoard")
                        div(class="game__hangman--keyBoard--line")
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="Q" disabled) Q
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="W" disabled) W
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="E" disabled) E
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="R" disabled) R
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="T" disabled) T
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="Y" disabled) Y
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="U" disabled) U
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="I" disabled) I
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="O" disabled) O
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="P" disabled) P
                        div(class="game__hangman--keyBoard--line")
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="A" disabled) A
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="S" disabled) S
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="D" disabled) D
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="F" disabled) F
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="G" disabled) G
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="H" disabled) H
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="J" disabled) J
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="K" disabled) K
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="L" disabled) L
                        div(class="game__hangman--keyBoard--line")
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="Z" disabled) Z
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="X" disabled) X
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="C" disabled) C
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="V" disabled) V
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="B" disabled) B
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="N" disabled) N
                            div(class="game__hangman--keyBoard-key js-game__hangman--key" pos="0" value="M" disabled) M
                    
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh js-game__hangman--reset" )
        //- button(class="c-btn-IconAction u-bgIconCheck" )
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'") 
    
