//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-r") • Relative clauses are used to clarify which person or thing we are talking about. In these clauses, the relative pronoun #[span.u-textColor_3 who ] is included. Sometimes #[span.u-textColor_3 whom] is used instead of who when the relative pronoun in the #[span.u-textColor_3 object].
                p(class="ta-r") • The relative pronouns are the subject or the object of the clause. The subject or the object ARE NOT repeated.
                p(class="ta-r") • We use #[span.u-textColor_3 “whose”] to express possession.
                p(class="ta-r") • We also use #[span.u-textColor_3 when] with #[span.u-textColor_3 times] and #[span.u-textColor_3 where] with #[span.u-textColor_3 places] to make it clear which time or place we are talking about.




