//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        | He left without saying goodbye. He 
                        strong must have been 
                        | in a hurry.
                    li(class="mt20")
                        | She was just here! She 
                        strong can’t have gone far. 
                    li(class="mt20")
                        | Mike 
                        strong could have done 
                        | better, but he didn’t study enough.
                    li(class="mt20")
                        | You 
                        strong should have received 
                        | my email by now.
                    li(class="mt20")
                        | Carla didn’t come to the party. She 
                        strong might not have received 
                        | the invitation
                



