//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        h5 Read the email. Then make guesses about the sender and the receiver.
                    li(class="mt40") Dear Susan,
                    li(class="mt20")  
                        | It was so nice to get your email yesterday. We all really enjoy reading your emails here at home. I’m glad to hear that everything is going well and that you are enjoying the course. I hope you are not feeling homesick. I’m sure you’re already getting used to being away.
                    li(class="mt20")
                        | Is it strange living in such a large city, so different from home? I don’t think I could stand all the noise and chaos, but you are young and it must be exciting for you.
                    li(class="mt20")
                        | Have you made many new friends yet? You mentioned Peter in your letter. He sounds very nice. Dad and I are both looking forward to meeting him, and Grandma is already thinking of knitting baby clothes! I told her you were a bit young for that!
                    li(class="mt20")
                        | Well, darling, that's about it for now. Remember, you can call us any time. We're all looking forward to seeing you at Christmas. Dad and Grandma both send their love.
                    li(class="mt20")
                        | Lots of love.

