//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    
    div(class="template-section m-a")
        section(class="template-content")
            
            div(class="row")
                h5 #[strong.u-textColor_4 1. ] Read about the Titanic. 
                h6 Decide which sentences are correct or incorrect
                div(class="row-flex align-items-center")
                    div(class="col-flex-sm12 col-flex-md6 col-center showTo-md")
                        div(class="row mt50")
                            img(src="./unit_1/module_3/assets/images/act_14.png", alt="", srcset="" class="u-responsive-img centrado")

                    div(class="col-flex-sm12 col-flex-md6 col-center")
                        div(class="row mt50")

                            p   
                                strong(class="u-textColor_4-dark") 1.
                                |  There can't have been a big crowd present when the ship was finally launched.

                            div(class="row-flex justify-center")
                                span(class="c-textField mr10")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_1" name="tfInputRadio_1" value="1")
                                    label(for="inputRadio_1" class="c-CheckSelected") CORRECT
                                span(class="c-textField")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_2" name="tfInputRadio_1" value="2")
                                    label(for="inputRadio_2" class="c-CheckSelected") NOT CORRECT

                            p(class="mt20")   
                                strong(class="u-textColor_4-dark") 2.
                                |  The ship's owners must have been very proud to see the Titanic in the water for the first time.

                            div(class="row-flex justify-center")
                                span(class="c-textField mr10")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_3" name="tfInputRadio_2" value="1")
                                    label(for="inputRadio_3" class="c-CheckSelected") CORRECT
                                span(class="c-textField")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_4" name="tfInputRadio_2" value="2")
                                    label(for="inputRadio_4" class="c-CheckSelected") NOT CORRECT

                            p(class="mt20")   
                                strong(class="u-textColor_4-dark") 3.
                                |  The Titanic could have been a very luxurious ship on the inside.

                            div(class="row-flex justify-center")
                                span(class="c-textField mr10")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_5" name="tfInputRadio_3" value="1")
                                    label(for="inputRadio_5" class="c-CheckSelected") CORRECT
                                span(class="c-textField")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_6" name="tfInputRadio_3" value="2")
                                    label(for="inputRadio_6" class="c-CheckSelected") NOT CORRECT


                            p(class="mt20")   
                                strong(class="u-textColor_4-dark") 4.
                                |  The Titanic's passengers can’t have been very excited to climb aboard the ship.

                            div(class="row-flex justify-center")
                                span(class="c-textField mr10")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_7" name="tfInputRadio_4" value="1")
                                    label(for="inputRadio_7" class="c-CheckSelected") CORRECT
                                span(class="c-textField")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_8" name="tfInputRadio_4" value="2")
                                    label(for="inputRadio_8" class="c-CheckSelected") NOT CORRECT

                            p(class="mt20")   
                                strong(class="u-textColor_4-dark") 5.
                                |  It must have been going very fast when it was near the iceberg.

                            div(class="row-flex justify-center")
                                span(class="c-textField mr10")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_9" name="tfInputRadio_5" value="1")
                                    label(for="inputRadio_9" class="c-CheckSelected") CORRECT
                                span(class="c-textField")
                                    input(class="c-inputRadio" type="radio" id="inputRadio_10" name="tfInputRadio_5" value="2")
                                    label(for="inputRadio_10" class="c-CheckSelected") NOT CORRECT
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")