//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li Rather and Prefer are words used to show a choice from different options.
                    li(class="mt20") Notice the small difference between the structures of the sentences:
                    li(class="mt20") 
                        strong.u-textColor_3 Would rather 
                        | is followed by the 
                        strong.u-textColor_3 base form 
                        | of verbs.
                    li(class="mt20")
                        strong.u-textColor_3 Would prefer 
                        | is followed by 
                        strong.u-textColor_3 an infinite.
                



