//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_3")
	aside(class="template-asideLeft o-aside-Item")


	|
	|
	div(class="template-section m-a")
		section(class="template-content")
			div(class="row row-flex mt30 align-items-center")
				.row
					h5.ta-c Listen to the news report and answer the questions that follow.
				.row-flex.align-items-center.justify-between
					.col.xs12.md5
						.row-flex.align-items-center.justify-center
							audio(controls class='mt30')
								source(src='unit_2/module_7/assets/audios/self_3_1.mp3' type='audio/mpeg')
						.c-cardGreen
							.c-cardGreenContent.ta-c
								h5 Internet pirates want their own nation.
								h6 Monday, January 15, 2007
								p Read the full story here: #[a(href="https://en.wikinews.org/wiki/Internet_pirates_want_their_own_nation" target="blank") https://en.wikinews.org/]

						p.ta-j.mt30.
							#[strong.u-textColor_4 •] The Pirate Bay wishes to buy its own nation.

						.row
							input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_1" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_1") To escape prison due to copyright issues.
							input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_2" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_2") To be free of copyright laws.
							input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_3" value="3")
							label(class="c-Checkbox w100 ta-l " for="selInput_3") To earn more money as an online website.

						p.ta-j.mt30.
							#[strong.u-textColor_4 •] This period marks when Sealand was first inhabited:

						.row
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_12" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_12") In 1967.
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_13" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_13") Before 2006.
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_14" value="3")
							label(class="c-Checkbox w100 ta-l " for="selInput_14") After 1987.
					.col.xs12.md6

						p.ta-j.mt30.
							#[strong.u-textColor_4 •] The sovereign status of Sealand's platform remains disputed because.#[br]#[br]

						.row
							input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_4" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_4") The Royal family bought it.
							input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_5" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_5") The UK's expansion of its own territorial waters caused Sealand to fall under its jurisdiction.
							input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_6" value="3")
							label(class="c-Checkbox w100 ta-l " for="selInput_6") Prince Roy claimed its independence after living there for several years.


						p.ta-j.mt30.
							#[strong.u-textColor_4 •] Choose true or false.  #[br] #[br]
							Spanish estate agents determine the price of the island to be 504 million pounds.

						.row
							input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_7" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_7") True.
							input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_8" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_8") False.


						p.ta-j.mt30.
							#[strong.u-textColor_4 •] If the internet-pirate community can't afford to purchase the island,

						.row
							input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_9" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_9") It'll search for another small island.
							input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_10" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_10") It'll seek alternatives to try to buy it.
							input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_11" value="3")
							label(class="c-Checkbox w100 ta-l " for="selInput_11") It'll shut down its website.


	|
	|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
		button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
