@charset "utf-8";

$MultimediaImages   : '../images/';

.u-{
    &bgTemplate{
        background-image: url(#{$MultimediaImages}wel_bg.jpg);
        // background-color: #ff5252;
    }
}

.u-{
    &wordsComplete{
        background-color: #b04f52;
        color: #fff;
        padding: 10px;
        width: 100px;
        text-align: center
    }
}



.u-{
    &txtSpace{
        line-height: 2em;
    }
}

.act_9{
    .c-table_grid{
        display: grid;
        grid-template-columns:repeat(2 , minmax(100px, 1fr));
        grid-gap: 5px;
        &-th{
            background-color: var(--color_4);
            padding: 5px;
            color: white;
            font-weight: bold;
            text-align: center;
        }
        &-item{
            width: 100%;
            margin: 0;
            padding: 5px;
        }
    }
}