//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_4")
    aside(class="template-asideLeft o-aside-Item")

    |
    |
    div(class="template-section m-a" ng-init="unirColumnasFuncion()")
        section(class="template-content u-animationFadeDown")
            div(class="row mt30-md mt20-xs")
                h5 When speaking about family we use some common words.
                h6 Match these word with their meanings.
                div(class="col xs12 col-center mt30" data-ejercicio="unir")
                    div(id="sourceElements" class="js-columnas")
                        span(id="Item0_0" class="treeItem" onclick="setSource(this)" seleccion valor="1") Immediate family/nuclear family
                        span(id="Item0_1" class="treeItem" onclick="setSource(this)" seleccion valor="2") Extended family
                        span(id="Item0_2" class="treeItem" onclick="setSource(this)" seleccion valor="3") Siblings
                        span(id="Item0_3" class="treeItem" onclick="setSource(this)" seleccion valor="4") Distance relative
                        span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="5") Blood relative
                        span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="6") Related by marriage
                    div(id="linecanvas" style="width: 60px;")
                    div(id="targetElements" class=" js-columnas") 
                        span(id="Item1_0" class="treeItem" onclick="setTarget(this)" seleccion valor="6") Someone that you do not share genetic material with, you are only related through marriage. 
                        span(id="Item1_1" class="treeItem" onclick="setTarget(this)" seleccion valor="5") These are people that share genetic material with via same parents or grandparents etc. 
                        span(id="Item1_2" class="treeItem" onclick="setTarget(this)" seleccion valor="2") Your parents family members.
                        span(id="Item1_3" class="treeItem" onclick="setTarget(this)" seleccion valor="3") Your brothers and sisters.
                        span(id="Item1_4" class="treeItem" onclick="setTarget(this)" seleccion valor="4") Someone that is not closely related to your family eg. A cousin of your cousin.
                        span(id="Item1_4" class="treeItem" onclick="setTarget(this)" seleccion valor="1") Father, mother, siblings.

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck js-validarUnir")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()
