//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_11" )
    aside(class="template-asideLeft o-aside-Item")

    |
    |
    div(class="template-section m-a")
        section(class="template-content" )
            .row-flex.justify-between.align-items-center
                .col.xs12.md6.ta-c.mb30
                    img(src="unit_1/module_3/assets/images/act_11_1.png" alt="" class="u-responsive-img mt30 m-a")
                .col.xs12.md6
                    h5 Correcting or rephrasing what has been said (I)
                    p.ta-j When someone is speaking sometimes they make mistakes that could be due to a slip of the tongue or misinformation. When these errors occur it’s best to correct the speaker in a polite manner. A common way of doing this is by rephrasing. Reformulating is repeating what was said without the mistake.

                    .row-flex.align-items-center.mt30
                        button(class="c-btn-IconAction u-bgIconListen mr20" ng-audio="unit_1/module_3/assets/audios/act_11_1.mp3")
                        h6.u-textColor_4 Correcting a slip of the tongue
                    .row-flex.align-items-center.mt30
                        button(class="c-btn-IconAction u-bgIconListen mr20" ng-audio="unit_1/module_3/assets/audios/act_11_2.mp3")
                        h6.u-textColor_4 Correcting misinformation

            
    |
    |
    aside(class="template-asideRight o-aside-Item")

|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
script(src="./../assets/js/librerias/wordfind.js")
script(src="./../assets/js/librerias/wordfindgame.js")

