//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_17")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            .row
                p.ta-c Depending on the social context, it is always important to use appropriate language to initiate conversation. For office, work settings or with people you do not know, formal language is more appropriate. With friends, family or with people you know quite well, a more informal tone can be used.
                h6 With the following expressions, identify which would be formal or informal by writing them in the table provided.
            .c-cardGreen
                .c-cardGreenContent.row-flex.justify-around.padding20
                    ul.col.xs4
                        li • Good morning / afternoon / evening.
                        li • Hey. What’s up?
                        li • Ok. So, I’ll see you.
                        li • How’s everything?
                    ul.col.xs4
                        li • How’s it going?
                        li • It was really nice meeting you.
                        li • Hello. How are you doing?
                        li • So long.
                    ul.col.xs4
                        li • Good day Mr / Mrs / Ms.
                        li • Enjoy the rest of your day.
                        li • Take it easy.
                        li • Pleased to meet you.

            table(class="c-table-estilo_tres m-a")
                thead: tr
                    th Formal
                    th Informal
                tbody
                    tr
                        td: h5 To start a conversation
                        td: h5 To start a conversation
                    tr
                        td: input(type="text" class="c-input row js-escribir")
                        td: input(type="text" class="c-input row js-escribir")
                    tr
                        td: input(type="text" class="c-input row js-escribir")
                        td: input(type="text" class="c-input row js-escribir")
                    tr
                        td: input(type="text" class="c-input row js-escribir")
                        td: input(type="text" class="c-input row js-escribir")
                    tr
                        td: input(type="text" class="c-input row js-escribir")
                        td
                    tr
                        td: h5 To end a conversation
                        td: h5 To end a conversation
                    tr
                        td: input(type="text" class="c-input row js-escribir")
                        td: input(type="text" class="c-input row js-escribir")
                    tr
                        td: input(type="text" class="c-input row js-escribir")
                        td: input(type="text" class="c-input row js-escribir")
                    tr
                        td
                        td: input(type="text" class="c-input row js-escribir")




    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
