//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_7" ng-init="s_actividad = 1")
    aside(class="template-asideLeft o-aside-Item")

    |
    |
    div(class="template-section m-a")
        |
        section(class="template-content" )
            .row-flex.align-items-center
                
                .row
                    p When arguing, or giving opinions related to a particular topic, there are certain expressions that can be used to stress or emphasize one’s points of view. For example:
                    .col.xs12.md10.col-center   
                        ul.col.xs6 
                            li #[strong(class="u-textColor_4") •] I (strongly) believe that…
                            li #[strong(class="u-textColor_4") •] In my opinion…
                            li #[strong(class="u-textColor_4") •] As far as I am concerned…
                            li #[strong(class="u-textColor_4") •] To my knowledge…
                        ul.col.xs6 
                            li #[strong(class="u-textColor_4") •] The way I see it…
                            li #[strong(class="u-textColor_4") •] I think (that)…
                            li #[strong(class="u-textColor_4") •] From my point of view… 
                    .row.mt30

                        p #[strong(class="u-textColor_4") •] #[strong Eg1: The way I see it, ] European countries offer a better education than the US.
                        p #[strong(class="u-textColor_4") •] #[strong Eg2: I strongly believe that] education should be the right of every citizen.
                        p #[strong(class="u-textColor_4") •] #[strong Eg3: As far as I’m concerned ] second language acquisition is the best way to become more aware of other people and cultures.

                    .row.mt30   
                        p  #[strong(class="u-textColor_4") 1]. #[strong Using some of the above phrases, give your opinion or point of view on any of these topics. Remember to use comparisons where necessary. Record your answer and send it to your teacher. ]   

                        .col.xs12.md10.col-center   
                            span.col.xs4 #[strong(class="u-textColor_4") •] Beauty standards among various countries.
                            span.col.xs4 #[strong(class="u-textColor_4") •] Health care in your country compared to another.
                            span.col.xs4 #[strong(class="u-textColor_4") •] City life and rural Life.
                    .row.mt30
                        div(class="row c-ngRecorder" ng-audio-recorder id="mainAudio_a" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt1_mod3_act13',1)"): +ngRecorder
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-show="s_actividad == 2")
        button(class="c-btn-IconAction u-bgIconCheck" ng-show="s_actividad == 2")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")