//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_10" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5 Some words are the same whether you read them forwards or backwards. 
            p Examples in Spanish are OSO and some phrases such as LA RUTA NATURAL. These are called palindromes. Can you find 14 palindromes here?
            div(class="row-flex mt100-xs mt10-md")
                div(class="row mt10-sm")
                    img(src="unit_2/module_8/assets/images/act_18a.png" alt="" class="col xs3 u-responsive-img  showTo-md")
                    div(class="col xs12 md6 row-flex" )
                        div(id="puzzle" style="display:inline-block")
                        div(class="row ta-c min-h50 mt10"): button(id='solve' class="c-btn c-btn-Icon u-bgActWriting min-w100"): span Help: solve 1 word random
                    img(src="unit_2/module_8/assets/images/act_18b.png" alt="" class="col xs3 u-responsive-img  showTo-md")
                div(class="col xs12 ta-c md6 col-center  mt30")
                    div(id='words')
    
    |
    |
    aside(class="template-asideRight o-aside-Item")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
| 
script(src="./../assets/js/librerias/wordfind.js")
script(src="./../assets/js/librerias/wordfindgame.js")

script.
    $(function() {
        $( "#puzzle" ).draggable();
    });

script.
    
    function randomIntFromInterval(min,max){
        return Math.floor(Math.random()*(max-min+1)+min);
    }
    var words = ['bib', 'dad', 'did', 'kayak' , 'level' , 'minim', 'madam', 'mum' , 'noon' , 'racecar', 'reviver', 'rotator' , 'stats' , 'wow'];

    // start a word find game
    var gamePuzzle = wordfindgame.create(words, '#puzzle', '#words');

    $('#solve').click( function() {
        let helper = 0,
            help = randomIntFromInterval(0,words.length),
            resolve = words[help]
        if(helper == 0) $('#solve').css('display', 'none')
            wordfindgame.solve(gamePuzzle, [resolve]);
    });

    // create just a puzzle, without filling in the blanks and print to console
    var puzzle = wordfind.newPuzzle( words, {height: 10, width:18, fillBlanks: false} );
    wordfind.print(puzzle);