//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-r") 
                    strong /h/
                p(class="ta-r") El sonido /h/ se logra forzando el aire desde los pulmones por medio de la boca: cuando el aire pasa por la parte trasera de la boca, hay una cantidad leve de fricción. La pronunciación de /h/ es sorda y no tiene un equivalente sonoro y se encuentra solo al principio o en la mitad de las palabras. El sonido /h/ en inglés es mucho más suave que sonidos similares en otros idiomas.