//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_10" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt100-xs mt10-md")
                div(class="col-flex-xs12 col-flex-md5 col-center mt30-md ta-c showTo-md")
                    img(src="unit_2/module_8/assets/images/act_17.png" alt="" class="u-responsive-img w60")
                div(class="col-flex-xs12 col-flex-md6 col-center mt10-sm")
                    div(class="c-cardGreen"): div(class="c-cardGreenContent ta-c ") 
                        p How do you prefer to learn and study? Identifying your learning preferences can help you make learning more memorable for you. Here are some ideas that might help you: 
                        p If you are a visual learner, you probably appreciate activities where you get to visualize the new information in different ways: through images, pictures, the use of colors and diagrams. If you are an auditory learner, you probably enjoy listening to your teacher, and you are someone who asks a lot of questions to clarify your understanding. If you are a kinesthetic learner, you probably enjoy activities that require you to do something: role-playing, matching activities, and project work are suitable activities for you.
                    
                    audio( controls class="row centrado mt20 w60")
                        source(src="unit_2/module_8/assets/audios/act_17.mp3" type="audio/mpeg")
                        | Your browser does not support the audio element.
    
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconListen" )
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")