//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-r") We use <strong>“used to”</strong> to talk about past states.
                p(class="ta-r") We use <strong>“would”</strong> to talk about repeated past actions.
                p(class="ta-r") Often either <strong>“would”</strong> or <strong>“used to”</strong> is posible.
                p(class="ta-r") However, only <strong>“used to”</strong> is posible when we talk about <strong>past states</strong>.
                p(class="ta-r") We use the <strong>past simple</strong> if something happened <strong>only once</strong>.
                p(class="ta-r") In this case we can´t use “used to” or “would” – we must use the <strong>past simple</strong>.




