//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-r") #[strong Would ] expresses that an activity was routine, frequently repeated in the past. If something happened #[strong only once ] we can´t use “would” - we must use the simple past. Would is followed by the #[strong base form ] of verbs.




