//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        
        section(class="template-content")
            
             div(class="row")

                div(class="c-flickity")
                    h5 #[strong.u-textColor_4 1. ] Choose the right word to complete the sentences.
                    br
                    div(class="row mt10")
                        |
                        div(class="row c-flickity-controls c-flickity-controls-flex")
                            div(class="c-flickity-controlsSlides")
                                button(class="c-flickity-button is-selected ") Exercises 1
                                button(class="c-flickity-button ") Exercises 2
                                button(class="c-flickity-button ") Exercises 3
                                button(class="c-flickity-button ") Exercises 4
                                button(class="c-flickity-button ") Exercises 5
                                button(class="c-flickity-button ") Exercises 6
                                button(class="c-flickity-button ") Exercises 7
                                button(class="c-flickity-button ") Exercises 8
                                button(class="c-flickity-button ") Exercises 9
                                button(class="c-flickity-button ") Exercises 10
                                span(class="c-flickity--cell-total") 10
                            button(class="c-flickity-button c-flickity-button--previous") ←
                            button(class="c-flickity-button c-flickity-button--next") →
                    div(class="row mt50-sm")
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_1.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm11")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | I worked #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_a")] the holidays.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                                            label(for="inputRadio_1" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                                            label(for="inputRadio_2" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="3")
                                            label(for="inputRadio_3" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_2.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | We’ll walk #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_b")] an hour. Then we’ll have a rest.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_2" value="1")
                                            label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_2" value="2")
                                            label(for="inputRadio_5" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_2" value="3")
                                            label(for="inputRadio_6" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_3.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm11")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | She is gardening #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_c")] her husband is painting the chairs.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_3" value="1")
                                            label(for="inputRadio_7" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_3" value="2")
                                            label(for="inputRadio_8" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_3" value="3")
                                            label(for="inputRadio_9" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_4.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | Belisario called me #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_d")] the meeting.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_4" value="1")
                                            label(for="inputRadio_10" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_4" value="2")
                                            label(for="inputRadio_11" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_4" value="3")
                                            label(for="inputRadio_12" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_5.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | We met #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_e")] the barbecue party.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_5" value="1")
                                            label(for="inputRadio_13" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_5" value="2")
                                            label(for="inputRadio_14" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_5" value="3")
                                            label(for="inputRadio_15" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_6.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | I’ve been waiting for them #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_f")] two hours.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_16" name="SelInputRadio_6" value="1")
                                            label(for="inputRadio_16" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_f='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_17" name="SelInputRadio_6" value="2")
                                            label(for="inputRadio_17" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_f='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_18" name="SelInputRadio_6" value="3")
                                            label(for="inputRadio_18" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_f='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_7.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | Samantha visited the Salt Cathedral #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_g")] her stay in Zipaquira.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_19" name="SelInputRadio_7" value="1")
                                            label(for="inputRadio_19" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_g='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_20" name="SelInputRadio_7" value="2")
                                            label(for="inputRadio_20" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_g='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_21" name="SelInputRadio_7" value="3")
                                            label(for="inputRadio_21" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_g='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_8.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_h")] I think of it, don’t forget to call Mr. Blair.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_22" name="SelInputRadio_8" value="1")
                                            label(for="inputRadio_22" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_h='For'") For

                                            input(class="c-inputRadio" type="radio" id="inputRadio_23" name="SelInputRadio_8" value="2")
                                            label(for="inputRadio_23" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_h='During'") During

                                            input(class="c-inputRadio" type="radio" id="inputRadio_24" name="SelInputRadio_8" value="3")
                                            label(for="inputRadio_24" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_h='While'") While
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_9.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | Don’t speak #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_i")] I am doing this exercise!
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_25" name="SelInputRadio_9" value="1")
                                            label(for="inputRadio_25" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_i='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_26" name="SelInputRadio_9" value="2")
                                            label(for="inputRadio_26" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_i='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_27" name="SelInputRadio_9" value="3")
                                            label(for="inputRadio_27" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_i='while'") while
                        |
                        div(class="c-flickity--cell min-h400")
                            div(class="row-flex align-items-center")
                                div(class="col-flex-sm5 showTo-md")
                                    img(class="centrado u-responsive-img" src='unit_2/module_5/assets/images/act_5_10.png', alt='unsplash ramdon images')
                                div(class="col-flex-sm7 col-flex-xs12 col-center"): div(class="row-flex flex-colum")
                                    div(class="col-flex-md8 col-center col-flex-sm10")
                                        div(class="c-cardGreen")
                                            div(class="c-cardGreenContent")
                                                | Two years ago she stayed in Riohacha #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_j")] three months.
                                    |
                                    div(class="col-flex-xs12 col-flex-md8 col-center col-flex-sm10")
                                        div(class="row-flex")
                                            input(class="c-inputRadio" type="radio" id="inputRadio_28" name="SelInputRadio_10" value="1")
                                            label(for="inputRadio_28" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_j='for'") for

                                            input(class="c-inputRadio" type="radio" id="inputRadio_29" name="SelInputRadio_10" value="2")
                                            label(for="inputRadio_29" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_j='during'") during

                                            input(class="c-inputRadio" type="radio" id="inputRadio_30" name="SelInputRadio_10" value="3")
                                            label(for="inputRadio_30" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_j='while'") while
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
script.
    flickitySlide('c-flickity', 'c-flickity--cell', 'c-flickity-controlsSlides', 'c-flickity-button', 'c-flickity-button--previous', 'c-flickity-button--next');
