//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")

section(class="template-wrapper" )
   div(class="template-section m-a")
        section(class="template-content")
            ul: li #[a(ui-sref="activities({Unidad_id: 1, Module_id: 1, Activity_id: 'objetives'})") go to objetives]
            div(class="row-flex justify-center")
                div(class="col xs10 sm7 md5 mt200")
                    div(class="row-flex justify-center align-items-center")
                        img(src="unit_1/module_1/assets/images/wel_1.png", alt="" class="u-responsive-img")

//- footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")