//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a act_9" ng-init="unirColumnasFuncion()")        
        section(class="template-content")
            h5 Organizing activities chronologically.
            h6 Analyze the sentences and decide which event happens first and second.
            div(class="col xs10 md8 col-center mt20" data-ejercicio="unir")
                div(id="sourceElements" class="ancho350 js-columnas")
                    span(id="Item0_0" class="treeItem", onclick="setSource(this)" seleccion valor="1") We had been sleeping for 12 hours
                    span(id="Item0_1" class="treeItem", onclick="setSource(this)" seleccion valor="2") I had not been walking long.
                    span(id="Item0_2" class="treeItem", onclick="setSource(this)" seleccion valor="3") We had been looking for her ring for 2 hours
                    span(id="Item0_3" class="treeItem", onclick="setSource(this)" seleccion valor="4") How long had she been learning English
                    span(id="Item0_4" class="treeItem", onclick="setSource(this)" seleccion valor="5") because they had been helping on the farm all day.
                div(id="linecanvas" style="width: 60px;")
                div(id="targetElements" class="ancho350 js-columnas") 
                    span(id="Item1_0" class="treeItem", onclick="setTarget(this)" seleccion valor="2") When it suddenly began to rain.
                    span(id="Item1_1" class="treeItem", onclick="setTarget(this)" seleccion valor="1") when he woke us up.
                    span(id="Item1_2" class="treeItem", onclick="setTarget(this)" seleccion valor="5") They were very tired in the evening.
                    span(id="Item1_3" class="treeItem", onclick="setTarget(this)" seleccion valor="4") before she went to Australia?
                    span(id="Item1_4" class="treeItem", onclick="setTarget(this)" seleccion valor="3") and then we found it in the bathroom.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()" )
        button(class="c-btn-IconAction u-bgIconCheck js-validarUnir")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
// ============================== 

script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()