//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        strong As a matter of fact
                        |   means "in fact", actually", or "in addition to what has been said", "in reference to what has been said".
                        br
                        br
                        | It is used to emphasize the truth of what you are saying.
                    



