//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
        
            div(class="row-flex align-items-center")

                div(class="col-flex-sm12 col-flex-md5 col-center")

                    h6 #[strong.u-textColor_4 1. ] Read and listen to the text about Jay White. Then complete the table by identifying the verb forms in the text and writing them in the correct column

                    button(class="c-btn-Icon u-bgIconListen mt30 centrado" ng-audio="unit_2/module_5/assets/audios/act_14.mp3")

                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent")
                            p 
                                | Jay White has always wanted to be a writer. He wrote his first story when he was five and sent it into a competition - it won! After he had won the competition he started writing every day. His first book was published in 1979 when he was only 12. "I'd been writing for several years but I was still really excited when my first book came out."
                            p
                                | Since then he has written more than thirty books. Last year he entered another competition. He chose to enter a book he had written when he was only nine. Why did he choose this particular book? "I'd been thinking about this story for a long time. Although I was only nine when I wrote it, I thought it was one of the best stories I have ever created.”

                div(class="col-flex-sm12 col-flex-md6 offset-md1 col-center") 
                    div(class="row")
                        img(src="./unit_2/module_5/assets/images/act_14_1.png", alt="", srcset="" class="u-responsive-img centrado w80")

                    div(class="row-flex justify-center mt30")
                        table(class="c-table-estilo_uno centrado ta-c")
                            thead
                                tr
                                    th Past Perfect
                                    th Past Perfect Continuous
                                    
                            tbody
                                tr
                                    td.w50 
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir h30")
                                    td.w50 
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir h30")

                                tr
                                    td 
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir h30")
                                    td 
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir h30")

                                tr
                                    td 
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir h30")
                                    td 
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|