//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        p 
                            | We use the past perfect 
                            strong (had left)
                            |  because the action happened before another action in the past (Mariana rang the doorbell.)

                        p
                            | When we talk about something that happened before in the past we sometimes want to refer back to something that happened before that time. We can use the past perfect tense 
                            strong (had + past participle) 
                            | to do this.

                        p
                            | The past perfect can also be used in the continuous form:
                            strong  had + been + ing.