//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        p
                            | Use 
                            strong "for" 
                            | with a period of time to express the duration or "how long" something has happened:
                            br
                            br
                            | - for three weeks 
                            br
                            | - for many years

                        p
                            | Use 
                            strong "while" 
                            | with a verb form:
                            br
                            br
                            | - while I was watching TV.
                            br
                            | -  while I lived in New York.

                        p 
                            | Use 
                            strong "during" 
                            | with a noun to express "the moment or occasion when" something happens:
                            br
                            br
                            | - during class
                            br
                            | - during my vacation
                            br
                            | - during the discussion



                    



