//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_4")
    aside(class="template-asideLeft o-aside-Item")


    |
    |
    div(class="template-section m-a")
        section(class="template-content" ng-init="unirColumnasFuncion()")                  
                            
            h5.ta-c Match the following phrases of encouragement to their meaning.  
            div(class="row row-flex mt30 align-items-center")

                .col.xs12.md6
                    div(class="row mt30-md mt20-xs .row-flex.align-items-center")
                        div(class="col xs12 col-center" data-ejercicio="unir")
                            div(id="sourceElements" class="ancho270 js-columnas")
                                span(id="Item0_0" class="treeItem" js-bien = 'jsbien' jsvalida = 'jsvalida' onclick="setSource(this)" seleccion valor="1") It’s worth a shot.
                                span(id="Item0_1" class="treeItem" js-bien = 'jsbien' jsvalida = 'jsvalida' onclick="setSource(this)" seleccion valor="2") Go for it.
                                span(id="Item0_2" class="treeItem" js-bien = 'jsbien' jsvalida = 'jsvalida' onclick="setSource(this)" seleccion valor="3") Believe in yourself.
                                span(id="Item0_3" class="treeItem" js-bien = 'jsbien' jsvalida = 'jsvalida' onclick="setSource(this)" seleccion valor="4") Don’t give up.
                                span(id="Item0_4" class="treeItem" js-bien = 'jsbien' jsvalida = 'jsvalida' onclick="setSource(this)" seleccion valor="5") Think positive.
                            div(id="linecanvas" style="width: 60px;")
                            div(id="targetElements" class="ancho270 js-columnas") 
                                span(id="Item1_0" class="treeItem" jsblock = 'jsblock' jsvalidb = 'jsvalidb' onclick="setTarget(this)" seleccion valor="2") Encourage someone to put more effort into doing something.
                                span(id="Item1_1" class="treeItem" jsblock = 'jsblock' jsvalidb = 'jsvalidb' onclick="setTarget(this)" seleccion valor="3") To have confidence in your abilities.
                                span(id="Item1_2" class="treeItem" jsblock = 'jsblock' jsvalidb = 'jsvalidb' onclick="setTarget(this)" seleccion valor="1") You should try because there is a chance of success.
                                span(id="Item1_3" class="treeItem" jsblock = 'jsblock' jsvalidb = 'jsvalidb' onclick="setTarget(this)" seleccion valor="5") Do not think negatively about something that is about to happen.
                                span(id="Item1_4" class="treeItem" jsblock = 'jsblock' jsvalidb = 'jsvalidb' onclick="setTarget(this)" seleccion valor="4") To keep trying to do something even if it is difficult.


                .col.xs12.md6.ta-c
                    img(src="unit_2/module_6/assets/images/self_4_1.png", alt="", class="u-responsive-img")



    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck")
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")

script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()
style.
    .treeItem[correcta="bien"],
    .treeItem_hi[correcta="bien"],
    .treeItem_set[correcta="bien"]{
        background-color: var(--color_good);
        color: white;
    }
    .treeItem[correcta="mal"],
    .treeItem_hi[correcta="mal"],
    .treeItem_set[correcta="mal"]{
        background-color: var(--color_wrong);
        color: white;
    }

    .treeItem[jsblock="jsblock"]{
        cursor: no-drop;
        pointer-events :none;
    }
