//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_6" ng-init="ContadorPalabras(200)")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")

            div(class="row row-flex mt30")
                p  What is your opinion? #[strong Some people think that instead of preventing climate change, we need to find a way to live with it. To what extent do you agree or disagree?] Minimum 200 words.

                .row.mt30
                    .col.xs12.md6.ta-c: img(src="unit_2/module_6/assets/images/self_6_1.png", alt="", class="u-responsive-img")

                    .col.xs12.md6
                        div(class="c-wrapTextarea ")
                            textarea(placeholder="Write here..." class="campo c-textarea h200" ng-model="textousuario")
                            div(class="c-wrapTextarea__counter")
                                span(id="contador") 0 
                                span(ng-bind="limitePalabras")
                                span(id="alertamensaje")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="enviarTexto()" ng-show="enviarMensaje_minPalabras")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")