//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2")
    aside(class="template-asideLeft o-aside-Item" ng-init="s_actividad = 1")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")

    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")

            div(class="row row-flex")
                h5 Choose the option that best matches the use and the meaning.
            div(class="row row-flex")
                div(class="col-flex-xs12 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w40") Meaning
                            th(class="w40") Use

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td The act of getting or obtaining something.
                                td The procurement of the new constructions materials will be done by next week.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td The direct sale of goods to customers in small quantities.
                                td My younger brother works in retail in the capital.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td Located in or related to places across the sea.
                                td The U.N. has several overseas aids programs.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td Be under obligation to pay someone.
                                td Michael owed me 10,000 pesos last month, but he managed to pay it.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td Sum of money due to an employee based on length of employment.
                                td How were you given for your severance pay?

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    opOion(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td Skill in an occupation or trade.
                                td The Craftsmanship of these clothes are impeccable.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td To have the financial means to do something.
                                td Many people can’t afford basic.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td In every part of.
                                td There are several athletics competitions throughout the year.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td A system whereby people are trusted to be honest and not take advantage of others.
                                td The honor system in place at the prison has been largely successful.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td A list of some things one would like to achieve.
                                td Karen’s wishlist for her 50th birthday included a trip to The Bahamas.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td The process of going out of use.
                                td The obsolescence of gas operated vehicles is fast becoming a reality.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td To fix and repair.
                                td My parents mended their broken relation.

        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")
            div(class="row row-flex")
                div(class="col-flex-xs12 col-flex-md6 m-a mt20"): .col-flex-xs12.col-flex-md11.ta-c
                    img(src="unit_3/module_9/assets/images/act_2_1.png" alt="" class="u-responsive-img")
                div(class="col-flex-xs12 col-flex-md6 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w40") Meaning
                            th(class="w40") Use

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td To join or unite.
                                td The agreement soldered the two belligerent countries.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td A body of water controlled by a barrier.
                                td The dam burst and caused a huge flood.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td The work or craft done by a joiner, carpenter or woodworker.
                                td Marcus’ joinery is perfect.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td The craft or art of making earthenware such as plates, bowls or vases.
                                td That shop sells some beautiful pottery.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="2") Retail
                                    option(value="5") Overseas
                                    option(value="6") Severance pay
                                    option(value="3") Pottery
                                    option(value="1") Owe
                                    option(value="7") Obsolescence
                                    option(value="4") Abruptly
                                    option(value="8") Solder
                                    option(value="12") Wishlist
                                    option(value="9") Joinery
                                    option(value="11") Afford
                                    option(value="17") Darn
                                    option(value="16") Craftsmanship
                                    option(value="10") Procurement
                                    option(value="14") Mend
                                    option(value="15") Throughout
                                    option(value="13") Honor system
                                td Quick and without warning
                                td The car stopped abruptly when the traffic lights turned red.


    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
