//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_2")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" )
            .row-flex
                p.xs12.md6.ta-j.
                    #[strong Read the following story and then answer the questions that follow].#[br]#[br]
                    #[strong Harnessing the power of 3D printing to transform the lives of Colombia’s landmine victims]#[br]#[br]
                    Our new charity in Medellin is using 3D printing technology to help Colombia’s landmine victims and children in need. You can help us.#[br]
                    The Colombian Government has a target to clear the country of landmines by 2021, a target we hope can be met because as long as landmines are scattered around the countryside,
                    people will continue to be maimed or even killed by them, war or no war.#[br]
                    In October 2016, a significant milestone was reached in the country’s ongoing quest to restore normality to the rural regions most affected by the country’s 52-year conflict: President
                    Juan Manuel Santos declared three additional municipalities free of landmines, bringing the total across the country to eight.#[br]
                    The devastating impact of landmines in Colombia is relatively well-reported, but unsolved: between 1990 and 2014, over 11,400 became a victim of landmines. More than 1,120 of these
                    victims are children.#[br]
                    Despite the valiant efforts of mine clearance organizations such as The Halo Trust, Decontamina Colombia and the UN Mine Action Service, in the first half of 2017 an additional 16 people
                    became victims of landmines, 12 of whom were civilians.#[br]
                    Our home is Antioquia, the province with the greatest number of landmines in Colombia, the country with the second-largest number of landmine victims in the world after Afghanistan.#[br]
                    In order to help victims, we have established a charity with an innovative solution to help those who have been injured by these horrible artifacts to rebuild their lives, regain their
                    independence and return to normality.#[br]
                    As part of the global Enabling the Future network, at Enable Medellin we’re harnessing the power of 3D printing to provide people in need in Colombia with free, personalized 3D printed
                    prosthetic arms and devices.#[br]
                    Traditionally a prosthetic arm can cost between US$5000 to US$100k, an obviously prohibitive cost to many Colombians. By using 3D printing technology, we not only save on costs, but
                    are able to produce quality, personalized prosthetics in just 2 weeks.#[br]
                    We can work with people missing any part of their arm from the elbow, down, e.g. fingers, hand, or the entire forearm. All new hands and arms are fully functional mechanical prosthetics,
                    which we always provide to the recipient free of charge.#[br]
                    We’re just getting started and have assembled a great team of local and international volunteers which includes doctors, bio engineers, students, artists, digital nomads and the general
                    public.#[br]
                    To date we have assessed 10 people, 7 of whom we have been able to help, the majority of whom are children. Of the 3 adults we have assessed, we have been unable to help 2 people
                    due to the limitations of our current printers, which are too small to print adult-sized prosthetics.#[br]
                    In order to help these people and grow our impact, we’re currently raising funds through Generosity. A priority for us is to buy a larger 3D printer so that we are able to help more adults
                    who have been affected by landmines.#[br]
                    We are also looking to support more people in need. If you know someone who would benefit from our services, or an organization who could help with referrals, get in touch. You can
                    reach us at the same address if you’d like to volunteer in any way – we welcome a wide range of skills.#[br]
                    And if you’d like to see the technology in action, we’re running a workshop at our offices in Poblado, Medellín on 17th, 18th and 19th of andte de August. At the workshop, you’ll be able to learn how
                    to make prosthetic limbs using 3D printing, and connect with the Enable Medellín community. Find out more about that through our Facebook event or email to sign up.#[br]
                    Of course, we are also in need of money and supplies to continue helping the people of Colombia. So, give us a hand and we promise to give many more back!#[br]#[br]
                    Read the story here:#[a(href="https://colombiareports.com/harnessing-power-3d-printing-transform-lives-colombias-landmine-victims/")  https://colombiareports.com/harnessing-power-3d-printing-transform-lives-colombias-landmine-victims/]
                .col.xs12.md6.pl20
                    .col-center.mt30
                        h6.mb10 According to the author Colombians are mainly injured...
                    
                        input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                        label(for="inputRadio_1" class="c-CheckSelected row") During the war with guerillas.
                        input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                        label(for="inputRadio_2" class="c-CheckSelected row") In times of peace and war.
                        input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="3")
                        label(for="inputRadio_3" class="c-CheckSelected row") By the guerillas.
                    
                    .col-center.mt30
                        h6.mb10 The line “The devastating impact of landmines in Colombia is relatively well-reported, but unsolved” means.
                    
                        input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_2" value="1")
                        label(for="inputRadio_4" class="c-CheckSelected row") The did not replace the limbs of the injured victims. 
                        input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_2" value="2")
                        label(for="inputRadio_5" class="c-CheckSelected row") The landmines were not cleared.
                        input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_2" value="3")
                        label(for="inputRadio_6" class="c-CheckSelected row") The doctors don’t know how to treat the victims. 

                    .col-center.mt30
                        h6.mb10 Who has the most landmine victims.
                    
                        input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_3" value="1")
                        label(for="inputRadio_7" class="c-CheckSelected row") The author didn’t say.
                        input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_3" value="2")
                        label(for="inputRadio_8" class="c-CheckSelected row") Afghanistan.
                        input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_3" value="3")
                        label(for="inputRadio_9" class="c-CheckSelected row") Colombia.

                    .col-center.mt30
                        h6.mb10 Currently the charity helps...
                    
                        input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_4" value="1")
                        label(for="inputRadio_10" class="c-CheckSelected row") Only children because their needs are more urgent.
                        input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_4" value="2")
                        label(for="inputRadio_11" class="c-CheckSelected row") A few adults because they can not afford to make adult prosthetics.
                        input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_4" value="3")
                        label(for="inputRadio_12" class="c-CheckSelected row") A few adults because the equipment is not adequate to help most. 
                    
                    .col-center.mt30
                        h6.mb10 You could conclude that the author is using this article to...
                    
                        input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_5" value="1")
                        label(for="inputRadio_13" class="c-CheckSelected row") Ask for help and collaboration for his organization.
                        input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_5" value="2")
                        label(for="inputRadio_14" class="c-CheckSelected row") Let people be aware of the peace process in Colombia.
                        input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_5" value="3")
                        label(for="inputRadio_15" class="c-CheckSelected row") Let people know about the 3D technology.
                   

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|

