//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_4")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            .row
                h5 Match these words to for the appropriate two word phrase:
                .row-flex.justify-center
                        div(class="col xs6 md3 mt30")                        
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Cloud
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Operating
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Phone 
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Information
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | State
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Cutting
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Outdated
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Shop
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | E
                                div(class="mb10 row-flex align-items-center justify-center u-bgColor_1-lighter  h60")
                                        strong(class="u-textColor_4-dark")
                                        | Cyber


                
                        div(class="col xs6 md3 mt30 sortable" data-ejercicio="sortable" id="sortable" class="sortreload")

                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="2")
                                        strong(class="u-textColor_4-dark")
                                        | system
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="4")
                                        strong(class="u-textColor_4-dark")
                                        | technology
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="1")
                                        strong(class="u-textColor_4-dark")
                                        | storage
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="7")
                                        strong(class="u-textColor_4-dark")
                                        | software
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="9")
                                        strong(class="u-textColor_4-dark")
                                        | commerce
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="10")
                                        strong(class="u-textColor_4-dark")
                                        | attack
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="5")
                                        strong(class="u-textColor_4-dark")
                                        | of the art
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="3")
                                        strong(class="u-textColor_4-dark")
                                        | addiction
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="6")
                                        strong(class="u-textColor_4-dark")
                                        | edge
                                div(class="mb10 row js-sortdrag ui-sortable--item h60" dataval="8")
                                        strong(class="u-textColor_4-dark")
                                        | online

    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSortable()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="sortable()")
    script.
        $(function(){
            $( ".sortable" ).sortable();
            $( ".sortable" ).disableSelection();
        });
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|

