//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_7" ng-init="ContadorPalabras(150)")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            .row
                .col.xs12.md6
                    .row-flex.justify-center
                        img(class="row u-responsive-img w80" src="unit_2/module_7/assets/images/col_7_1.png", alt="myColombia")
                    br
                    br
                    h6 #[strong.u-textColor_4 Quick Facts ]
                    ul
                        li #[span.u-textColor_4 Population ]: 44.3 million
                        li #[span.u-textColor_4 Internet Penetration ]: 56 percent 
                        li #[span.u-textColor_4 Social Media/ICT Apps Blocked ]: No
                        li #[span.u-textColor_4 Political/Social Content Blocked ]: No
                        li #[span.u-textColor_4 Bloggers/ICT Users Arrested ]: No
                        li #[span.u-textColor_4 Press Freedom Status ]: Partly Free
                .col.xs12.md6.mt30-xs
                    h6.mb20 Write a report for a university teacher describing the information shown. 
                    p #[strong.u-textColor_4 »] You should write at least 150 words.
                    p #[strong.u-textColor_4 »] You should spend about 20 minutes on this task
                    div(class="c-wrapTextarea ")
                        textarea(placeholder="Write here..." class="campo c-textarea h200" ng-model="textousuario")
                        div(class="c-wrapTextarea__counter")
                            span(id="contador") 0 
                            span(ng-bind="limitePalabras")
                            span(id="alertamensaje")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconUpload" ng-click="enviarTexto()" ng-show="enviarMensaje_minPalabras")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
