//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            
            div(class="row-flex col-center mt50-xs mt100-md align-items-center")
                div(class="col-flex-xs12 col-flex-sm11 col-flex-md5 col-center pr10 pl10 ta-c")
                    
                    img(src="unit_3/module_10/assets/images/test_2.png", alt="self_5" class="u-responsive-img mb30")
                
                
                div(class="col-flex-xs12 col-flex-sm11 col-flex-md5 col-center pr10 pl10")
                    
                    div(class="row mb20")
                        p 
                            strong: span(class="u-textColor_4-dark") 1. 
                            span  I am going to call Martha to give her the news right now! 
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="SelectRadio_1" name="selection_1" value="1")
                                label(for="SelectRadio_1" class="c-CheckSelected row ml10 mr10") Scheduled in the future.
                                input(class="c-inputRadio" type="radio" id="SelectRadio_2" name="selection_1" value="2")
                                label(for="SelectRadio_2" class="c-CheckSelected row ml10 mr10" ) Intention, plan already in action.
                    
                    div(class="row mb20")
                        p 
                            strong: span(class="u-textColor_4-dark") 2. 
                            span You are not going to believe what happened. 
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="SelectRadio_3" name="selection_2" value="1")
                                label(for="SelectRadio_3" class="c-CheckSelected row ml10 mr10" ) Prediction.
                                input(class="c-inputRadio" type="radio" id="SelectRadio_4" name="selection_2" value="2")
                                label(for="SelectRadio_4" class="c-CheckSelected row ml10 mr10" ng-click="txtcaptura_e='to'") The future as it relates to current reality.

                    div(class="row mb20")
                        p 
                            strong: span(class="u-textColor_4-dark") 3. 
                            span She is going to be so happy when you give her the present.
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="SelectRadio_5" name="selection_3" value="1")
                                label(for="SelectRadio_5" class="c-CheckSelected row ml10 mr10" ) Prediction.
                                input(class="c-inputRadio" type="radio" id="SelectRadio_6" name="selection_3" value="2")
                                label(for="SelectRadio_6" class="c-CheckSelected row ml10 mr10" ) About to happen.

                    div(class="row mb20")
                        p 
                            strong: span(class="u-textColor_4-dark") 4. 
                            span Javier is going to the gym after class today.
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="SelectRadio_7" name="selection_4" value="1")
                                label(for="SelectRadio_7" class="c-CheckSelected row ml10 mr10" ) Intention, plan already in action.
                                input(class="c-inputRadio" type="radio" id="SelectRadio_8" name="selection_4" value="2")
                                label(for="SelectRadio_8" class="c-CheckSelected row ml10 mr10" ) Prediction.
                        
                    div(class="row mb20")
                        p 
                            strong: span(class="u-textColor_4-dark") 5. 
                            span I wonder how the teacher is going to tell him that he failed the course.  
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="SelectRadio_9" name="selection_5" value="1")
                                label(for="SelectRadio_9" class="c-CheckSelected row ml10 mr10" ) Guess.
                                input(class="c-inputRadio" type="radio" id="SelectRadio_10" name="selection_5" value="2")
                                label(for="SelectRadio_10" class="c-CheckSelected row ml10 mr10" ) About to happen.

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_1/module_1/activities/act_6_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")