//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_2"  ng-init="s_actividad = 1")
	aside(class="template-asideLeft o-aside-Item")
		button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
		button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
	|
	|
	div(class="template-section m-a")
		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")
			h5.ta-c Read the following extract and choose the correct answers.
			div(class="row")
				div(class="c-flickity")
					div(class="row mt10 mb30")
						div(class="row c-flickity-controls c-flickity-controls-flex")
							div(class="c-flickity-controlsSlides")
								button(class="c-flickity-button is-selected ") Exercises 1
								button(class="c-flickity-button ") Exercises 2
								span(class="c-flickity--cell-total") 2
							button(class="c-flickity-button c-flickity-button--previous") ←
							button(class="c-flickity-button c-flickity-button--next") →
					div(class="row mt50-sm ")
						div(class="c-flickity--cell"): div(class="row" style="height:680px; overflow-x: hidden; overflow-y:auto;")
							.c-cardGreen
								.c-cardGreenContent.u-textColor_1
									.row
										.col.xs12.md6
											h5.ta-c Eastern europe makes american democracy look pretty good
											p.ta-c: i We have a long way to go before we lose the fight
											p.ta-c Chris Winters posted Jul 28, 2017
											p.ta-j.
												#[strong 1] I just got back from a trip to Hungary last week, and I had this revelation: Things aren’t
												all that bad in the United States right now.#[br]
												The current cynical take is that we’re still OK because the Trump administration’s
												#[strong malevolence] has been counterbalanced by its incompetence. That’s hardly a
												consolation, much less a #[strong fail-safe] plan for the next three and a half years.#[br]
												Shortly after the 2016 election, Yale University historian Timothy Snyder identified 20
												lessons from the 20th century about how authoritarianism takes root in democratic
												societies, but even he agrees that it’s a little premature to be disillusioned. So far, we still
												are fighting back. Even though we should never say never when it comes to the Trump
												state, we could keep a few things in context.#[br]
												Hungary, for instance.#[br]#[br]
												#[strong 2] I went to Hungary for personal reasons:#[br]
												I used to live there, and my #[strong in-laws] still do, and
												#[img(src="unit_3/module_12/assets/images/self_2_1.png" alt="" class="u-responsive-img w40 ml10 mt10" align="right")]
												I visit every few years. The country’s trajectory
												since 2010 is a cautionary tale for us.#[br]
												From the country’s independence in 1920
												through 1989, Hungary was governed by
												nationalist or communist autocrats. Its
												experience with democracy only functionally
												began in 1989 when the Iron Curtain fell and the
												newly freed nation amended its constitution to
												transform into a modern democratic republic.


										.col.xs12.md6
											p.ta-j.
												#[img(src="unit_3/module_12/assets/images/self_2_2.png" alt="" class="u-responsive-img w40 ml10 mt10" align="right")]
												#[strong 3] But since 2010, the government of Prime
												Minister Viktor Orbán has steadily transformed
												Hungary from a once-promising emergent
												democracy into a throwback to its authoritarian
												and nationalist past. There are a lot of little
												reasons for Hungary’s backsliding, but the
												main one is Orbán himself, a man, like Trump,
												who knows how to seize a political moment.#[br]
												In the 1980s, this dynamic young lawyer
												became one of the first public figures to
												call for the end of the Soviet occupation,
												and his party, Fidesz, was an advocate
												of Western values in opposition to the
												socialist government. After Fidesz obtained
												a supermajority of Parliament seats in
												2010, Orbán rapidly consolidated power, forcing critics out of the party and passing
												constitutional amendments that tightened government control of broadcast and print
												media and reduced the independence of the judiciary.#[br]
												Orbán’s nationalism found another target in the waves of refugees from Syria and
												other war-torn regions that began pouring over the border from Serbia in 2015 until
												the government fenced off the border. Orbán also has been trying to rid Hungary of
												NGOs, particularly those that draw funding from Western sources.#[br]#[br]
												#[strong 4] His favorite boogeyman is Hungarian American financier George Soros, who opened
												his Open Society Foundations’ Budapest office in 1984 to promote democratization
												and civil society and established Central European University in the city to educate
												a new generation of democratic leaders from the region. This year the government
												launched a $21 million advertising campaign—with billboards along highways and
												posters in train stations and other public places—which takes aim at Soros with thinly
												disguised anti-Semitism.



						div(class="c-flickity--cell"): div(class="row" style="height:680px; overflow-x: hidden; overflow-y:auto;")
							.col.colxs12.md6
								.c-cardGreen
									.c-cardGreenContent.u-textColor_1
										.row
											p.ta-j.
												#[img(src="unit_3/module_12/assets/images/self_2_3.png" alt="" class="u-responsive-img w40 mr10 mt10" align="left")]
												#[strong 5] It’s a strategy that has benefitted Orbán: The
												third-largest political party in Parliament is now
												Jobbik, an extremist right-wing group that has
												its own paramilitary group of supporters. Over
												the years, Orbán has co-opted several Jobbik
												positions to maintain his popularity, but the
												only result has been to make Jobbik lurch even
												further rightward. Street protests against the
												government are common in Budapest these
												days, but the rest of the country, especially the
												rural areas, is more quiescent.#[br]#[br]
												The xenophobia, the bigotry, the rural people
												versus city people—it’s all familiar. We have
												a nationalist authoritarian in charge, and we
												also have had frequent demonstrations across the country.
											p.ta-l.
												Read the full story here:#[a(href="http://www.yesmagazine.org/new-economy/eastern-europe-makes-american-democracy-look-pretty-good-20170728") www.yesmagazine.org/ ]
							.col.xs12.md6: .col.xs12.md11.offset-md1
										p.ta-j.
											#[strong.u-textColor_4 •] Choose the most appropriate heading for the following excerpt:#[br]#[br]
											I went to Hungary for personal reasons: I used to live there, and my in-laws still do, and I visit
											every few years. The country’s trajectory since 2010 is a cautionary tale for us.
											From the country’s independence in 1920 through 1989, Hungary was governed by nationalist
											or communist autocrats. Its experience with democracy only functionally began in 1989 when
											the Iron Curtain fell and the newly freed nation amended its constitution to transform into a
											modern democratic republic.
										.row
											input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_1" value="1")
											label(class="c-Checkbox w100 ta-l " for="selInput_1") My Hungarian roots.
											input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_2" value="2")
											label(class="c-Checkbox w100 ta-l " for="selInput_2") Democracy in Hungary.
											input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_3" value="3")
											label(class="c-Checkbox w100 ta-l " for="selInput_3") Hungary and Europe.


		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")

			.row
				.col.xs12.md6
					p.ta-j.mt30.
						#[strong.u-textColor_4 •] Choose “true”, “false” or “information not given”. #[br] #[br]
						The author is Hungarian.

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_4" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_4") True.
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_5" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_5") False.
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_6" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_6") Information not given.

					p.ta-j.mt30.
						#[strong.u-textColor_4 •] Match the information given with one of the paragraphs from the text. #[br] #[br]
						The Hungarian government does not like George Soros.

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_7" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_7") 2.
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_8" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_8") 3.
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_9" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_9") 4.

					.row.mt30
						p.
							#[strong.u-textColor_4 •]
							Fill in the summary using the words from the paragraph. #[br]#[br]
							We have #[input(type="text" class="c-input ta-c" disabled ng-model="txtcaptura_a")] in place, so if anything goes wrong we will be OK.
						.row
							input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_10" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_10") fail-safe
							input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_11" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_11") in-laws
							input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_12" value="3")
							label(class="c-Checkbox w100 ta-l " for="selInput_12") malevolence


				.col.xs12.md6


					.row
						p.ta-j.mt30.
							#[strong.u-textColor_4 •] Choose the correct answer.#[br]#[br]
							Viktor Orbán strongly believes in...
						.row
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_13" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_13") Freedom of the press.
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_14" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_14") Nationalism.
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_15" value="3")
							label(class="c-Checkbox w100 ta-l " for="selInput_15") Open borders.
					.row.ta-c.mt30
						img(src="unit_1/module_3/assets/images/act_3_1.png" alt="" class="u-responsive-img w80 m-a" align="left")



	|
	|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
		button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
script.
	flickitySlide('c-flickity', 'c-flickity--cell', 'c-flickity-controlsSlides', 'c-flickity-button', 'c-flickity-button--previous', 'c-flickity-button--next','680');

|
|
