//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_1")
	aside(class="template-asideLeft o-aside-Item" ng-init="s_actividad = 1")

	|
	|
	div(class="template-section m-a")
		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")

				div(class="row row-flex")
					h5  Choose the option that best matches the use and the meaning.
				div(class="row row-flex")
					table(class="c-table-estilo_tres m-a")
						thead
							tr
								th(class="w20") Word
								th(class="w40") Meaning
								th(class="w40") Use
						tbody
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td Complex and often long narrative consisting of characters and scenes.
								td.padding10 I know you still prefer to read novels in book form, but I really think you should try an E-reader.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td A firm foundation.
								td.padding10 If you want to develop apps for iPhone, you will need a bedrock of programming knowledge first.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td A group of specific, related words often in a particular field.
								td.padding10 Also to work in app design, you will need a good understanding of programming terms.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td To send out.
								td.padding10 We issued the new operating system update this morning to all departments, so now everyone should be up to date.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td Principles shared among people of particular professions, often believed true.
								td.padding10 One of the tenets of IT security professionals is that protecting private user information is of primary importance.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td To make an effort to reach something.
								td.padding10 John loves working with Artificial Intelligence, and building projects within this field has become a more enjoyable pursuit for him than any other goal he has.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td Large or wide.
								td.padding10 Web development, although a specific skill, can be broadly applied to many different IT fields.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td Thorough, deep, comprehensive.
								td.padding10 Before we start the new server installation,,installation, we need an in depth understanding of the current system  tosystem to make sure nothing goes wrong.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td A guideline or plan designed to support something.
								td.padding10 We have a framework for redesigning the client’s website, now we just need to start making the changes.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td A landlord who typically does not maintain apartments well while often charging high prices.
								td.padding10 The internet service in this building has gotten worse during our lease because our landlord is a slumlord who refuses to upgrade the cable lines.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td Considered in isolation, aside from other things.
								td.padding10 In and of itself, Android 7 functions well, but i’mI’m not sure it’s good enough to make people want to upgrade.
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td Better than someone else.
								td.padding10 John was able to stop the hackers, and now he thinks he’s holier than thou, but he was just following procedure.	|
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td Point of encountering a difficult situation or test.
								td.padding10 OK, the servers are installed and the system is ready to go. I hope all goes well, this is where the rubber meets the road.	|
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td To make an attempt at something.
								td.padding10 We endeavored to upgrade the office to Windows 10, but some people had difficulties.	|
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td The current trend.
								td.padding10 No one used to do their banking online, but now it’s become mainstream.	|
							tr 
								td.pl15
									select(name="act_2_1" class="c-select w95")
										option(value="" disabled selected) 
										option(value="1") Isuue
										option(value="2") In and of itself
										option(value="3") Substitute
										option(value="4") Broadly
										option(value="5") Pursuits
										option(value="6") Novel
										option(value="7") Bedrock
										option(value="8") Tenet
										option(value="9") Framework
										option(value="10") Slumlord
										option(value="11") Holier than thou
										option(value="12") Rubber meets the road
										option(value="13") endeavor
										option(value="14") In-depth
										option(value="15") Mainstream
										option(value="16") Terms
								td To take the place of.
								td.padding10 The new cables didn’t function well, but we found substitutes that worked sufficiently.
	|
	|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
		button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
