//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")


|
|
section(class="template-wrapper act_7" ng-init="s_actividad = 1" )
	aside(class="template-asideLeft o-aside-Item" )




	|
	|
	div(class="template-section m-a")
		|
		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1" )
			p Sometimes you will have to sympathize with a person who has experienced pain or grief for the loss of someone dear to them. These are some of the phrases that you can use to express condolence in English.

			h6 Listen to the expressions and repeat them.

			.row.mt30
				.col.xs12.md6
					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_1.mp3" )
						span.ml10 I am deeply sorry to hear about the death of...

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_2.mp3" )
						span.ml10 I am really sorry to hear about the death of...

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_3.mp3" )
						span.ml10 I was heartbroken by the sad news.

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_4.mp3" )
						span.ml10 Words can't express the sadness I feel about...

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_5.mp3" )
						span.ml10 Words fall short of expressing my sadness.

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_6.mp3" )
						span.ml10 Let me express my sorrow for the loss of...

				.col.xs12.md6
					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_7.mp3" )
						span.ml10 Please accept our heartfelt condolences.

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_8.mp3" )
						span.ml10 We will never forget...

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_9.mp3" )
						span.ml10 We will always remember...

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_10.mp3" )
						span.ml10 We will sadly miss...

					.row-flex.align-items-center.mt20
						button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_2/module_7/assets/audios/act_9_11.mp3" )
						span.ml10 Sorry, I am at a loss for words to express my sadness.

	|
	|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconRefresh" ng-show="s_actividad == 2")
		button(class="c-btn-IconAction u-bgIconCheck" ng-show="s_actividad == 2")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
