//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_4")
	aside(class="template-asideLeft o-aside-Item")

	|
	|
	div(class="template-section m-a")
		|
		section(class="template-content" )
			.row-flex.align-items-center.justify-between

					.col.xs12.md6
						.c-cardGreen
							.c-cardGreenContent.u-textColor_1
									p.ta-l.mt20.
										When having a conversation, we sometimes have to say it in a particular way, either changing, returning to or continuing with the topic.#[br]#[br]
										#[strong Changing the topic]#[br]#[br]
										#[strong •] Let’s move on to…#[br]
										#[strong •] That aside…#[br]
										#[strong •] On a different note…#[br]
										#[strong •] Moving on…#[br]
										#[strong •] Not to go off on a tangent, but… (if somehow related to what was just said)#[br]
										#[strong •] By the way… (if somehow related to what was just said)#[br]
										#[strong •] On a side note… (if somehow related to what was just said)#[br]
										#[strong •] Well, anyways (informal)…#[br]#[br]
										#[strong Returning to the topic]#[br]#[br]
										#[strong •] Just to get back to what ... was / were saying…#[br]
										#[strong •] Getting back to what ... was / were saying…#[br]
										#[strong •] So, as ... was / were saying…#[br]#[br]
										#[strong Continuing the topic]#[br]#[br]
										#[strong •] Well, just to continue (with)#[br]
										#[strong •] Let’s continue (with…) #[br]

					.col.xs12.md6.pl10
						h5 Complete the following dialogue by choosing the most appropriate expression.

						.row.mt20

							span.ta-j.lh35.
								#[strong.u-textColor_4 • ]Mrs. Anderson is speaking with a business client at her firm: #[br]
								#[strong Mrs. Anderson:] Good day, Mr. Hiako. And how are you this afternoon?#[br]
								#[strong Mr. Hiako:] I am fine, thanks. I hope you are as well.#[br]
								#[strong Amy:] Yes, I am fine, thank you.#[br]
								#[strong Mr. Hiako:] So,
							select(name="act_1_2" class="c-select")
									option(value="" disabled selected)
									option(value="1") on a side note
									option(value="2") getting back to what
							span.ta-j.lh35.
								we were discussing at last week’s meeting, we
								still need to set the price for the new line of laptop computers.#[br]
								#[strong Mrs. Anderson:] Yes, our head of marketing is still in discussions with the manufacturers to
								determine a price. So, that information should be available by Wednesday.
							select(name="act_1_2" class="c-select")
									option(value="" disabled selected)
									option(value="1") On a side note
									option(value="2") As I was saying
							span.ta-j.lh35.
								 , Mr. Henry, who is the director of the manufacturing company,
								will be joining us at our next meeting.#[br]
								#[strong Mr. Hiako:] Oh, thank you for letting me know. It’ll be a pleasure to have him there.
								Ok,
							select(name="act_1_2" class="c-select")
									option(value="" disabled selected)
									option(value="1") anyways
									option(value="2") let’s move on
							span.ta-j.lh35.
								. The release date is another important aspect. I really
								wouldn’t want it released on the market when there is stiff competition.#[br]









	|
	|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
		button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
		//- button(class="c-btn-IconAction u-bgIconRefresh is-active" ng-show="s_actividad == 3")
		//- button(class="c-btn-IconAction u-bgIconCheck is-active" ng-show="s_actividad == 3")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
