//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            
            h5 #[strong.u-textColor_4 1. ]  Read the following sentences and then select the right meaning for the words in boldface.
            div(class="row-flex col-center mt50-xs mt100-md")
                div(class="col-flex-xs12 col-flex-sm11 col-flex-md6 col-center pr10 pl10")
                    
                    div(class="row mb50")
                        p • After the avalanche in Armero, the local government is #[strong looking after ] hundreds of kids.
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="SelectRadio_1" name="selection_1" value="1")
                            label(for="SelectRadio_1" class="c-CheckSelected col-flex ml10 mr10") care for, take care of
                            input(class="c-inputRadio" type="radio" id="SelectRadio_2" name="selection_1" value="2")
                            label(for="SelectRadio_2" class="c-CheckSelected col-flex ml10 mr10") look behind you
                    
                    div(class="row mb50")
                        p • If you have doubts about the math problem, you can talk to Ramiro. He #[strong sails through ] math!
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="SelectRadio_3" name="selection_2" value="1")
                            label(for="SelectRadio_3" class="c-CheckSelected col-flex ml10 mr10") travel by boat
                            input(class="c-inputRadio" type="radio" id="SelectRadio_4" name="selection_2" value="2")
                            label(for="SelectRadio_4" class="c-CheckSelected col-flex ml10 mr10") get through something without difficulty
                    
                    div(class="row mb50")
                        p • When the police arrived, the thieves have destroyed the evidence! They had #[strong ripped up ] all the documents.
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="SelectRadio_5" name="selection_3" value="1")
                            label(for="SelectRadio_5" class="c-CheckSelected col-flex ml10 mr10") climb up
                            input(class="c-inputRadio" type="radio" id="SelectRadio_6" name="selection_3" value="2")
                            label(for="SelectRadio_6" class="c-CheckSelected col-flex ml10 mr10") to tear paper into small pieces
                
                
                div(class="col-flex-xs12 col-flex-sm11 col-flex-md6 col-center pr10 pl10")
                    
                    div(class="row mb50")
                        p • Have you seen Milan, Shakira’s son? He #[strong took after ] his father! They are identical!
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="SelectRadio_7" name="selection_4" value="1")
                            label(for="SelectRadio_7" class="c-CheckSelected col-flex ml10 mr10") leave for another moment
                            input(class="c-inputRadio" type="radio" id="SelectRadio_8" name="selection_4" value="2")
                            label(for="SelectRadio_8" class="c-CheckSelected col-flex ml10 mr10") to resemble a relative
                    
                    div(class="row mb50")
                        p • Remember! We are not going to buy anything. We are just going to #[strong look around ] to compare prices.
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="SelectRadio_9" name="selection_5" value="1")
                            label(for="SelectRadio_9" class="c-CheckSelected col-flex ml10 mr10") to walk around a room or building to see what is there
                            input(class="c-inputRadio" type="radio" id="SelectRadio_10" name="selection_5" value="2")
                            label(for="SelectRadio_10" class="c-CheckSelected col-flex ml10 mr10") look in circles
                    
                    div(class="row mb50")
                        p • I am always stressed because I have to #[strong deal with ] students who failed courses at the university!
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="SelectRadio_11" name="selection_6" value="1")
                            label(for="SelectRadio_11" class="c-CheckSelected col-flex ml10 mr10") to make business
                            input(class="c-inputRadio" type="radio" id="SelectRadio_12" name="selection_6" value="2")
                            label(for="SelectRadio_12" class="c-CheckSelected col-flex ml10 mr10") to take action to do something

    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction is-active u-bgIconInfoActivity openNotice" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
//- |
//- div(class="c-noticeAside is-visible" id="notice")
//-     article(class="c-noticeAside-body" ng-include="'unit_1/module_1/activities/act_6_notice_'+ idNotice +'.php'")
//-     footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")