//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row-flex justify-end ta-r mt40")
                ul
                    li: h6 Future Perfect Continuous:
                    br
                    li: h5(class="u-textColor_3-darker") Will have (not) been + -ing
                    br
                    li You #[strong will have been waiting] for more than two hours by the time her plane finally arrives.
