//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
section(class="c-noticeAside-section")
    div(class="row w80 col-center mt30")
        ol(class="c-list row mb10" data-ejercicio="")
            p Read the examples below. Pay attention to the words in bold.
            br
            li In 10 years’ time, I #[strong(class="u-textColor_3") will have bought] a new house.
            li I think astronauts #[strong(class="u-textColor_3") will have landed] on Mars by the year 2030.
    div(class="row w80 col-center mt30")
        img(src="unit_1/module_1/assets/images/act_7_2.png", alt="", class="u-responsive-img w55 f-l mt40")
        img(src="unit_1/module_1/assets/images/act_7_3.png", alt="", class="u-responsive-img w55 f-r")
        //- img(src="unit_1/module_1/assets/images/act_7_4.png", alt="", class="u-responsive-img w55 f-l")
