//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" ng-init="JuegoCompletartxt()")
    aside(class="template-asideLeft o-aside-Item")
        //- button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        //- button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
        //- button(class="c-btn-IconAction" data-activities-count="3" ng-click="s_actividad = 3" ng-class="(s_actividad == 3) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="c-gameCompletePhrase")
                span(class="c-gameCompletePhrase--CountTimer" data-tempo="seg."): input(class="c-gameCompletePhrase--Timer" readonly)
                div(class="c-gameCompletePhrase--Block" style="background-image: url('./unit_1/module_1/assets/images/act_15_1.jpeg');")
                    div(class="c-gameCompletePhrase--Phrases")
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0")  all
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0")  working
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0")  day
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0")  will
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0")  have
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0")  He
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0") .
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="0")  been
                    div(class="c-gameCompletePhrase--Phrases is-hidden")
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  for
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  will
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  helping
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  Jessica
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  twelve
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  have
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  them
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  been
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1") .
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="1")  months
                    div(class="c-gameCompletePhrase--Phrases is-hidden")
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  December
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  Mark
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  one
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  have
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  By
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2") ,
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  been
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2") .
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  year
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  teaching
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  for
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="2")  will
                    div(class="c-gameCompletePhrase--Phrases is-hidden")
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3")  traveling
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3")  How
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3") ?
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3")  been
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3")  long
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3")  will
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3")  have
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="3")  they
                    div(class="c-gameCompletePhrase--Phrases is-hidden")
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="4")  will
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="4")  cooking
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="4") ?
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="4")  What
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="4")  been
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="4")  he
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="4")  have
                    div(class="c-gameCompletePhrase--Phrases is-hidden")
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="5")  will
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="5") .
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="5")  raining
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="5")  have
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="5")  It
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="5")  not
                        button(class="c-gameCompletePhrase--Words js-CompletePhrase" data-pos="5")  been
                    div(class="c-gameCompletePhrase--Phrases is-hidden")
                        label FINISH

                
                    
                div(class="c-gameCompletePhrase--Result")
                    input(type="text" class="c-gameCompletePhrase--Response js-escribir" placeholder="Select one word at time for complete the phrase ")
                    button(class="c-gameCompletePhrase--button-Check js-validar")

                button(class="c-gameCompletePhrase--button-Instructions " value="Instructions") FeedBack
                
                div(class="c-gameCompletePhrase--FeedBack") 
                    img(src="../assets/multimedia/images/app/gameCompletePhrase_correct.png", alt="FeedBack", srcset="" class="u-responsive-img")
                    img(src="../assets/multimedia/images/app/gameCompletePhrase_wrong.png", alt="Init", srcset="" class="u-responsive-img")
                    button(class="c-gameCompletePhrase--button-Close") Close
                div(class="c-gameCompletePhrase--Init") 
                    img(src="../assets/multimedia/images/app/gameCompletePhrase_title.png", alt="Init", srcset="" class="u-responsive-img")
                    button(class="c-gameCompletePhrase--button-Init") Initiate
    |
    |
    aside(class="template-asideRight o-aside-Item")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")

script.
    let 
          gameComp_btnClose = document.querySelector('.c-gameCompletePhrase--button-Close')
        , gameComp_btnInit = document.querySelector('.c-gameCompletePhrase--button-Init')
        , gameComp_btnInstruction = document.querySelector('.c-gameCompletePhrase--button-Instructions')
        , gameComp_FeedBack = document.querySelector('.c-gameCompletePhrase--FeedBack')
        , gameComp_Init = document.querySelector('.c-gameCompletePhrase--Init')
        , gameCompletePhrase_funInit = (options= 'init', action) => {
            if( options == 'init' ){
                if( gameComp_Init.classList.contains('is-hidden') ){
                    console.log(`gameComp_Init ${gameComp_Init.classList.contains('is-hidden')}`)
                    gameComp_Init.classList.remove('is-hidden')
                } else {
                    gameComp_Init.classList.add('is-hidden')
                }
            }
            if( options == 'instruction' ){
                if( gameComp_FeedBack.classList.contains('is-visible') ){
                    console.log(`gameComp_FeedBack ${gameComp_FeedBack.classList.contains('is-hidden')}`)
                    gameComp_FeedBack.classList.remove('is-visible')

                } else {
                    gameComp_FeedBack.classList.add('is-visible')
                }
            }
        }
    ;
    
    
    gameComp_btnInit.addEventListener('click', function(e){
        gameCompletePhrase_funInit();
        avvia();
    })
    gameComp_btnInstruction.addEventListener('click', function(e){
        gameCompletePhrase_funInit('instruction');
    })
    gameComp_btnClose.addEventListener('click', function(e){
        gameCompletePhrase_funInit('instruction');
    })


    var hora = 0, minuti = 0, secondi = 0, decimi = 0;
    var vis = "";
    var stop = true;
    var game2=2;
    var game1=1;
    var contador=0;
    
    function avvia() {
        contador++;
        if(stop == true) {
            stop = false;
            cronometro();
        
            if(contador > 1){
                game2++;
                game1++;
            }

        }
    }
    
    function cronometro() {

        if(stop == false) {
            decimi++;
            if(decimi > 9) {
                decimi = 0;
                secondi++;
            }
            if(secondi > 59) {
                secondi = 0;
                minuti++;
            }
            if(minuti > 59) {
                minuti = 0;
                hora++;
            }
            mostra();
            setTimeout("cronometro()", 100);
    
            if(secondi==59){
                        avvia()
                        hora = 0, minuti = 0, secondi = 0, decimi = 0;
                        vis = "";
                        stop = true;
            }

        }
    } 
    
    function mostra() {
        if(hora < 10) vis = ""; else vis = hora;
        if(minuti < 10) vis = vis + "0";
        vis = vis + minuti + ":";
        if(secondi < 10) vis = vis + "0";
        vis = secondi;

        $('.c-gameCompletePhrase--Timer').val(vis);
    }