//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                img(src="unit_1/module_1/assets/images/act_11_1.png", alt="", class="u-responsive-img w90")