//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")            
            div(class="row mt40 ")
                h5 #[strong.u-textColor_4 1. ]  Read the following examples. Pay attention to words in bold.
            div(class="row-flex")
                ul(class="c-listDefault")
                    li #[strong By the time] I’m 50, I will have worked for 28 years.
                    li You must complete the application #[strong by] Friday.
                    li We will have to wait #[strong until] next week and then decide.
            div(class="row-flex mt40-md")
                div(class="col-flex-sm4 col-flex-xs5 col-center ta-c mb40")
                    img(src="./unit_1/module_1/assets/images/act_10_1.png", alt="", srcset="" class="u-responsive-img")

                div(class="col-flex-sm11 col-flex-md7 col-center")
                    div(class="row-flex mt40-md")
                        ol(class="c-listDefault row mb30" data-ejercicio="")
                            li
                                span Use
                                span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")
                                span to express when an action will be complete at a specific time in the future.
                            li
                                span Use
                                span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")
                                span to mean “not before” and “not after and not before”.
                            li
                                span Use
                                span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir")
                                span  to mean “not after” or “not later than”.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconAlert is-active openNotice" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")

div(class="c-noticeAside" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_1/module_1/activities/act_10_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")
