//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            
            div(class="row mt40 ")
                h5 #[strong.u-textColor_4 1. ]  Read Ricardo’s itinerary for tomorrow.#[br] Choose future continuous or future perfect to complete the sentences.
            div(class="row-flex mt40")
                div(class="col-flex-md5 col-flex-sm11 col-center")
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 8:00 am, Ricardo
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_a")
                                    span home.
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                            label(for="inputRadio_1" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='will be leaving'") will be leaving

                            input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                            label(for="inputRadio_2" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='will have left'") will have left
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span By 8: 30am, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_b")
                                    span at the airport.
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_2" value="1")
                            label(for="inputRadio_3" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='will be arriving'") will be arriving

                            input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_2" value="2")
                            label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='will have arrived'") will have arrived
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 9:00 am, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_c")
                                    span for his plane.
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_3" value="1")
                            label(for="inputRadio_7" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='will be waiting'") will be waiting 
                            input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_3" value="2")
                            label(for="inputRadio_8" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='will have waited'") will have waited
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 9:30am, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_d")
                                    span for Puerto Inirida.
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_4" value="1")
                            label(for="inputRadio_10" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='will be leaving'") will be leaving
                            input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_4" value="2")
                            label(for="inputRadio_11" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='will have left'") will have left
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 10:00 am, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_e")
                                    span to Puerto Inirida.
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_5" value="1")
                            label(for="inputRadio_13" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='will be flying'") will be flying
                            input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_5" value="2")
                            label(for="inputRadio_14" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e=' will have flown'")  will have flown
                |
                div(class="col-flex-md5 col-flex-sm11 col-center")
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 11:10 am, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_f")
                                    span in Puerto Inirida.
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_16" name="SelInputRadio_6" value="1")
                            label(for="inputRadio_16" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_f='will be arriving'") will be arriving
                            input(class="c-inputRadio" type="radio" id="inputRadio_17" name="SelInputRadio_6" value="2")
                            label(for="inputRadio_17" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_f='will have arrived'") will have arrived
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 1:30 pm, the meeting 
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_g")
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_18" name="SelInputRadio_7" value="1")
                            label(for="inputRadio_18" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_g='will be starting'") will be starting
                            input(class="c-inputRadio" type="radio" id="inputRadio_19" name="SelInputRadio_7" value="2")
                            label(for="inputRadio_19" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_g='will have started'") will have started
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 7:50pm, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_h")
                                    span his dinner.
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_20" name="SelInputRadio_8" value="1")
                            label(for="inputRadio_20" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_h='will be eating'") will be eating
                            input(class="c-inputRadio" type="radio" id="inputRadio_21" name="SelInputRadio_8" value="2")
                            label(for="inputRadio_21" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_h='will have eaten'") will have eaten
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At 10:15pm, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_i")
                                    span the restaurant.
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_22" name="SelInputRadio_9" value="1")
                            label(for="inputRadio_22" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_i='will be leaving'") will be leaving
                            input(class="c-inputRadio" type="radio" id="inputRadio_23" name="SelInputRadio_9" value="2")
                            label(for="inputRadio_23" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_i='will have left'") will have left
                    |
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span At midnight, he
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_j")
                        div(class="row-flex justify-around")
                            input(class="c-inputRadio" type="radio" id="inputRadio_24" name="SelInputRadio_10" value="1")
                            label(for="inputRadio_24" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_j='will be sleeping'") will be sleeping
                            input(class="c-inputRadio" type="radio" id="inputRadio_25" name="SelInputRadio_10" value="2")
                            label(for="inputRadio_25" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_j='will have slept'") will have slept
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction is-active u-bgIconAlert openNotice" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh"  ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
div(class="c-noticeAside is-visible" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_1/module_1/activities/act_16_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")
