//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row-flex justify-end ta-r mt40")
                ul(class="c-listReset")
                    li: h6 Future Perfect:
                    br
                    li: h5(class="u-textColor_3-darker") Will have (not) +  past participle
                    br
                    li Do you think you will have finished the report by this afternoon?