//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
section(class="c-noticeAside-section")
    img(src="unit_1/module_1/assets/images/act_6_1.png", alt="", class="u-responsive-img w65 f-l mt40")
    img(src="unit_1/module_1/assets/images/act_6_2.png", alt="", class="u-responsive-img w65 f-r")
