//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
    div(class="row mt40-md mt20-xs")
        div(class="col-flex-sm8 col-flex-xs11 col-center ta-c mb40")
            audio( controls class="row")
                source(src="unit_1/module_1/assets/audios/act_3_1.mp3" type="audio/mpeg")
                | Your browser does not support the audio element.
section(class="c-noticeAside-section")
    div(class="row")
        p In the future, we won´t be driving cars. We will be using flying means of transportation. These will fly some meters above the ground and will carry more than four people. They won´t have a pilot because computers will be flying them. They will have a small round table and armchairs inside, like a small living or working room. They will also have TVs and computer screens where people will be able to watch their favorite programs or work while they are flying. They will also have Internet access. These flying means of transportation will not look like our cars today. They won´t have normal doors. The sides of these flying machines will open by moving down slowly under the floor. Another great advantage about these means of transportation is that passengers will never get lost, because the computers flying them will always know where to go.
    img(src="unit_1/module_1/assets/images/act_3.png", alt="", class="u-responsive-img")