//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row-flex justify-end ta-r mt40")
                ul
                    li: h6 Future Continuous:
                    br
                    li: h5(class="u-textColor_3-darker") Will (not) +  be +  -ing
                    br
                    li The world will be going through #[br] many changes in the #[br] coming years.



