//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
section(class="c-noticeAside-section")
    img(src="unit_1/module_1/assets/images/act_4_1.png", alt="", class="u-responsive-img w55 f-l mt40")
    img(src="unit_1/module_1/assets/images/act_4_2.png", alt="", class="u-responsive-img w55 f-r")
    img(src="unit_1/module_1/assets/images/act_4_3.png", alt="", class="u-responsive-img w55 f-l")
