//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
    div(class="row mt40")
        img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
section(class="c-noticeAside-section")
    div(class="row mt40")
        ul
            li A phrasal verb is a combination of words that is used like a verb and is formed by a verb and  an adverb or preposition. Some phrasal verbs are followed by an object. 
    div(class="row mt40")
        img(src="unit_1/module_1/assets/images/act_4_4.png", alt="", class="u-responsive-img w90")
