//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
section(class="c-noticeAside-section act_16_notice")
    div(class="row-flex vh100")
        div(class="row m-a")
            h5 Read Ricardo’s itinerary for tomorrow.
            div(class="row mt40")
                img(src="unit_1/module_1/assets/images/act_16_1.png", alt="", class="u-responsive-img")
            div(class="row mt40-md mt20-xs")
                .bgBanner
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 8.00
                        p.w70.D-inline
                            | Leave Home
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 8.30
                        p.w70.D-inline
                            | Arrive at Airport
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 9.30
                        p.w70.D-inline
                            | Plane leaves for Puerto Inirida
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 11.00
                        p.w70.D-inline
                            | Arrives in Puerto Inirida
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 1.00
                        p.w70.D-inline
                            | Meeting Starts
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 3.00
                        p.w70.D-inline
                            | Meeting Finishes
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 7.30
                        p.w70.D-inline
                            | Business Dinner
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 10.00
                        p.w70.D-inline
                            | Leave Restaurant
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 10.30
                        p.w70.D-inline
                            | Arrive at Hotel
                    div(class="row-flex option")
                        p.w20.D-inline.blue2
                            strong 11.00
                        p.w70.D-inline
                            | Go to Bed