//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
section(class="template-wrapper test_3")
    aside(class="template-asideLeft o-aside-Item")
    div(class="template-section m-a")
        section(class="template-content")
            h5 Let’s talk about family.
            div(class="row row-flex mt30 align-items-center")
                .col.xs12.md6
                    div(class="row-flex justify-center mb20"): div(class="col md11 col-center")
                        div(class="c-contVideo")
                            video(controls class="u-responsive-video")
                                source(src="unit_1/module_4/"+pathVideo+"test_3_1.mp4" type="video/mp4")
                                | Your browser does not support the video element.
                .col.xs12.md6
                    .c-cardGreen
                        .c-cardGreenContent
                            ul.lh25
                                li • How has the size of the family changed in the last few decades in your country?
                                li • How do you think the family will change in the future?
                                li • What role do grandparents play in the family in your country?
                                li • Who do you think should be responsible for the care of the elderly, the family or the government?
                    div(class="row c-ngRecorder" ng-audio-recorder id="mainAudio_a" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt1_mod4_test3',1)"): +ngRecorder
    |
    |
    aside(class="template-asideRight o-aside-Item")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")