//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper test_1"  ng-init="s_actividad = 1")
	aside(class="template-asideLeft o-aside-Item")
		button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
		button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
	|
	|
	div(class="template-section m-a")
		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")
			h5.ta-c Read the following extract and choose the correct answers.
			div(class="row")
				div(class="c-flickity")
					div(class="row mt10 mb30")
						div(class="row c-flickity-controls c-flickity-controls-flex")
							div(class="c-flickity-controlsSlides")
								button(class="c-flickity-button is-selected ") Exercises 1
								button(class="c-flickity-button ") Exercises 2


								span(class="c-flickity--cell-total") 2
							button(class="c-flickity-button c-flickity-button--previous") ←
							button(class="c-flickity-button c-flickity-button--next") →
					div(class="row mt50-sm ")
						div(class="c-flickity--cell"): div(class="row" style="height:680px; overflow-x: hidden; overflow-y:auto;")
							.c-cardGreen
								.c-cardGreenContent.u-textColor_1
									.row
										.col.xs12.md6
											h5.ta-c How Horror Films Are Bringing More Gender Equality to Hollywood
											p.ta-c #[i A new study finds that horror is the only film genre where women appear and speak as often as men].
											p.ta-c Beth Younger posted Jul 18, 2017
											p.ta-j.
												#[strong 1] At the end of this year’s Cannes Film Festival, actress Jessica Chastain—who was
												serving as a jury member—said that she found the portrayals of women in the festival’s
												films “quite disturbing.”#[br]
												To many, this isn’t exactly news. The lack of women in film—in front of and behind the
												camera—has been at the center of Hollywood criticism in recent years, with scholars and
												writers detailing the ways women tend to be underrepresented or cast in stereotypical roles.#[br]#[br]
												#[strong 2] University of Southern California
												communications professor Stacy Smith, who
												researches depictions of gender and race in
												film and TV, found that of the 5,839 characters
												in the 129 top-grossing films released between
												#[img(src="unit_2/module_8/assets/images/test_1_1.png" alt="" class="u-responsive-img w40 ml10 mt10" align="right")]
												2006 and 2011, fewer than 30 percent were
												girls or women. Meanwhile, only 50 percent
												of films fulfill the criteria of the Bechdel Test,
												which asks whether a film features at least
												two women who talk to each other about
												something other than a man.#[br]
												Despite the uphill climb for women in film, it
												isn’t all doom and gloom. Horror is one genre
												where women are taking on increasingly
												prominent parts. Yes, screaming is still a staple


										.col.xs12.md6
											p.ta-j.
												#[img(src="unit_2/module_8/assets/images/test_1_2.png" alt="" class="u-responsive-img w40 ml10 mt10" align="right")]
												of a scary flick. But women are assuming
												central roles—not as victims, but as monsters
												and heroes.#[br]#[br]
												#[strong 3 Bucking the trend]#[br]
												Each year, the Geena Davis Institute on Gender
												and Media publishes research that shows how
												gender imbalance in film affects women and girls.
												For example, they’ve found that positive and
												prominent roles for women in movies “motivate
												women to be more ambitious” professionally
												and personally. But when there is a dearth of
												women being depicted in positive ways, it has
												an opposite, negative effect.#[br]
												A recent study by Google and the Geena Davis
												Institute studied this phenomenon across genres. They developed something called
												“the GD-IQ” (Geena Davis Inclusion Quotient), which is facilitated by machine-learning
												technology. The goal was to recognize patterns in gender, screen time and speaking
												time that the casual movie viewer might overlook. The results of this study told a
												familiar story: In film, men are seen and heard twice as often as women. But there was
												one exception: horror films.#[br]#[br]
												#[strong 4 A horror renaissance]#[br]
												In a way, this makes sense. A recent Guardian article describes how women have
												historically been drawn to the genre. Many beloved horror films have strong female
												leads: Carrie, The Descent, and The Witch, to name a few.#[br]
												Horror, of course, has always been interested in women; traditionally, women and girls
												are victims of crazed killers or of monsters. They scream a lot.#[br]
												Yet the terms have changed along with the times, and a horror renaissance seems to
												have been taking place over the past decade.




						div(class="c-flickity--cell"): div(class="row" style="height:680px; overflow-x: hidden; overflow-y:auto;")
							.col.colxs12.md6
								.c-cardGreen
									.c-cardGreenContent.u-textColor_1
										.row
											p.ta-j.
												The genre has moved from taking pleasure in victimizing women to focusing on women
												as survivors and protagonists. It has veered away from slashers and torture porn
												to more substantive, nuanced films that comment on social issues and possess an
												aesthetic vision.#[br]
												Earlier this year, Jordan Peele’s Get Out became a major box-office smash; as it skewered
												racial politics, it also made a beautiful, young white woman the evil antagonist. In 2015,
												Robert Egger’s historical horror film The Witch was a surprise hit. With a 91 percent
												fresh rating on Rotten Tomatoes, The Witch captured audiences by being a historically
												accurate tale that included a feminist twist. Set in Puritan America, a teenage protagonist,
												Thomasin, battles her parents and siblings, who assume she’s become a witch, faulting
												her for all the misfortunes that befall the family. Of course, she’s simply a teenage girl—a
												dangerous creature, the film seems to be saying, in a culture controlled by men.
												Get Out and The Witch join a host of other horror films with women as central characters:
												Stoker, Under the Skin, Rec, The Conjuring, Ginger Snaps, American Mary, Jennifer’s Body, and
												You’re Next.#[br]#[br]
												#[img(src="unit_2/module_8/assets/images/test_1_3.png" alt="" class="u-responsive-img w40 mr10 mt10" align="left")]

												Read the full story here:#[a(href="http://www.yesmagazine.org/people-power/how-horror-films-are-bringing-more-gender-equality-to-hollywood-20170718") www.yesmagazine.org ]
							.col.colxs12.md5.offset-md1
										p.ta-j.
											#[strong.u-textColor_4 •] Choose the most appropriate heading for the following excerpt: #[br] #[br]
											A recent study by Google and the Geena Davis Institute studied this phenomenon across
											genres. They developed something called “the GD-IQ” (Geena Davis Inclusion Quotient), which
											is facilitated by machine-learning technology. The goal was to recognize patterns in gender,
											screen time and speaking time that the casual movie viewer might overlook. The results of this
											study told a familiar story: In film, men are seen and heard twice as often as women.
											But there was one exception: horror films.
										.row
											input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_1" value="1")
											label(class="c-Checkbox w100 ta-l " for="selInput_1") Horror films.
											input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_2" value="2")
											label(class="c-Checkbox w100 ta-l " for="selInput_2") Men and women in horror films.
											input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_3" value="3")
											label(class="c-Checkbox w100 ta-l " for="selInput_3") Movie analytics.


		section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")

			.row
				.col.xs12.md6
					p.ta-j.mt30.
						#[strong.u-textColor_4 •] Choose “true”, “false” or “information not given”. #[br] #[br]
						Women are well represented in all films including horror films.

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_4" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_4") True.
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_5" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_5") False.
						input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_6" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_6") Information not given.

					p.ta-j.mt30.
						#[strong.u-textColor_4 •] Match the information given with one of the paragraphs from the text. #[br] #[br]
						Men speak twice as much as women in movies.

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_7" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_7") 3.
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_8" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_8") 4.
						input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_9" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_9") 5.

					p.ta-j.mt30.
						#[strong.u-textColor_4 •] We went to see a movie on Friday. There was a lot of cutting, stabbing and gruesome  deaths. That kind of movie is called a movie ___________ , right?

					.row
						input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_10" value="1")
						label(class="c-Checkbox w100 ta-l " for="selInput_10") slasher
						input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_11" value="2")
						label(class="c-Checkbox w100 ta-l " for="selInput_11") substantive
						input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_12" value="3")
						label(class="c-Checkbox w100 ta-l " for="selInput_12") victim


				.col.xs12.md6
					.row

						p.ta-j.mt30.
							#[strong.u-textColor_4 •] Choose the correct answer.#[br]#[br]
							What is the horror renaissance?

						.row
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_13" value="1")
							label(class="c-Checkbox w100 ta-l " for="selInput_13") More well-made horror movies.
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_14" value="2")
							label(class="c-Checkbox w100 ta-l " for="selInput_14") More viewers of horror movies.
							input(type="radio" class="c-inputRadio" name="sel_input_5" id="selInput_15" value="3")
							label(class="c-Checkbox w100 ta-l " for="selInput_15") More leading roles for women.

						.row.ta-c.mt30
							img(src="unit_2/module_8/assets/images/test_1_4.png" alt="" class="u-responsive-img w80 m-a")

	|
	|
	aside(class="template-asideRight o-aside-Item")
		button(class="c-btn-IconAction u-bgIconCheck" ng-show="s_actividad == 2" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
script.
	flickitySlide('c-flickity', 'c-flickity--cell', 'c-flickity-controlsSlides', 'c-flickity-button', 'c-flickity-button--previous', 'c-flickity-button--next','680');

|
|
