//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_3")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" ng-init="unirColumnasFuncion()")
            div(class="row mt30-md mt20-xs")
                p.
                    You have three friends that are visiting from The United States. They all have different tastes.
                    Sarah wants to enjoy nature and photography.#[br]
                    Peter enjoys extreme sports and loves the adrenaline rush he gets from the danger.#[br]
                    Francine likes the good life. She enjoys staying at the best hotels and fine dining.
                    You need to put together a vacation package for each of them.#[br]
                h5 Match the person with the activities and places that you think they will like.
                div(class="col xs12 col-center" data-ejercicio="unir")
                    div(id="sourceElements" class="js-columnas")
                            
                        span.ta-j(id="Item0_2" class="treeItem" onclick="setSource(this)" seleccion valor="3") #[img(class="u-responsive-img w30 mr10" src="unit_2/module_5/assets/images/col_2_6.png", alt="myColombia")] Located in the center of Medellin our 5-star luxury spa is designed with luxury, relaxation and wellness in mind, we have created our Spa with the spirit of offering unique therapies and treatments.
                        span.ta-j(id="Item0_1" class="treeItem" onclick="setSource(this)" seleccion valor="2") #[img(class="u-responsive-img w30 mr10" src="unit_2/module_5/assets/images/col_2_5.png", alt="myColombia")] If you love being on the water we have the perfect trip for you. It includes 3 days and two nights at our beautiful 2-star hotel and 3 days of  white water rafting along the Samaná River in Antioquia.
                        span.ta-j(id="Item0_0" class="treeItem" onclick="setSource(this)" seleccion valor="1") #[img(class="u-responsive-img w30 mr10" src="unit_2/module_5/assets/images/col_2_4.png", alt="myColombia")] Visit the highest coastal range in Colombia, camp in the mountains with native Indians and enjoy the daily mountain hikes followed by relaxing sessions of meditation.
                    
                    div(id="linecanvas" style="width: 60px;")
                    
                    div(id="targetElements" class=" js-columnas row-flex flex-column justify-center") 
                        span(id="Item1_0" class="treeItem" onclick="setTarget(this)" seleccion valor="3") Francine 
                        span(id="Item1_1" class="treeItem" onclick="setTarget(this)" seleccion valor="1") Sarah 
                        span(id="Item1_2" class="treeItem" onclick="setTarget(this)" seleccion valor="2") Peter
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck js-validarUnir")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()
