//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_11")
    aside(class="template-asideLeft o-aside-Item" )
    |
    |
    div(class="template-section m-a" ng-init="MostrarIframe()")
        section(class="template-content u-animationFadeDown")
            h5.ta-c Video presentation
            article(class="row-flex justify-center mt40")
                div(class="row col-flex-xs12 col-flex-md6")
                    div(class="col")
                        p Interview two people about their worst vacation experience.  
                        p Get the details about what went wrong and what they learnt from the experience.
                        p Formulate your questions in a way that forces the interviewee to speak. 
                        p Summarize in English what the interviewee said in Spanish. Then record yourself in a video reporting what was said by the interviewee.
                    div(class="col")
                        ul.row
                            li » Record your video using your smartphone, tablet or computer.
                            li » Upload your video to youtube.
                            li » The video should last at least 2 minutes.

                    div(class="col")
                        h5 Tips for uploading  the video.
                        ul  
                            li • Upload your video to Youtube. If you don’t know how what to do, visit this tutorial #[a(href="https://support.google.com/youtube/answer/57407") https://support.google.com/youtube/answer/57407]
                            li • When your video is ready in Youtube
                            li • On a computer, go to the YouTube video you want to embed
                            li • Under the video, click Share.
                            li • Click Embed.
                            li • Copy the HTML code.
                        
                div(class="col-flex-xs12 col-flex-md6 mt10-sm mb40 pr10 pl10")
                    div(class="c-customVideoUpdate")
                        div(class="c-customVideoUpdate--contentIframe" ng-bind-html="veriframe | unsafe")  
                        div(class="c-customVideoUpdate--controls")
                            input(class="c-customVideoUpdate--input" type="text", name="" placeholder="Copy the HTML code" ng-model="iframevideo") 
                            button(class="c-customVideoUpdate--button" ng-click="UploadIframe()")
    |        
    | 
    aside(class="template-asideRight o-aside-Item")  
| 
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")   