//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_6")
    aside(class="template-asideLeft o-aside-Item")
        
    |
    |
    div(class="template-section m-a" ng-init="unirColumnasFuncion()")
        section(class="template-content")
            h6 When speaking about tourism and travel we use some common words.
            span Match the sentences that are saying the same thing. 
            div(class="col xs12 col-center mt30" data-ejercicio="unir")
                div(id="sourceElements" class="js-columnas")
                        
                    span(id="Item0_0" class="treeItem" onclick="setSource(this)" seleccion valor="1") I bought a return ticket from Bogota to Miami.
                    span(id="Item0_1" class="treeItem" onclick="setSource(this)" seleccion valor="2") The outbound flights were delayed because of the weather.
                    span(id="Item0_2" class="treeItem" onclick="setSource(this)" seleccion valor="3") I am on an inbound flight to Bucaramanga.
                    span(id="Item0_3" class="treeItem" onclick="setSource(this)" seleccion valor="4") Check the boarding pass for your seat number.
                    span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="5") Please make sure the hand luggage you take on the plane is not too big for the storage compartment.
                    span(id="Item0_5" class="treeItem" onclick="setSource(this)" seleccion valor="6") Juan checked three bags.
                    span(id="Item0_6" class="treeItem" onclick="setSource(this)" seleccion valor="7") The flight arrived on time.
                    span(id="Item0_7" class="treeItem" onclick="setSource(this)" seleccion valor="8") The flight is delayed. 
                    span(id="Item0_8" class="treeItem" onclick="setSource(this)" seleccion valor="9") The plane landed safely despite weather.
                    span(id="Item0_9" class="treeItem" onclick="setSource(this)" seleccion valor="10") The airline has a 22-hour stopover in Bogota
                
                div(id="linecanvas" style="width: 60px;")

                div(id="targetElements" class=" js-columnas") 

                    span(id="Item1_0" class="treeItem" onclick="setTarget(this)" seleccion valor="9") The flight touchdown without incident although the conditions were bad. 
                    span(id="Item1_1" class="treeItem" onclick="setTarget(this)" seleccion valor="7") The plane landed when it was supposed to. 
                    span(id="Item1_2" class="treeItem" onclick="setTarget(this)" seleccion valor="10") The flight has a day-long layover in Bogota.
                    span(id="Item1_3" class="treeItem" onclick="setTarget(this)" seleccion valor="5") The carry on bags must be able to fit in the overhead bins.
                    span(id="Item1_4" class="treeItem" onclick="setTarget(this)" seleccion valor="8") The plane did not arrive at the airport when it was scheduled to. 
                    span(id="Item1_5" class="treeItem" onclick="setTarget(this)" seleccion valor="4") The piece of paper they gave you at the check-in desk will let you know where to sit on the plane. 
                    span(id="Item1_6" class="treeItem" onclick="setTarget(this)" seleccion valor="2") There are no planes leaving the airport until the conditions get better.
                    span(id="Item1_7" class="treeItem" onclick="setTarget(this)" seleccion valor="1") I have a ticket to fly from Bogota to Miami and a ticket from Miami to Bogota. 
                    span(id="Item1_8" class="treeItem" onclick="setTarget(this)" seleccion valor="3") The plane I am on is heading to Bucaramanga.
                    span(id="Item1_9" class="treeItem" onclick="setTarget(this)" seleccion valor="6") They put some of his luggage in the luggage compartment under the plane.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck js-validarUnir")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()

