//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" ng-init="ContadorPalabras(200)" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5 #[strong.u-textColor_4 1. ]  Imagine you are living in the age of piracy. One morning you wake up in your ship with a map on your hand and your crew…
            div(class="row-flex mt100-xs mt10-md mt10-sm")
                div(class="col-flex-xs12 col-flex-md6 col-center mt10-sm mt100-md")
                    div(class="row mb30 mt20 ta-c showTo-md")
                        img(src="unit_1/module_1/assets/images/col_4.png", alt="" class="u-responsive-img")
                div(class="col-flex-xs12 col-flex-md6 col-center mt10-sm mt100-md")
                    div(class="row-flex"): h6 Complete the story. Write 200 words in total. Send the text to your tutor.
                    div(class="row-flex")
                        div(class="c-wrapTextarea ")
                            textarea(placeholder="Write here..." class="campo c-textarea h200" ng-model="textousuario")
                            div(class="c-wrapTextarea__counter")
                                span(id="contador") 0 
                                span(ng-bind="limitePalabras")
                                span(id="alertamensaje")
    |
    |
    aside(class="template-asideRight o-aside-Item") 
        button(class="c-btn-IconAction u-bgIconUpload" ng-click="enviarTexto()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
