//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_4")
    aside(class="template-asideLeft o-aside-Item")

    |
    |
    div(class="template-section m-a")
        |
        section(class="template-content" )
            .row    
                .col.xs12.md6
                    p Sometimes when asking for clarity it is necessary to repeat what you have heard in your own words in order to make sure that you understand completely what has been said.
                    .row-flex.align-items-center.justify-around.mt30
                        button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_1/module_4/assets/audios/act_9_1.mp3")
                        button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_1/module_4/assets/audios/act_9_2.mp3")
                    p.mt30 When someone has misspoken, or is wrong about something, you may not want to point it out directly as that can sometimes be considered rude. Instead try to repeat the statement but this time use correct information. 
                    .row-flex.align-items-center.justify-around.mt30
                        button(class="c-btn-IconAction u-bgIconListen" ng-audio="unit_1/module_4/assets/audios/act_9_3.mp3")
                
                .col.xs12.md6
                    h6 Now practice clarifying and correcting when speaking with friends in English.
                    .row.mt30
                        .row
                            p #[strong.u-textColor_4 •] Do you know that Botero is one of the most famous painters in the world? He is from Colombia, Medellin to be exact.
                            
                        .row
                            input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_1" value="1")
                            label(class="c-Checkbox w100 ta-l " for="selInput_1") What are you talking about?
                            input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_2" value="2")
                            label(class="c-Checkbox w100 ta-l " for="selInput_2") So, Botero is a famous Colombian artist from Medellin?
                            input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_3" value="3")
                            label(class="c-Checkbox w100 ta-l " for="selInput_3") Medellin is in Colombia?
                    .row.mt30
                        .row
                            p #[strong.u-textColor_4 •] The Flower Festival is held in Bogota every year.
                            
                        .row
                            input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_4" value="1")
                            label(class="c-Checkbox w100 ta-l " for="selInput_4") Did you mean the flower Festival is held in Medellin every year?
                            input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_5" value="2")
                            label(class="c-Checkbox w100 ta-l " for="selInput_5") What is held where?
                            input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_6" value="3")
                            label(class="c-Checkbox w100 ta-l " for="selInput_6") You are so wrong?

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
    
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")