//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_1")
    aside(class="template-asideLeft o-aside-Item")

    |
    |
    div(class="template-section m-a")
        section(class="template-content")

            div(class="row row-flex")
                h5 Read the definition and match it to the most suitable word:
            div(class="row row-flex")
                div(class="col-flex-xs12 col-flex-md8 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w80") Meaning

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td To become scared (by someone, something).

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td Unlikely to happen.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td To begin (something).

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td Behavior that is typically wild or difficult to control.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td (Typically) unfortunate consequence of a particular event.


                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td A Jewish building for worship.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td A story, relating experiences or events.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td To give out, distribute.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td Anything given with intent to persuade.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td To perform (something).

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td To not realize (something).

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td Anything that helps to discover something.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td Very close in appearance.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td To look continuously for an extended period of time.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td A pile of hay used to dry the ground.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td The background in a setting.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td Relating to existence.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Synagogue
                                    option(value="2") Clue
                                    option(value="3") Striking resemblance
                                    option(value="4") Dire
                                    option(value="5") Gaze
                                    option(value="6") Launch
                                    option(value="7") Haystack
                                    option(value="8") Unaware
                                    option(value="9") Render
                                    option(value="10") Rampage
                                    option(value="11") Dispense
                                    option(value="12") Narrative
                                    option(value="13") Bribe
                                    option(value="14") Aftermath
                                    option(value="15") Frighten
                                    option(value="16") Improbable
                                    option(value="17") Existential
                                    option(value="18") Backdrop
                                td Very serious and at times urgent.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
