//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt10-xs mt30-md mt10-sm")
                div(class="col-flex-md4 col-flex-sm12 col-flex-xs12 col-center padding10")
                    input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                    label(for="inputRadio_1" class="c-CheckSelected col-flex mb10 mt10") OPTION 1
                    img(src="unit_2/module_8/assets/images/self_6_1.png", alt="" class="u-responsive-img centrado")
                div(class="col-flex-md4 col-flex-sm12 col-flex-xs12 col-center padding10")
                    input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                    label(for="inputRadio_2" class="c-CheckSelected col-flex mb10 mt10") OPTION 2
                    img(src="unit_2/module_8/assets/images/self_6_2.png", alt="" class="u-responsive-img centrado")
                div(class="col-flex-md4 col-flex-sm12 col-flex-xs12 col-center padding10")
                    input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="3")
                    label(for="inputRadio_3" class="c-CheckSelected col-flex mb10 mt10") OPTION 3
                    img(src="unit_2/module_8/assets/images/self_6_3.png", alt="" class="u-responsive-img centrado")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction openNotice u-bgIconInfoActivity" ng-click="idNotice = 1")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside  is-visible" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_2/module_8/selfcheck/self_6_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")