//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt10-xs mt30-md mt10-sm")
                div(class="col-flex-md7 col-flex-sm10 col-flex-xs12 col-center")
                    div(class="mb20 row-flex")
                        p.ta-j #[strong(class="u-textColor_4-dark") • ] When I was younger, I #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_a") ] have a very hard time making new friends.
                    div(class="mb20 row-flex")
                        p.ta-j #[strong(class="u-textColor_4-dark") • ] Before we had children, #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_b") ] go on vacation at least once a year.
                    div(class="mb20 row-flex")
                        p.ta-j #[strong(class="u-textColor_4-dark") • ] When I started working, #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_c") ] have a motorcycle. I now own a car.
                    div(class="mb20 row-flex")
                        p.ta-j #[strong(class="u-textColor_4-dark") • ] There #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_d") ] many parks in the city. But it´s now grown so much and they´ve constructed buildings in what used to be parks before.
                    div(class="mb20 row-flex")
                        p.ta-j #[strong(class="u-textColor_4-dark") • ] My brother and I went hiking for the first time last year. It was great. Every day we #[span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_e") ] get up early to climb new pikes.
                div(class="col-flex-md4 col-flex-sm10 col-flex-xs12 col-center ta-c showTo-md")
                    img(src="unit_2/module_8/assets/images/self_2.png", alt="" class="u-responsive-img")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")