//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-j") Identify if the following sentences are written in the active or passive voice. Drag them to the appropriate column. 
                img(src="unit_1/module_4/assets/images/act_2.png", alt="" class="c-figure w100 ml10 mb10 mt30")
