//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
    div(class="row mt40")
section(class="c-noticeAside-section")
    div(class="row mt20")
        h5(class="ta-j") Read the following sentences. Pay attention to the words in bold.
        p(class="ta-j"): strong Information about Colombia
        img(src="unit_1/module_4/assets/images/act_11a.png", alt="" class="c-figure w90 ml10 mb10 mt30")
        p The Colombian National Anthem 
            strong was written by 
            | Rafael Nuñez.
        img(src="unit_1/module_4/assets/images/act_11b.png", alt="" class="c-figure w90 ml10 mb10 mt30")
        p The music
            strong was composed by
            | Italian musician Oreste Sindice.
        img(src="unit_1/module_4/assets/images/act_11c.png", alt="" class="c-figure w90 ml10 mb10 mt30")
        p Colombia 
            strong was freed by 
            | Simon Bolivar in 1819.
        img(src="unit_1/module_4/assets/images/act_11d.png", alt="" class="c-figure w90 ml10 mb10 mt30")
        p Colombia
            strong was inhabited by 
            | tribes from the Chibcha family.



