//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-c"): strong  Part I: Read and listen to the movie review.
                p(class="ta-j") “Sunlight and Me” is the story of a girl and her horse. The story was written by Emily Parker and it’s directed by Lara eterson. It’s Ms. Peterson’s first movie and she did a great job. I’m sure she will be really successful in the future. artin Jackson and Sharon Moore are he stars of the movie. Young Sharon plays Jeanie, the 12-year-old girl who raises the horse, Sunlight. Martin Jackson plays her father. Sharon Moore is very good in her role, but Martin ackson doesn’t seem believable. The costumes were designed by Janet Davis. I think they’re boring and ugly. The sets were designed by Samantha Logan, and they’re beautiful.
                audio(src="audio.mp3" preload="auto" controls)
                    p Tu navegador no implementa el elemento audio.
