//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
    div(class="row mt40")
    section(class="c-noticeAside-section")
        div(class="row mt20")
            p(class="ta-j") Read about the production in three countries.
            p(class="ta-j mt20"): strong Italy
            p(class="ta-j") Italy is known for many different things: fashionable clothing, modern furniture, beautiful glasswork, marble, and many historical and cultural attractions. ourists come to Italy every year to see the sites and go shopping for popular Italian products like shoes and pottery. Foods such as olive oil, wine and cheese are also produced in Italy and exported abroad. Plenty of fish are caught and processed in the coastal areas of the country, too.   
            p(class="ta-j mt20"): strong Colombia
            p(class="ta-j") Colombia is known for its beautiful green landscapes. They cover most of the country. Much of this land is devoted to farming and agriculture. Rare and beautiful wildlife, plants and trees are found in this South American Country. But this country isn’t only for scientists and tourists! Agricultural crops, such as coffee and roses, are also grown here and exported to other countries. Also, salt is produced from. 
            p(class="ta-j mt20"): strong China
            p(class="ta-j") China is known for its many products, its large population, and its long history. More rice is grown in China, more steel and textiles are produced in China, and more people live in China than in any other country in the world. China is also a very big exporter of tea. The Chinese are known for inventing many useful and common things we use today, such as paper, gunpowder, silk and the compass. One of China’s most famous attractions is the Great Wall. It’s located in northern China.

