//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_5" )
    aside(class="template-asideLeft o-aside-Item" ng-init="s_actividad = 1; DragandDropClonable()")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="3" ng-click="s_actividad = 3" ng-class="(s_actividad == 3) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")

        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")
            .row
                h5 #[strong.u-textColor_4 1. ]  Read the following passage. Then do the exercise.             
            div(class="row-flex align-items-center")
                div(class="col xs12 md6")
                    p.ta-j.lh25 Keeping the house clean is so difficult. I live in Chiquinquirá with my brothers Oswaldo and Guillermo. Our parents live in Ubaté, so we need to do the house chores. Guillermo loves to do the washing while Oswaldo cooks everyday. He particularly enjoys making salads. I am in charge of making the beds, doing the dishes and cleaning the house. Sometimes, when I am busy, Guillermo does me a favor and cleans for me.
                div(class="col xs6 md5 offset-md1 ta-c col-center")
                    img(src="unit_1/module_4/assets/images/act_5_1.png", alt="" class="u-responsive-img")

                    

        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")
            h5 #[strong.u-textColor_4 2. ] Now match the words #[strong DO ] and #[strong MAKE ] with the right expressions.
            div(class="row row-flex align-items-center justify-center mt50")
                div(class="col xs12 md10")
                    div(class="row-flex align-items-center justify-around ")
                        div(class="col-flex-xs4 col-center")
                            div(class="dragCont centrado")
                                div(class="drag") Make
                        div(class="col-flex-xs4 col-center")
                            div(class="dragCont centrado")
                                div(class="drag") Do

                    div(class="grid-layout")
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") good
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") friends
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") a difference
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") a favor
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") a salad
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") your best
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") your hair
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") a phone call
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") a complaint
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") the right thing
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") money
                        div(class="flex-inline")
                            div(class="drop mb0")
                            div(class="m-a c-blue-text1") the washing

        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 3")
            div(class="row-flex mt10-sm0")
                div(class="col sm6 md4 showTo-md")
                    img(src="unit_1/module_4/assets/images/act_5_2.png", alt="" class="u-responsive-img")
                div(class="col xs12 md8 lh30 ")
                    h5 #[strong.u-textColor_4 3. ] Now, choose 4 combinations and write sentences that are true for you.
                    h6(class="u-textColor_4") For example: I always try to do my best.
                    div(class="mb20 row-flex mt20 w100")
                        div(class="col-flex w100")
                            strong(class="u-textColor_4-dark w100")  1.  #[span(class="c-textField w90"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")]
                    div(class="mb20 row-flex mt20 w100")
                        div(class="col-flex w100")
                            strong(class="u-textColor_4-dark w100")  2.  #[span(class="c-textField w90"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")]
                    div(class="mb20 row-flex mt20 w100")
                        div(class="col-flex w100")
                            strong(class="u-textColor_4-dark w100")  3.  #[span(class="c-textField w90"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")]
                    div(class="mb20 row-flex mt20 w100")
                        div(class="col-flex w100")
                            strong(class="u-textColor_4-dark w100")  4.  #[span(class="c-textField w90"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")]

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction openNotice is-active u-bgIconInfoActivity" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadDragandDropClonable()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-show="s_actividad == 2")
        button(class="c-btn-IconAction u-bgIconUpload" ng-show="s_actividad == 3" )
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_1/module_4/activities/act_5_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")