//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-j"): strong Do and Make are two verbs that can be difficult to learn because they translate the same in Spanish: HACER.
                p(class="ta-j") The following are the most common cases where we use do and make:
                img(src="unit_1/module_4/assets/images/act_4b.png", alt="" class="c-figure w90 ml10 mb10 mt30")
                table(class="c-table-default W100")
                    tbody
                        tr
                            td(class="ta-l") Do me a favor
                            td(class="ta-r") Make a difference
                        tr
                            td(class="ta-l") Do the cooking
                            td(class="ta-r") Make a mess
                        tr
                            td(class="ta-l") Do the dishes
                            td(class="ta-r") Make a mistake
                        tr
                            td(class="ta-l") Do the housework
                            td(class="ta-r") Make a noise
                        tr
                            td(class="ta-l") Do the shopping
                            td(class="ta-r") Make an effort
                        tr
                            td(class="ta-l") Do a good job
                            td(class="ta-r") Make money
                        tr
                            td(class="ta-l") Do the washing up
                            td(class="ta-r") Make exceptions
                        tr
                            td(class="ta-l") Do your best
                            td(class="ta-r") Make calls
                        tr
                            td(class="ta-l") Do your hair
                            td(class="ta-r") Make a list



