//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-j"): strong • Read the following examples. Pay attention to the verbs in bold:
                p(class="ta-j mt20") • The company 
                    strong was shipping 
                    | the apples by boat.
                p(class="ta-j") • The apples
                    strong  were being shipped
                    |  by boat.
                p(class="ta-j mt20") • A farmer 
                    strong picked 
                    | the apples first, then he 
                    strong cleaned
                    |  them, and finally he 
                    strong packed 
                    | and 
                    strong shipped 
                    | them to the market.
                p(class="ta-j mt20") • First the apples 
                    strong  were picked,
                    |   then they
                    strong  were cleaned, 
                    |  and finally they
                    strong   were packed
                    |  and 
                    strong shipped
                    |  to the market.

                img(src="unit_1/module_4/assets/images/act_4b.png", alt="" class="c-figure w100 ml10 mb10 mt30")
