//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a ml40 mr40")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section ")
            div(class="row mt40")
                table(class="c-table-default")
                    thead
                        tr
                            th(class="ta-c") Tense
                            th(class="ta-c") Form
                    tbody
                        tr
                            td(class="ta-c")  Present simple passive 
                                
                            td(class="ta-c")  Is / are + past participle

                        tr
                            td(class="ta-c")  Present continuos passive   
                            td(class="ta-c")  Is / are being + past participle
