//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            
            div(class="row-flex mt40 ")
                div(class="col-flex-sm12 col-flex-md5 offset-md1 col-center mt30-sm mt10-md mt10-xs")
                    div(class="row mb30 ta-c showTo-md")
                        img(src="unit_1/module_4/assets/images/act_19_1.png", alt="" class="u-responsive-img w60 m-a")
                    div(class="c-cardBlue"): div(class="c-cardBlueContent")
                        p Labios pasan de una posición ovalada tensionada a una posición levemente abierta, la quijada sube con la lengua y se cierra paulatinamente hasta que la lengua se ubica cerca del paladar.
                        p Palabras claves en español: 
                            strong hoy, soy, sois, oiga
                    
                    h5(class="ta-c mt40") Spellings: /oi/
                    table(class="c-table-default m-a mt20")
                        tbody
                            tr
                                td(class="ta-c") “oi”
                                td(class="ta-c") “oy”
                            tr
                                td(class="ta-c") oil
                                td(class="ta-c") oyster
                            tr
                                td(class="ta-c") broil
                                td(class="ta-c") toy
                            tr
                                td(class="ta-c") ointment
                                td(class="ta-c") decoy
                div(class="col-flex-sm12 col-flex-md5 offset-md1 col-center mt30-sm mt10-md mt10-xs")
                    div(class="row-flex")
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  1. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_1.mp3")
                                input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                                label(for="inputRadio_1" class="c-CheckSelected col-flex ml10 padding10 ancho80") voice
                                input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                                label(for="inputRadio_2" class="c-CheckSelected col-flex ml10 padding10 ancho80") avoid
                                input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="3")
                                label(for="inputRadio_3" class="c-CheckSelected col-flex ml10 padding10 ancho80") void
                                input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_1" value="4")
                                label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 padding10 ancho80") vows
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  2. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_2.mp3") 
                                input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_2" value="1")
                                label(for="inputRadio_5" class="c-CheckSelected col-flex ml10 padding10 ancho80") noise
                                input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_2" value="2")
                                label(for="inputRadio_6" class="c-CheckSelected col-flex ml10 padding10 ancho80") nose
                                input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_2" value="3")
                                label(for="inputRadio_7" class="c-CheckSelected col-flex ml10 padding10 ancho80") hoist
                                input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_2" value="4")
                                label(for="inputRadio_8" class="c-CheckSelected col-flex ml10 padding10 ancho80") annoy
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  3. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_3.mp3") 
                                input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_3" value="1")
                                label(for="inputRadio_9" class="c-CheckSelected col-flex ml10 padding10 ancho80") towel
                                input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_3" value="2")
                                label(for="inputRadio_10" class="c-CheckSelected col-flex ml10 padding10 ancho80") toy
                                input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_3" value="3")
                                label(for="inputRadio_11" class="c-CheckSelected col-flex ml10 padding10 ancho80") toil
                                input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_3" value="4")
                                label(for="inputRadio_12" class="c-CheckSelected col-flex ml10 padding10 ancho80") spoil
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  4. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_4.mp3")  
                                input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_4" value="1")
                                label(for="inputRadio_13" class="c-CheckSelected col-flex ml10 padding10 ancho80") Detroit
                                input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_4" value="2")
                                label(for="inputRadio_14" class="c-CheckSelected col-flex ml10 padding10 ancho80") Illinois
                                input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_4" value="3")
                                label(for="inputRadio_15" class="c-CheckSelected col-flex ml10 padding10 ancho80") St. Croix
                                input(class="c-inputRadio" type="radio" id="inputRadio_16" name="SelInputRadio_4" value="4")
                                label(for="inputRadio_16" class="c-CheckSelected col-flex ml10 padding10 ancho80") New York
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  5. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_5.mp3")   
                                input(class="c-inputRadio" type="radio" id="inputRadio_17" name="SelInputRadio_5" value="1")
                                label(for="inputRadio_17" class="c-CheckSelected col-flex ml10 padding10 ancho80") owl
                                input(class="c-inputRadio" type="radio" id="inputRadio_18" name="SelInputRadio_5" value="2")
                                label(for="inputRadio_18" class="c-CheckSelected col-flex ml10 padding10 ancho80") toy
                                input(class="c-inputRadio" type="radio" id="inputRadio_19" name="SelInputRadio_5" value="3")
                                label(for="inputRadio_19" class="c-CheckSelected col-flex ml10 padding10 ancho80") toil
                                input(class="c-inputRadio" type="radio" id="inputRadio_20" name="SelInputRadio_5" value="4")
                                label(for="inputRadio_20" class="c-CheckSelected col-flex ml10 padding10 ancho80") spoil
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  6. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_6.mp3")   
                                input(class="c-inputRadio" type="radio" id="inputRadio_21" name="SelInputRadio_6" value="1")
                                label(for="inputRadio_21" class="c-CheckSelected col-flex ml10 padding10 ancho80") Detroit
                                input(class="c-inputRadio" type="radio" id="inputRadio_22" name="SelInputRadio_6" value="2")
                                label(for="inputRadio_22" class="c-CheckSelected col-flex ml10 padding10 ancho80") broil
                                input(class="c-inputRadio" type="radio" id="inputRadio_23" name="SelInputRadio_6" value="3")
                                label(for="inputRadio_23" class="c-CheckSelected col-flex ml10 padding10 ancho80") bow
                                input(class="c-inputRadio" type="radio" id="inputRadio_24" name="SelInputRadio_6" value="4")
                                label(for="inputRadio_24" class="c-CheckSelected col-flex ml10 padding10 ancho80") boy
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  7. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_7.mp3")   
                                input(class="c-inputRadio" type="radio" id="inputRadio_25" name="SelInputRadio_7" value="1")
                                label(for="inputRadio_25" class="c-CheckSelected col-flex ml10 padding10 ancho80") poison
                                input(class="c-inputRadio" type="radio" id="inputRadio_26" name="SelInputRadio_7" value="2")
                                label(for="inputRadio_26" class="c-CheckSelected col-flex ml10 padding10 ancho80") pounce
                                input(class="c-inputRadio" type="radio" id="inputRadio_27" name="SelInputRadio_7" value="3")
                                label(for="inputRadio_27" class="c-CheckSelected col-flex ml10 padding10 ancho80") point
                                input(class="c-inputRadio" type="radio" id="inputRadio_28" name="SelInputRadio_7" value="4")
                                label(for="inputRadio_28" class="c-CheckSelected col-flex ml10 padding10 ancho80") appoint
                        div(class="mb20 row-flex mt20 w100")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  8. 
                                button(class="c-btn-Icon u-bgIconListen ml10" ng-audio="unit_1/module_4/assets/audios/act_19_8.mp3")  
                                input(class="c-inputRadio" type="radio" id="inputRadio_29" name="SelInputRadio_8" value="1")
                                label(for="inputRadio_29" class="c-CheckSelected col-flex ml10 padding10 ancho80") poise
                                input(class="c-inputRadio" type="radio" id="inputRadio_30" name="SelInputRadio_8" value="2")
                                label(for="inputRadio_30" class="c-CheckSelected col-flex ml10 padding10 ancho80") Joice
                                input(class="c-inputRadio" type="radio" id="inputRadio_31" name="SelInputRadio_8" value="3")
                                label(for="inputRadio_31" class="c-CheckSelected col-flex ml10 padding10 ancho80") Joan
                                input(class="c-inputRadio" type="radio" id="inputRadio_32" name="SelInputRadio_8" value="4")
                                label(for="inputRadio_32" class="c-CheckSelected col-flex ml10 padding10 ancho80") soil 


    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")