//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
//div.vh100.row-flex
//- div(class="ml40 mr40 m-a c-noticeAside-section")
header(class="c-noticeAside-header")
    div(class="row mt40")
section(class="c-noticeAside-section")
    div(class="row mt20")
        img(src="unit_1/module_4/assets/images/act_9_1.png", alt="" class="u-responsive-img w90 ml10 mb10 mt30")
        img(src="unit_1/module_4/assets/images/act_9_2.png", alt="" class="u-responsive-img w90 ml10 mb10 mt30")
        img(src="unit_1/module_4/assets/images/act_9_3.png", alt="" class="u-responsive-img w90 ml10 mb10 mt30")
        img(src="unit_1/module_4/assets/images/act_9_4.png", alt="" class="u-responsive-img w90 ml10 mb10 mt30")
