//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                table(class="c-table-default")
                    thead
                        tr
                            th(class="ta-c") Active Tense
                            th(class="ta-c") Passive Form
                    tbody
                        tr
                            td(class="ta-c") Past simple
                            td(class="ta-c") Was / were + past participle
                        tr
                            td(class="ta-c") Past continuous
                            td(class="ta-c") Was / were being + past participle



