//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt50")
                h5 #[strong.u-textColor_4 1. ] Complete the questions in the mini-test below, using the past passive form of the verbs from the box. Then, choose the correct answer to each question. Listen to check your answers and get your score.
            div.row
                div(class="col xs12 md6 col-center")
                    div(class="c-cardGreen mt30"): div(class="c-cardGreenContent flex align-items-center justify-center") build // play // write // wear // destroy
            div.row


                div(class="col sm12 md5 ")
                    
                    h5(class="mt30") Complete the sentences.
                    div(class="row mb20 mt30")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span When
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir")
                                    span
                                        | the first mini-skirt 
                                        | ?
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" ng-click="valorinputa=1" value="1")
                            label(for="inputRadio_1" class="c-CheckSelected col-flex ml10 mr10") 1965

                            input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" ng-click="valorinputa=2" value="2")
                            label(for="inputRadio_2" class="c-CheckSelected col-flex ml10 mr10") 1940

                            input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" ng-click="valorinputa=3" value="3")
                            label(for="inputRadio_3" class="c-CheckSelected col-flex ml10 mr10") 1997
                            input(type="hidden" ng-model="valorinputa" class="js-select")
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span Where
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir")
                                    span 
                                        | golf 
                                        | for the first time?
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_2" ng-click="valorinputb=1" value="1")
                            label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 mr10") In Scotland
                            input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_2" ng-click="valorinputb=2" value="2")
                            label(for="inputRadio_5" class="c-CheckSelected col-flex ml10 mr10") In Whales
                            input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_2" ng-click="valorinputb=3" value="3")
                            label(for="inputRadio_6" class="c-CheckSelected col-flex ml10 mr10") In England
                            input(type="hidden" ng-model="valorinputb" class="js-select")

                div(class="col sm12 md5 offset-md1")
                    div(class="row mb20 mt30")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span Which two books
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir")
                                    span by Mark Twain?
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_3" ng-click="valorinputc=1" value="1")
                            label(for="inputRadio_7" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_3 = 'David Copperfield' ") David Copperfield
                            input(type="hidden" ng-model="valorinputc" class="js-select")

                            input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_4" ng-click="valorinputcb=2" value="1")
                            label(for="inputRadio_8" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_3b = 'Robinson Crusoe' ") Robinson Crusoe

                            input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_4" ng-click="valorinputcb=3" value="2")
                            label(for="inputRadio_9" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_3b = 'Oliver Twist' ") Oliver Twist
                            input(type="hidden" ng-model="valorinputcb" class="js-select")
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span Which famous British touristic attraction
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir")
                                    span more than 4,000 years ago?
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_5" ng-click="valorinputd=1" value="1")
                            label(for="inputRadio_10" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_4 = 'Windsor Castle' ") Windsor Castle
                            input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_5" ng-click="valorinputd=2" value="2")
                            label(for="inputRadio_11" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_4 = 'Stonehenge' ") Stonehenge
                            input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_5" ng-click="valorinputd=3" value="3")
                            label(for="inputRadio_12" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_4 = 'Buckingham Palace' ") Buckingham Palace
                            input(type="hidden" ng-model="valorinputd" class="js-select")
                    div(class="row mb20")
                        ol(class="c-listDefault")
                            li(class="u-textColor_4")
                                span(class="u-textColor_1-dark")
                                    span What year
                                    span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir")
                                    span 
                                        | many buildings in London 
                                        | in a fire?
                        div(class="row-flex")
                            input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_6" ng-click="valorinpute=1" value="1")
                            label(for="inputRadio_13" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_5 = '1666' ") 1666
                            input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_6" ng-click="valorinpute=2" value="2")
                            label(for="inputRadio_14" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_5 = '1866' ") 1866
                            input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_6" ng-click="valorinpute=3" value="3")
                            label(for="inputRadio_15" class="c-CheckSelected col-flex ml10 mr10" ng-click="textSelInputRadio_5 = '1966' ") 1966
                            input(type="hidden" ng-model="valorinpute" class="js-select")

                div(class="col-flex-sm12 col-flex-md6 col-center ta-c")
                    h6 Listen to get your score.
                    audio( controls class="row mt30")
                        source(src="unit_1/module_4/assets/audios/act_9_1.mp3" type="audio/mpeg")
                        | Your browser does not support the audio element.


    
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction openNotice u-bgIconInfoActivity" ng-click="idNotice = 1")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadEscribSelect()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="CompTxt_SelectMult()")
|        
|
footer(class="template-footer is-visible" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside is-visible" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_1/module_4/activities/act_9_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")