include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="ta-r u-fz09"): i When we want to talk about #[strong future facts ] or #[strong things we believe to be true ] about the #[strong future], we use #[strong “will” ]. When we use will, it implies we are making a decision as we speak.
                p(class="ta-r u-fz09"): i If you are #[strong  making a future prediction based on evidence in the present situation], use “going to”. When we use #[strong  "going to" ], decisions are already made when we speak.  
             
                                





