//- ============================== Mixins
include ../../../../_pug/_mixin
//-============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2")
    aside(class="template-asideRight o-aside-Item")
    |
    |
    div(class="template-section m-a" ng-init="unirColumnasFuncion()")
        section(class="template-content")
                 
            div(class="row-flex s-actividad u-animationFadeDown")
                div(data-ejercicio="unir" class="mt40 row")                 
                    div(id="sourceElements" class="col xs5 js-columnas")
                        
                        span(id="Item0_0" class="ta-c u-bgColor_5 treeItem" onclick="setSource(this)" seleccion valor="1") Are you serious? You must be joking!
                        span(id="Item0_1" class="ta-c u-bgColor_5 treeItem" onclick="setSource(this)" seleccion valor="2") That’s a surprise!
                        span(id="Item0_2" class="ta-c u-bgColor_5 treeItem" onclick="setSource(this)" seleccion valor="3") You’re kidding!
                        span(id="Item0_3" class="ta-c u-bgColor_5 treeItem" onclick="setSource(this)" seleccion valor="4") I must say it surprises me!
                        span(id="Item0_4" class="ta-c u-bgColor_5 treeItem" onclick="setSource(this)" seleccion valor="5") Really?                    
                        
                    div(id="linecanvas" style="width: 60px;")
                    div(id="targetElements" class="col xs5 js-columnas") 
                       
                        span(id="Item1_0" class="ta-c u-bgColor_5 treeItem" onclick="setTarget(this)" seleccion valor="3") I’m serious.
                        span(id="Item1_1" class="ta-c u-bgColor_5 treeItem" onclick="setTarget(this)" seleccion valor="5") Yeah!
                        span(id="Item1_2" class="ta-c u-bgColor_5 treeItem" onclick="setTarget(this)" seleccion valor="2") It is.
                        span(id="Item1_3" class="ta-c u-bgColor_5 treeItem" onclick="setTarget(this)" seleccion valor="1") No, I’m not.
                        span(id="Item1_4" class="ta-c u-bgColor_5 treeItem" onclick="setTarget(this)" seleccion valor="4") Does it?
               
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")        
        button(class="c-btn-IconAction u-bgIconCheck")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_2/module_7/activities/act_1_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice") 
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()