//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2")
    aside(class="template-asideLeft o-aside-Item")

    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" )

                div(class="row row-flex")
                    h5  Choose the option that best matches the use and the meaning.
                div(class="row row-flex")
                    div(class="col-flex-xs12")
                        table(class="c-table-estilo_tres m-a")
                            thead: tr
                                th(class="w20") Word
                                th(class="w40") Meaning
                                th(class="w40") Use

                            tbody
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td To make less strong or lessen the strength of.
                                    td Her illness has started to weaken her body.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td To extend or make wider.
                                    td Next week, a section of the highway is going to be closed off to broaden one of the lanes as the current lanes are too narrow.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td A person who practices a learnt profession or technique.
                                    td Sarah is studying to become a medical practitioner.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td To inspire admiration.
                                    td The dancer dazzled the crowd with his moves.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td Extending over a wide area.
                                    td There is widespread fear of nuclear war.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td Ecological art concerned with the state of the global environment.
                                    td Eco-art is now a global trend among many young artists.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td The natural process by which the body repairs itself.
                                    td The healing of his leg’s broken bone is taking a long time.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td Administrative director of an art gallery or museum.
                                    td They recently fired the art gallery’s curator. It is alleged that he was caught stealing a few art pieces.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td A natural or constructed place for bees; a very busy place.
                                    td We were told not to go to that side of the forest because there are many beehives.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td The process of raising money by way of asking for contributions.
                                    td We’ve planned a fund raising for next Saturday.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td To fertilize by transferring pollen.
                                    td It’s now quite common to cross-pollinate different species of flowers.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td Relating to ordinary people.
                                    td Politicians only enter the grass-roots communities when it’s election time.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td To return someone or something to a former condition or position.
                                    td They’ve restored the 17th century painting.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td A person confined to a prison.
                                    td Yesterday three inmates escaped from prison.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td A vague idea or opinion.
                                    td What notion do you have of this?
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td Completely or entirely.
                                    td Your accusations are wholly unfounded.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td Produce offspring or cause to reproduce.
                                    td My grandfather breeds cattle in the country.
                                tr
                                    td: select(name="act_2_1" class="c-select ml5 mr5 mt5 mb5")
                                        option(value="" disabled selected)
                                        option(value="1") Widespread (adj)
                                        option(value="2") Weaken
                                        option(value="3") Dazzle
                                        option(value="4") Healing
                                        option(value="5") Broaden
                                        option(value="6") Practitioner
                                        option(value="7") Eco-art
                                        option(value="8") Curator
                                        option(value="9") Fund-raising
                                        option(value="10") Inmate
                                        option(value="11") Cross-pollinate
                                        option(value="12") Beehive
                                        option(value="13") Breed
                                        option(value="14") Notion
                                        option(value="15") Wholly
                                        option(value="16") Restore
                                        option(value="17") Grass-roots
                                        option(value="18") Meanwhile
                                    td During the intervening time; At the same time.
                                    td Simon is washing the dirty dishes, meanwhile, help me organize the living room.
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
