//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_7")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex align-items-center")
                h5(class="mb35 row") Read the following text: 
                div(class="col xs12 md6 ta-l")
                    h6 Colombia customs
                    p.ta-j Welcome to the Colombian customs control, today you will observe our customs agents at work and learn some of the basic rules which all Colombians and foreigners need to abide by. #[br]  All passengers arriving from overseas must pay an embarkation tax at El Dorado airport, there are no exceptions to this rule, it must be paid at the airport or when the passenger purchases the ticket. Under no circumstances are foreigners allowed to enter Colombia without a passport. Many nationalities do not need a visa to travel to Colombia but they must have a passport. #[br] Baggage is the responsibility of the passenger and should be with the passenger at all times. Any bags left unattended in the airport is in no way the responsibly of Colombian customs or El Dorado airport or any of its agents. The bag will be confiscated and destroyed. #[br] At no time should minors be left unattended, all minors should be accompanied by an adult, if a minor is found to be alone; they will be placed in the custody of Family Welfare Colombia. The guardian or parents of this child may face criminal charges. #[br] Sharp objects are strictly prohibited on the planes and should be stored in the luggage at all times, anyone found to have sharp objects will be subjected to search and questioning by the Colombian Custom agents. Weapons of any kind are not allowed to pass through El Dorado airport except with special permission from the Colombian customs department. Anyone found to be in possession of weapons especially fire-arms or any part of a firearm will be arrested and subject to prosecution by the courts and will be banned from entering Colombia or taking an airplane in Colombia. #[br] A passenger cannot carry more than the equivalent of U.S. $10,000 without declaring it. If a passenger is found with an excess of U.S. $10,000 in their possession, the money will be seized and the matter investigated by the Colombian Custom agents. #[br] These are just some of the daily rules that need to be maintained in the airport. Now we will move on to our next phase, in which we will see the customs agents in action.


                div(class="col xs12 md6 ta-c")
                    img(src="unit_3/module_10/assets/images/col_2.png", alt="act_2" class="u-responsive-img")
                        







    |
    |
    aside(class="template-asideRight o-aside-Item")

|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
| 
