include _mixin

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv="Content-type", content="text/html;charset=utf-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="author" content=author)
meta(name="copyright" content=copyright)

title B-English

link(rel="icon", type="image/ico", href=""+globalPathImage+"client/cliente_favicon.ico")

link(rel="stylesheet", href="../assets/css/normalize.css")
link(rel="stylesheet", href="../assets/css/app.css")
link(rel="stylesheet", href="../assets/css/alertify.css")
link(rel="stylesheet", href="../assets/css/default.css")
link(rel="stylesheet", href="../assets/css/flickity.css")
link(rel="stylesheet", href="../assets/css/wavesJs.css")