// Jquery Scripts v2.1.3
script(src='./../assets/js/librerias/jquery.min.js')
//- script(src='https://code.jquery.com/jquery-3.1.0.min.js')
// Jquery UI
script(src="./../assets/js/librerias/jquery-ui.min.js")
script(src="./../assets/js/librerias/jQueryEasing.js")
// toouch-punch
script(src="./../assets/js/librerias/jquery.ui.touch-punch.min.js")
// Velocity
script(src="./../assets/js/librerias/velocity.min.js")
// Alertify
script(src="./../assets/js/librerias/alertify.min.js")
// flickity
script(src="./../assets/js/librerias/flickity.pkgd.min.js")
// waves
script(src="./../assets/js/librerias/waves.js")

// Materialize
script(src="./../assets/js/librerias/materialize/collapsible.js")
script(src="./../assets/js/librerias/materialize/modal.js")

// Angularjs Scripts
// Angular.min v1.5.5
script(src='./../assets/js/librerias/angular/angularJS_1.5.5.min.js')

// UI ROUTE
script(src='./../assets/js/librerias/angular/angular-ui-router.js')
script(src='./../assets/js/librerias/angular/angular-animate.js')
script(src='./../assets/js/librerias/angular/angular-audio.js')
script(src='./../assets/js/librerias/angular/wavesurfer.min.js')
script(src='./../assets/js/librerias/angular/angular-audio-recorder.min.js')
script(src='./../assets/js/librerias/angular/ng-file-upload-all.min.js')
script(src='./../assets/js/librerias/angular/angular-sanitize.js')

// Module Angular
script(src='./../assets/js/ngMain.js')
// Module Services
script(src='./../assets/js/ngService.js')
// Module Rutas
script(src='./../assets/js/ngRoute.js')
// Module Directives
script(src='./../assets/js/ngDirectives.js')

// Module Controller
script(src='./../assets/js/ngCtrlUser.js')
script(src='./../assets/js/ngCtrlHeader.js')
script(src='./../assets/js/ngCtrlFooter.js')
// Module Controllers
script(src='./../assets/js/ngCtrlUnits.js')
// Module Controllers Sections
script(src='./../assets/js/ngCtrlActivities.js')
// waves
script(src="./../assets/js/librerias/game_howisit.js")