//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_2" ng-init="s_actividad = 1")
    aside(class="template-asideLeft o-aside-Item")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        |
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")


            div(class="row")
                .col.xs12.md8.col-center: h5  Now answer the following questions. Record your answers:
            |
            div(class="row")
                div(class="col xs12 md5 showTo-md"): figure(class='')
                    img(class='u-responsive-img' src='unit_1/module_1/assets/images/col_2_1.png', alt='avatar describe the next activity')
                div(class="col xs12 md7")
                    .c-cardGreen
                        .c-cardGreenContent
                            ul(class="c-listDefault")
                                li Please describe the previous professions: workplace, responsibilities and functions, possible risks involved and salary
                                li What jobs have you had before? which ones did you like and which ones didn’t you like?
                                li What unusual jobs have you seen in Colombia? and what do they involve?
                    div(class="row mt30 c-ngRecorder" ng-audio-recorder id="mainAudio_a" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt1_mod1_mycol2',1)"): +ngRecorder
        |
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")
            h5 Define in English the following Colombian expressions:

            .row.row-flex.justify-content-center
                table(class="c-table-estilo_dos m-a" ng-init="listarExpresiones()")
                        thead: tr
                            th(class="w20") Word
                            th(class="w80") Mearning

                        tbody
                            tr(ng-repeat="expres in expresiones")
                                td(class="ta-c"): span {{expres.titulo}}
                                td: .c-wrapTextarea: textarea(name="", class="c-textarea" expresionid="{{expres.id}}" id="text_{{expres.id}}")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconUpload" ng-click="guardarExpresiones()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")