//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_1")
    aside(class="template-asideLeft o-aside-Item" )
    |
    |
    div(class="template-section m-a")        
        section(class="template-content u-animationFadeDown")
            div(class="row-flex")
                h5 #[strong.u-textColor_4 1. ] Look at the following pictures and guess what the activity is about.
                div(class="col-flex-sm12 col-flex-md9 col-center mt40-sm mt10-md mt10-xs m-a")
                    img(src="unit_2/module_8/assets/images/col_1.png", alt="" class="u-responsive-img ancho250 mt20")
                    img(src="unit_2/module_8/assets/images/col_1a.png", alt="" class="u-responsive-img ancho250 mt20")
                    img(src="unit_2/module_8/assets/images/col_1b.png", alt="" class="u-responsive-img ancho250 mt20")
                div(class="col-flex-sm12 col-flex-md12 col-center mt40-sm mt10-md mt10-xs m-a")
                    input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                    label(for="inputRadio_1" class="c-CheckSelected col-flex ml10 ancho230 h60 mt30 mr10" ng-click="txtcaptura_b='come'") Means of transportation 
                            
                    input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                    label(for="inputRadio_2" class="c-CheckSelected col-flex ml10 ancho230 h60 mt30 mr10" ng-click="txtcaptura_b='count'") Childhood in America 
                    
                    input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="3")
                    label(for="inputRadio_3" class="c-CheckSelected col-flex ml10 ancho230 h60 mt30 mr10" ng-click="txtcaptura_b='settle'") Electronic devices nowadays

                    input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_1" value="4")
                    label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 ancho230 h60 mt30 mr10" ng-click="txtcaptura_b='settle'") Traditional games in Colombia 
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
| 
script(src="./../assets/js/librerias/jquery.flip.min.js")
script.

    $(document).ready(function() {
        
        $(".flip_card").flip({
            axis: 'y',
            trigger: 'click',
            reverse: true
        });
    });

