//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item" )
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            
            div(class="row mt40 ")
                h5 Choose the best answer for the following questions:
                div(class="row-flex m-a")
                    div(class="col-flex-sm12 col-flex-md6 padding20 mt10-xs")
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span What would be an appropriate title for the text?
                            div(class="row")
                                input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                                label(for="inputRadio_1" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_b='come'") My childhood in the coast of Colombia. 
                                
                                input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                                label(for="inputRadio_2" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_b='count'") My Grandparents. 
                                
                                input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="2")
                                label(for="inputRadio_3" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_b='settle'") My Childhood Friends.
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span We could not watch TV because...
                            div(class="row justify-around")
                                input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_2" value="1")
                                label(for="inputRadio_4" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_c='break'") Grandparents wouldn’t let me.
                                input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_2" value="2")
                                label(for="inputRadio_5" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_c='put'") I had to do my homework first.   
                                input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_2" value="3")
                                label(for="inputRadio_6" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_c='turn'") There was no electricity.
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span My grandparents...
                            div(class="row justify-around")
                                input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_3" value="1")
                                label(for="inputRadio_7" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_c='break'") Hated when we played outside.
                                input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_3" value="2")
                                label(for="inputRadio_8" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_c='put'") Made sure we ate before we played.
                                input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_3" value="3")
                                label(for="inputRadio_9" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_c='turn'") Made sure we did our homework before we played.
                    div(class="col-flex-sm12 col-flex-md6 padding20 mt10-xs")
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span As a child... 
                            div(class="row")
                                input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_4" value="1")
                                label(for="inputRadio_10" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_d='go'") Playing outside with my friends and brothers. 
                                input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_4" value="2")
                                label(for="inputRadio_11" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_d='hang'") I love ghost stories.
                                input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_4" value="3")
                                label(for="inputRadio_12" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_d='try'") I love singing.
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span Why did the narrator want to be a firefighter?
                            div(class="row")
                                input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_5" value="1")
                                label(for="inputRadio_13" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_e='take'") Because he got an engine toy.
                                input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_5" value="2")
                                label(for="inputRadio_14" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_e='put'") Because he enjoys playing with fire.
                                input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_5" value="3")
                                label(for="inputRadio_15" class="c-CheckSelected col-flex centrado w100 mt10 ml10 mr10" ng-click="txtcaptura_e='speed'") Because he didn’t want to be a teacher.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")