//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            div(class="row-flex m-a")
                div(class="col-flex-sm12 col-flex-md12 col-center mb30")
                    h5(class="ta-c") Read the following text:
                    h5(class="ta-c") A Child of La Guajira
                div(class="col-flex-sm12 col-flex-md4 col-center mb30")
                    img(src="unit_2/module_8/assets/images/col_2.png", alt="" class="u-responsive-img  mt20 showTo-md")
                div(class="col-flex-sm12 col-flex-md6 col-center mb30")
                    p(class="ta-j") I was so happy during my childhood; life was very different, simple and beautiful. I was born in 1970 in a small village in the north of Colombia in a town called Villanueva in La Guajira.
                    p(class="ta-j") I used to live with my grandparents as my mother and father moved to Venezuela looking for better opportunities for themselves and their 4 children.
                    p(class="ta-j") I used to go to the primary school in El Cafetal. I would get up at 6 am in the morning and ride my little bike. Miss Yolanda used to be my teacher; I enjoyed her classes, especially basic math, geometry, and calculus. I spent most of my days at the school or hanging out with my friends by the river.
                    p(class="ta-j") My favourite time was at night, we used to use candles almost every day as the electricity was not something we could afford. Instead of watching TV or play video games, a group of friends would come every to knock at my door and asked: Are you going to play tonight? My brothers and I would run to my grandma and ask for permission to go to play with the other kids. She almost always said yes, the only reason she would say no was because I forgot to do one of the chores such as to tidy my room, wash the dishes or finish my homework. 
                    p(class="ta-j") After playing for a long time, my grandpa called us, and asked us to take a shower before having dinner. After dinner, the whole family used to sit in front of the house to hear stories about ghosts and spirits, sometimes we were so scared to go to bed that we asked our grandparents to stay with us in our room until we fell asleep.
                    p(class="ta-j") At the end of the school year, my parents came to visit and spent Christmas with us. They arrived with many presents for everybody. I remember that red engine toy, my father bought for me. At that time I dreamt of being a firefighter, but as life changed my career changed as well and I ended up being a teacher.

    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        //- button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")