header(class="template-header" ui-view="header")
section(class="template-wrapper" )
    div(ui-view="content" class="template-section")
footer(class="template-footer" ui-view="footer")
//- div(ui-view="aside")
//- div(ui-view="modal")