//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            
            div(class="row mt40 ")
                div(class="row-flex m-a")
                    div(class="col-flex-sm12 col-flex-md4 col-center")
                        img(src="unit_2/module_6/assets/images/col_1.png", alt="" class="u-responsive-img mt20 showTo-md")
                    div(class="col-flex-sm12 col-flex-md6 mt60 col-center")
                        p Tell us about your experience or a relative's experience leaving his or her town for the first time. Send the text to your teacher.
                        div(class="row-flex mt30")
                            div(class="c-wrapTextarea"): textarea(placeholder="Write here..." class="c-textarea h200" ng-model="textousuario")
                        //- button(class="c-btn-Icon u-bgIconListen mt30 ancho40 h40" ng-audio="unit_1/module_2/assets/audios/col_4_1.mp3")
                        //- button(class="c-btn-Icon u-bgIconRecord mt30 ancho40 h40")
                       
    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconUpload" ng-click="enviarTexto()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")                                                        