//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper mycol_2" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            
            div(class="row mt40 ")
                h5 Read the following text E-mail
                div(class="row m-a _c-email")
                    div(class="_c-email-header")
                        div(class="_c-email-row")
                            div(class="_c-email-destinatario") for: sa-oul123@mymail.com
                        div(class="_c-email-row")
                            div(class="_c-email-copia") CC:
                            div(class="_c-email-asunto") Subject:
                    div(class="_c-email-body")
                        div(class="_c-email-row")
                            div(class="_c-email-mensaje")
                                p(class="mb30") Hello Sandra

                                p(class="mb30") Welcome to our wonderful university!

                                p(class="ta-j") I am your student advisor, my name is Alfredo. First of all, congratulations on earning your place in this wonderful university, we are one of the leading universities in Colombia. Now let me fill you in on what to expect on a daily basis when you get to Bogota in order to you off to a great start.  When you get to Bogota you have two choices of housing, you can choose from a list of housing providers approved  by the university  or you can try to look into finding a room or apartment with a private landlord, but be very careful as some landlords are not very trustworthy especially in the south of Bogota. Once you have sorted out your apartment the next issue to tackle is transport. I suggest that you purchase a transmilenio card. This will make it a lot easier for you if you top up the card weekly or monthly to avoid the long lines to purchase a ticket. The transmilenio stations in Chapinero are quite busy so be prepared for some delays when you travel. You need to get up early in the morning to in order to get to class on time. You will need to come into the university to meet with the academic advisors to talk over your course selections, they will break down the choices you have, and you can talk over the various options and work out your class schedule. Like most universities in Colombia, English is compulsory. With this done you must then work out your daily routine of travelling to the university, your lunches and your study time. We recommended that you study and revise at the university in our wonderful state of the art library, which has both WIFI and a large number of computers connected to the internet. We boast the fastest internet speed of any university in Bogota and the rest of Colombia.  Working part-time while you study can be very beneficial if you are working in the same field  that you are studying, as you will be studying nursing, there are many hospitals, EPS and clinics that will hire part-time in Bogota or as we call it prestación de servicio.  If you can not, you may always find work is one of the many restaurants or shops in Chapinero. I am looking forward to see you soon so we can talk over your adjustment to the Capital city; I know it is a big change from Nuqui.     
        |
        |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        //- button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")