//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item" )
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            
            div(class="row mt40 ")
                h5 Choose the best answer for the following questions:
                div(class="row-flex m-a")
                    div(class="col-flex-sm12 col-flex-md6 padding20 mt10-xs")
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span What is a good title for this Email?
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                                label(for="inputRadio_1" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='come'") Using Transmilenio 
                                
                                input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                                label(for="inputRadio_2" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='count'") moving to Chapinero  
                                
                                input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="3")
                                label(for="inputRadio_3" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='settle'") Welcome to University life.
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span What does Alfredo think of the south of Bogota?
                            div(class="row-flex justify-around")
                                input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_2" value="1")
                                label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='break'") It is dangerous 
                                input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_2" value="2")
                                label(for="inputRadio_5" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='put'") It is easy to find an apartment or room  
                                input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_2" value="3")
                                label(for="inputRadio_6" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='turn'") It is easy to travel to by transmilenio
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span Why is it easier to get a transmilenio card?
                            div(class="row-flex justify-around")
                                input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_3" value="1")
                                label(for="inputRadio_7" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='break'") You will get a discount  
                                input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_3" value="2")
                                label(for="inputRadio_8" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='put'") Students get a discount
                                input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_3" value="3")
                                label(for="inputRadio_9" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='turn'") You avoid the daily lines
                    div(class="col-flex-sm12 col-flex-md6 padding20 mt10-xs")
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span Where is the University Located?
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_4" value="1")
                                label(for="inputRadio_10" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='go'") In the South of Bogota
                                input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_4" value="2")
                                label(for="inputRadio_11" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='hang'") Near El Dorado airport
                                input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_4" value="3")
                                label(for="inputRadio_12" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='try'") In Chapinero
                        div(class="row mb20 mt30")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span Alfredo thinks a Nursery student should get a part-time job at a…
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_5" value="1")
                                label(for="inputRadio_13" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='take'") Bank
                                input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_5" value="2")
                                label(for="inputRadio_14" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='put'") Hotel
                                input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_5" value="3")
                                label(for="inputRadio_15" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='speed'") Hospital
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")