//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt100-xs mt10-md mt10-sm")
                div(class="col-flex-xs12 col-flex-md5 offset-md1 col-center mt10-sm mt20-md")
                    div(class="row-flex")
                        div(class="mb20 row-flex mt20 xs12")
                            div(class="col-flex")
                                p #[strong.u-textColor_4-dark • ] Water is cold, but ice is colder.
                                p.row(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100") 
                        div(class="mb20 row-flex mt20 xs12")
                            div(class="col-flex")
                                p #[strong.u-textColor_4-dark • ] My sister really wants to go to the movies tonight. She offered to pay for me.
                                p.row.c-textField: input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
                        div(class="mb20 row-flex mt20 xs12")
                            div(class="col-flex")
                                p #[strong.u-textColor_4-dark • ] We all laughed at the joke. My grumpy brother was smiling.  
                                p(class="c-textField row"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
                div(class="col-flex-xs12 col-flex-md5 col-center mt10-sm mt20-md")
                    div(class="row-flex")
                        div(class="mb20 row-flex mt20 xs12")
                            div(class="col-flex")
                                p #[strong.u-textColor_4-dark • ] We should leave now. We aren´t supposed to be here.
                                p(class="c-textField row"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
                        div(class="mb20 row-flex mt20 xs12")
                            div(class="col-flex")
                                p #[strong.u-textColor_4-dark • ] I am not good at cooking. I can´t make toast.
                                p(class="c-textField row"): input(type="text" placeholder="Text here..." class="c-input js-escribir w100")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")