/*!*/.template {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    background-image: url(../../content/assets/multimedia/images/app/photo_bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%
}

.template-wrapper {
    min-height: 100vh;
    padding-bottom: 0
}

.c-appLogin {
    height: 400px;
    width: 400px;
    padding: 5rem 6rem 4rem;
    background-image: url(../../content/assets/multimedia/images/app/login_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%
}

.c-appLogin-header {
    background-image: url(../../content/assets/multimedia/images/app/logo_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 80px;
    width: 100%;
    min-width: 175px
}

.c-appLogin-block {
    padding: .5rem 0
}

.c-appLogin-input {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background-color: rgba(255,255,255,0.05);
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    color: white
}

.c-appLogin input:-webkit-autofill {
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.82)
}

.c-appLogin-button {
    width: 120px;
    height: 2rem;
    line-height: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.9);
    font-size: 0.9rem
}

.c-appLogin-row {
    padding: .3rem 0
}