//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            
            div(class="row-flex align-items-center")
                div(class="col-flex-sm12 col-flex-md4 col-center")
                    div(class="row")
                        p 
                            | A defining relative clause gives essential information about the noun or noun phrase it modifies. 

                        p
                            strong Example: 
                            | The man 
                            strong who is wearing the hat 
                            | is my teacher. 

                        p
                            | The purpose of a defining relative clause is to clearly define who or what we are talking about. Without this information, it would be difficult to know who or what is meant. In the example, it is the man who is wearing a hat. 

                        p
                            | Not any other man.

                        p
                            strong Punctuation:
                            |  Commas are not used in defining relative clauses.

                        p
                            strong Relative pronouns:
                            |  The following relative pronouns are used in defining relative clauses:

                div(class="col-flex-sm12 col-flex-md7 offset-md1 col-center") 

                    table(class="c-table-estilo_tres w100")
                        thead
                            tr
                                th 
                                th Person
                                th Thing
                                th Place
                                th Time
                                th Reason
                        tbody
                            tr(class="ta-c")
                                td Subject
                                td 
                                    strong who/that 
                                    br
                                    | Example: The woman 
                                    strong who 
                                    | is speaking now has a Ph.D. The woman 
                                    strong that 
                                    | is speaking now has a Ph.D.
                                td
                                    strong which/that 
                                    br
                                    | Example: The color which I chose is blue. The color 
                                    strong that 
                                    | I chose is blue.
                                td 
                                td 
                                td 

                            tr(class="ta-c")
                                td Object
                                td 
                                    strong who/whom/that 
                                    br
                                    | This is the person 
                                    strong who 
                                    | had the accident. This is the person 
                                    strong whom 
                                    | I helped. This is the person 
                                    strong that 
                                    | I helped.
                                td
                                    strong which/that 
                                    br
                                    | This is the answer 
                                    strong which 
                                    | most people chose. This is the answer 
                                    strong that 
                                    | most people chose.
                                td 
                                    strong Where 
                                    br
                                    | This is the school 
                                    strong where 
                                    | I studied.
                                td 
                                    strong When 
                                    br
                                    | I remember the moment 
                                    strong when 
                                    | you came.
                                td
                                    strong Why 
                                    br
                                    | I want to know 
                                    strong why 
                                    | she is here.

                            tr(class="ta-c")
                                td Possessive
                                td 
                                    strong Whose 
                                    br
                                    | The students 
                                    strong whose 
                                    | exams are missing came yesterday.
                                td
                                    strong whose 
                                    br
                                    | These are the students 
                                    strong whose 
                                    | exams are missing.
                                td 
                                td 
                                td
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
