//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        section(class="c-noticeAside-section")
            div(class="row")
                h6 Here is the list
                table(class="c-table-default mt30")
                    tr
                        td
                            ul(class="c-listDefault")
                                li Have a bath
                                li Have a drink
                                li Have a good time
                                li Have a haircut 
                                li Have a holiday 
                                li Have a problem
                                li Have a relationship
                                li Have a rest
                                li Have lunch
                                li Have sympathy
                        td

                            ul(class="c-listDefault")
                                li Take a break
                                li Take a chance
                                li Take a look 
                                li Take a rest 
                                li Take a seat 
                                li Take a taxi
                                li Take an exam
                                li Take notes
                                li Take someone's place
                                li Take someone's temperature

                        