//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        |  Like: The structure of the sentence is usually:
                    li  
                        strong VERB + LIKE + NOUN / PRONOUN.

                    li(class="mt20")
                        |  Like implies a comparison.

                    li(class="mt20")
                        |  As: The structure of the sentence is usually:

                    li 
                        strong AS + SUBJECT + VERB.
                        |  As is used to refer to a role / function of a person or the state of things.


