//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a" ng-init="unirColumnasFuncion()")
        section(class="template-content")
            
             
            div(class="row-flex align-items-center")
                div(class="col-flex-sm12 col-flex-md6 col-center showTo-md")
                    div(class="row flex flex-column")

                        img(src="./unit_3/module_9/assets/images/act_8_1.png", alt="", srcset="" class="u-responsive-img centrado")
                        img(src="./unit_3/module_9/assets/images/act_8_2.png", alt="", srcset="" class="u-responsive-img centrado mt30")

                div(class="col-flex-sm12 col-flex-md6 col-center") 

                    h6 Match the relative clauses with their reduced forms.

                    div(class="row mt30" data-ejercicio="unir")
                        div(id="sourceElements" class="ancho350 js-columnas")
                            span(id="Item0_0" class="treeItem" onclick="setSource(this)" seleccion valor="1") The man who is in the house likes to watch Señal Colombia all day.  
                            span(id="Item0_1" class="treeItem" onclick="setSource(this)" seleccion valor="2") The books that are on the desk are mine.
                            span(id="Item0_2" class="treeItem" onclick="setSource(this)" seleccion valor="3") The man who is swimming in the lake is my father. 
                            span(id="Item0_3" class="treeItem" onclick="setSource(this)" seleccion valor="4") The clothes that are lying on the floor belong to me.
                            span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="5") The survey which was conducted by the government did not indicate true public opinion.
                            span(id="Item0_5" class="treeItem" onclick="setSource(this)" seleccion valor="6") The food that was eaten by the mice was poisonous.
                            span(id="Item0_6" class="treeItem" onclick="setSource(this)" seleccion valor="7") The girl who sits next to Peter is my neighbor’s daughter.
                            span(id="Item0_7" class="treeItem" onclick="setSource(this)" seleccion valor="8") Most people who were invited to the party didn’t turn up.
                        div(id="linecanvas" style="width: 60px;")
                        div(id="targetElements" class="ancho350 js-columnas") 
                            span(id="Item1_0" class="treeItem" onclick="setTarget(this)" seleccion valor="4") The clothes lying on the floor belong to me.
                            span(id="Item1_1" class="treeItem" onclick="setTarget(this)" seleccion valor="6") The food eaten by the mice was poisonous.
                            span(id="Item1_2" class="treeItem" onclick="setTarget(this)" seleccion valor="8") Most people invited to the party didn’t turn up.
                            span(id="Item1_3" class="treeItem" onclick="setTarget(this)" seleccion valor="2") The books on the desk are mine.
                            span(id="Item1_4" class="treeItem" onclick="setTarget(this)" seleccion valor="7") The girl sitting next to Peter is my neighbor’s daughter.
                            span(id="Item1_5" class="treeItem" onclick="setTarget(this)" seleccion valor="3") The man swimming in the lake is my father.
                            span(id="Item1_6" class="treeItem" onclick="setTarget(this)" seleccion valor="1") The man in the house likes to watch Señal Colombia all day.
                            span(id="Item1_7" class="treeItem" onclick="setTarget(this)" seleccion valor="5") The survey conducted by the government did not indicate true public opinion.
                                
                
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()