//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")

        section(class="c-noticeAside-section")
            div(class="row mt40")

                h6 Read the following sentences. Pay attention to the words in bold:

                p(class="mt20")
                    strong Provided 
                    | that the weather is fine, we'll have a picnic on Saturday. 

                p
                    strong Providing 
                    | that the weather is fine, we'll have a picnic on Saturday.
                        

                p
                    | You can go to the party 
                    strong as long as 
                    | you come back before midnight.= You can go to the party, but you must promise to be back before midnight. 

                p
                    | You can go to the party 
                    strong providing / provided 
                    | you come back before midnight.


                img(src="./unit_3/module_9/assets/images/act_18.png", alt="", srcset="" class="u-responsive-img centrado mt30")