//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
    
        section(class="c-noticeAside-section")
            div(class="row mt40")
                p
                    strong Read the following sentences. Pay attention to the words in bold:

                p   
                    | You can borrow my bike 
                    strong as long 
                    | as you are careful. = You can borrow my bike if you are careful.


                p
                    | You can't borrow my bike 
                    strong unless 
                    | you are careful. = You can't borrow my bike if you are not careful.

                p
                    | I will go 
                    strong as long 
                    | as it is free. = I will go if it is free.


                p
                    | I won't go 
                    strong unless 
                    | it is free. = I won't go if it is not free. 


                img(src="./unit_3/module_9/assets/images/act_16.png", alt="", srcset="" class="u-responsive-img centrado mt40")