//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        | Many Colombian kids participate in a reality show related to cooking every year. One the challenges this year is to discover smells and quality of different products blindfolded. This are some of the things they said. 
                    
                    li(class="mt20")
                        | Listen and match the beginnings and endings of these sentences.
                        

