//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
    
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        h6 Read the following sentences: 

                    li(class="mt20")
                        | He speaks 
                        strong like 
                        | Dario Arismendi.

                    li
                        | She looks 
                        strong like 
                        | a supermodel.
                        

                    li(class="mt20")
                        | Nobody sings 
                        strong as 
                        | she does.

                    li
                        | They went to the party 
                        strong as 
                        | they were.

                    li(class="mt20") 
                        strong As 
                        | your boss, I must warn you to be careful. (I am your boss.) 
                    li(class="mt20")
                        strong Like 
                        | your boss, I must warn you to be careful. (I am not your boss, but he/she and I have similar attitudes.)
                    