//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                p   
                    | A 
                    strong non-defining relative clause 
                    | gives us 
                    strong extra information
                    |  about something. 
                p
                    | We don't need this information to understand the sentence. In other words, we can
                    strong  omit 
                    | this information and the sentence is not affected. 
                    
                p
                    | We don't use "that" in non-defining relative clauses, so we need to use 
                    strong "which"
                    |  if the pronoun refers to a thing, and
                    strong "who"
                    |  if it refers to a person. 
                    
                p
                    | We can't drop the relative pronoun in this kind of clause, even if the relative pronoun is the subject of the clause.


