//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row-flex mt40")
                ul
                    li 
                        | The additional information for a noun, called defining relative clauses, can be simplified, or reduced, in several ways:


                ul(class="c-listDefault")
                    li 
                        | If the 
                        strong relative pronoun 
                        |  is the 
                        strong object of the verb
                        |  then it can be 
                        strong omitted.
                        |  In the example,
                        strong "dress"
                        |  is the object of the verb (buy). "I" is the subject. When the relative pronoun is the object, it can be omitted.

                    li
                        | If the relative 
                        strong pronoun
                        |  is the 
                        strong subject of the verb
                        |  then it 
                        strong cannot be omitted.
                        
                    li 
                        | If the relative clause contains the verb "be" + any of the following then it can be reduced:

                    li 
                        | (a) be + an adjective phrase. Note that other verbs are possible here as well as "be", such as "seem", "look" and "appear"

                    li
                        | (b) be + a prepositional phrase
                    
                    li
                        | (c) be + a past participle

                    li
                        | (d) be + a present participle


                    
