//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

section(class="c-noticeAside-section vh100"): div(class="row m-a")
    div(class="row mt40")
        
        h5  Read the following sentences. They are about job qualifications.

        ul(class="c-listDefault mt20")
            li 
                p 
                    | Have experience doing something: "You may have some experience 
                    strong writing articles 
                    | for your school newspaper."

            li 
                p
                    | Have experience with equipment, a process: "I've had some experience 
                    strong with computers.
                    | "

            li 
                p
                    | Have experience in a field: "I've had experience in
                    strong  marketing strategy."

            li
                p
                    | Have training in a field: "I have some training in 
                    strong Information Technology."

            li
                p
                    | Have the ability to do something.


            li
                p   
                    | Have knowledge of a skill, a field.
    |
    div(class="row mt30")

        h6 Now, read this ad and answer the questions.

        p(class="mt20")
            | Assistant Cruise Directors for San Andres Island Needed. Have you ever dreamed of seeing the world? Here's your opportunity to get paid to do it! Happy Cruise Vacation has a number of openings for Assistant Cruise Directors, who will need to be responsible for all shipboard entertainment. 
        
        p   
            | Interested candidates will have experience in the travel or hotel industry and will have the ability to arrange parties, games, and other events for large groups of people. You should have experienced planning recreational activities a plus. Knowledge of languages desirable but not necessary.

        