//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        | The words 
                        strong THAT 
                        | and 
                        strong WHO 
                        | add information about people or things. These are called 
                        strong relative clauses. 
                        | Relative clouses are usually introduced by a 
                        strong relative pronoun:

                
                table(class="c-table-default")

                    tbody
                        tr
                            td 
                                p.ta-c
                                    | To talk about people
                            td 
                                p
                                    | Who

                                p
                                    | That 
                            td 
                                p 
                                    | The woman who lives next door is really nice.

                                p
                                    | The woman that lives next doors is really nice.


                        tr
                            td 
                                p.ta-c
                                    | To talk about thinks
                    
                            td
                                p
                                    | That
                                
                                p
                                    | Which

                            td
                                p
                                    | That is the house that they bought last summer.

                                p
                                    | That is the house which they bought last summer.


