//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w50")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                ul
                    li 
                        p
                            | A collocation is a combination of words that occurs frequently enough to be recognized as a common combination.
                            strong  HAVE
                            |  and
                            strong  TAKE
                            |  have different collocations.
                        
                    li  
                        p
                            strong Have 
                            | can be used with object nouns to refer to a number of different activities. In these cases, the verb has little or
                            | no meaning by itself. In American English 
                            strong take 
                            | is used instead of
                            strong  have 
                            | when referring to common activities such as washing, resting, eating or drinking.