//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_7" ng-init="ContadorPalabras(200)")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        |
        section(class="template-content" )
            .row
                h5 What is your opinion?
                p In many gyms today, the use of steroids and other testosterone supplements is very common. What is your opinion on the use of this drugs or supplements and how they affect a person’s health and state of mind? #[strong Mínimum 200 words.]

            .row-flex.align-items-center
                .col.xs12.md6.row-flex.align-items-center.showTo-md
                    img(src="unit_1/module_2/assets/images/act_7_1.png" alt="" class="u-responsive-img mt30 m-a")

                .col.xs12.md6
                    div(class="c-wrapTextarea ")
                        textarea(placeholder="Write here..." class="campo c-textarea h200" ng-model="textousuario")
                        div(class="c-wrapTextarea__counter")
                            span(id="contador") 0
                            span(ng-bind="limitePalabras")
                            span(id="alertamensaje")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconUpload" ng-click="enviarTexto()" ng-show="enviarMensaje_minPalabras")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")