//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2" ng-init="s_actividad = 1")
    aside(class="template-asideLeft o-aside-Item")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")

            div(class="row")
                h5.ta-c In the exercise below there are a few words that will appear in the reading exercise, how many do you know?
            div(class="row row-flex")
                div(class="col-flex-xs12 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w40") Use
                            th(class="w40") Meaning

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td Allegations of fraud were made against the lawyer but no one could prove anything.
                                td A claim that someone has done something wrong, usually without any evidence.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td There is a dispute about the origin of life. One side believes in creation and the other in evolution.
                                td To argue.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The statement the governor made was inaccurate. He quoted the numbers from the previous year not this year.
                                td Incorrect.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The doctor admitted to his mistake and apologized to the patient.
                                td Confess.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td He claims that he was at home alone watching TV but he cannot prove it.
                                td To say something is true without evidence.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The disgruntled employees went on strike outside the factory gates.
                                td Dissatisfied.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td There was a misunderstanding with security guard. He did not know that they were employees.
                                td A disagreement.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The accusation of misconduct provoked the ire of the candidate.
                                td Anger.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The former director of the department returned for a visit yesterday.
                                td Use to be something previously.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td Religion is a very contentious topic especial among dedicated believers.
                                td Controversial , like to cause an argument.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td I was disillusioned by the mayor, I expected so much more from him.
                                td A disappointment in someone or something.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td I acknowledge the fact that I was late for work but that is not a reason to fire me.
                                td Accept or admit something.
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")
             div(class="row row-flex align-items-center")
                div(class="col-flex-xs12 col-flex-md6 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w80") Use
                            th(class="w80") Meaning

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td Nancy’s rebuttal to the accusation was that it was all lies and she could prove it.
                                td A statement saying that something previous said is not true
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The young man was falsely accused of stealing a radio.
                                td Not truthful.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The research projects span is of 5 years and 7 countries. It will be complete in 3 years.
                                td The length of time something lasts.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td Janet is the most careful person I know. It is rare when she makes an error.
                                td Something that is not very common.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The manager was blamed for all the problems at the factory and then he was fired.
                                td To say that someone is responsible for a wrong doing.
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") rebuttal
                                    option(value="2") acknowledge
                                    option(value="3") blames
                                    option(value="4") contentious
                                    option(value="5") former
                                    option(value="6") ire
                                    option(value="7") disillusioned
                                    option(value="8") disgruntled
                                    option(value="9") claims
                                    option(value="10") admits
                                    option(value="11") misunderstanding
                                    option(value="12") dispute
                                    option(value="13") allegations
                                    option(value="14") unfair
                                    option(value="15") inaccurate
                                    option(value="16") rare
                                    option(value="17") spans
                                    option(value="18") falsely
                                td The athlete thought that it was unfair the way the judges removed him from the race.
                                td Unjust.
                div(class="col-flex-xs12 col-flex-md6 m-a mt20"): .col-flex-xs12.col-flex-md11.ta-c
                    img(src="unit_1/module_2/assets/images/act_2_1.png" alt="" class="u-responsive-img mt80-md")

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
