//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_7")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row")
                h5 BE GOING TO
                div(class="col xs12 md6")
                    
                    table(class="c-table-estilo_tres row")
                        thead
                            tr
                                th(colspan="4") Positive
                        tbody
                            tr
                                td(class="ta-c") I
                                td(class="ta-c") am / ‘m
                                td(class="ta-c" rowspan="3") Going to
                                td(class="ta-c" rowspan="3") verb (infinitive form)
                                

                            tr
                                td(class="ta-c") you / we / they
                                td(class="ta-c") are / ‘re
                                
                                
                            tr
                                td(class="ta-c" ) he / she / it
                                td(class="ta-c" ) is / ‘s

                    table(class="c-table-estilo_tres row")
                        thead
                            tr
                                th(colspan="4") Negative
                        tbody
                            tr
                                td(class="ta-c") I
                                td(class="ta-c") ‘m not
                                td(class="ta-c" rowspan="3") Going to
                                td(class="ta-c" rowspan="3") verb (infinitive form)
                                

                            tr
                                td(class="ta-c") you 
                                td(class="ta-c") aren’t OR ‘re not
                                
                                
                            tr
                                td(class="ta-c" ) he / she / it
                                td(class="ta-c" ) isn’t OR ‘s not


                div(class="col xs12 md6")
                    table(class="c-table-estilo_tres row")
                        thead
                            tr
                                th(colspan="4") Questions
                        tbody
                            tr
                                td(class="ta-c") Am
                                td(class="ta-c") I
                                td(class="ta-c" rowspan="3") Going to
                                td(class="ta-c" rowspan="3") verb (infinitive form) ?
                                

                            tr
                                td(class="ta-c") Are
                                td(class="ta-c") you / we / they
                                
                                
                            tr
                                td(class="ta-c" ) Is
                                td(class="ta-c" ) he / she / it

                div(class="col xs12 md6")
                    table(class="c-table-estilo_tres row")
                        thead
                            tr
                                th(colspan="4") Short Answers
                        tbody
                            tr
                                td(class="ta-c" rowspan="3") Yes,
                                td(class="ta-c") I am.
                                td(class="ta-c" rowspan="3") No,
                                td(class="ta-c") I’m not.
                                
                                
                                

                            tr
                                td(class="ta-c") you / we / they are
                                td(class="ta-c") you / we / they ‘re not / aren’t
                                
                                
                            tr
                                td(class="ta-c" ) he / she / it is.
                                td(class="ta-c" ) he / she / it’s not / isn’t
                        



            div(class="row")
                h5 WILL
                div(class="col xs12 md6")
                    
                    table(class="c-table-estilo_tres row")
                        thead
                            tr
                                th(colspan="3") Positive / Negative
                        tbody
                            tr
                                td(class="ta-c" rowspan="2") Going to
                                td(class="ta-c") will
                                td(class="ta-c" rowspan="3") verb (infinitive form)
                            tr
                                td(class="ta-c") won’t

                div(class="col xs12 md6")
                    table(class="c-table-estilo_tres row")
                        thead
                            tr
                                th(colspan="3") Questions
                        tbody
                            tr
                                td(class="ta-c") Will
                                td(class="ta-c") I / you / he / she / it / we / they
                                td(class="ta-c") verb (infinitive form)?



    |
    |
    aside(class="template-asideRight o-aside-Item")
       
        //- button(class="c-btn-IconAction u-bgIconCheck js-validarWordFind")
        //- button(class="c-btn-IconAction u-bgIconRefresh")

|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
| 
