//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_7")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row")
                h5 In written English, as well as in a very formal style, inversion can be used in the following cases:
                div(class="col xs12 md6")
                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent")
                            h6(class="u-textWhite") After negative adverbial expressions:
                            ul
                                li #[strong • ] Under no circumstances can we accept credit cards.
                                li #[strong • ] In no way can he be held responsible.
                                li #[strong • ] At no time did she say she would come.
                                li #[strong • ] Not until I heard my name did I believe I had won the race. 

                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent")
                            h6(class="u-textWhite") After “seldom”, “rarely”, “never” and “little”:
                            ul
                                li #[strong • ] Seldom have I seen such a beautiful view.
                                li #[strong • ] Rarely did he pay anyone a compliment.
                                li #[strong • ] Never had I felt so happy.
                                li #[strong • ] Little did he imagine how dangerous it would be.

                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent")
                            h6(class="u-textWhite") After adverbial expressions beginning with 'only' and 'not only':
                            ul
                                li #[strong • ] Only after the meeting did I realize the importance of the subject.
                                li #[strong • ] Only when the plane landed safely did he calm down.
                                li #[strong • ] Not only was the car slow, it was also very uncomfortable.

                div(class="col xs12 md6")
                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent")
                            h6(class="u-textWhite") After adverbial expressions of place:
                            ul
                                li #[strong • ] Round the corner came the postman.
                                li #[strong • ] On the doorstep was a bunch of flowers.
                                

                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent")
                            h6(class="u-textWhite") After “hardly”, “scarcely”, “no sooner”, when one thing happens after another:
                            ul
                                li #[strong • ] Hardly had I begun to speak when I was interrupted.
                                li #[strong • ] Scarcely had we started our meal when the phone rang.
                                li #[strong • ] No sooner had I arrived than they all started to argue.

                    div(class="c-cardGreen")
                        div(class="c-cardGreenContent")
                            h6(class="u-textWhite") Conditionals with inversions:
                            ul
                                li #[strong • ] In conditional sentences we can sometimes replace the “if” with an inversion.
                                li #[strong • ] Had I know it would be so difficult I would never have enrolled.                        
                                

    |
    |
    aside(class="template-asideRight o-aside-Item")
       
        //- button(class="c-btn-IconAction u-bgIconCheck js-validarWordFind")
        //- button(class="c-btn-IconAction u-bgIconRefresh")

|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
| 
