//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a" ng-init="unirColumnasFuncion()")
        section(class="template-content")
            div(class="row")
                h5 #[strong.u-textColor_4 1. ] Match the sentences to form complete situations.
            div(class="row mt40")
                div(class="col xs12 md8 col-center" data-ejercicio="unir")
                    div(id="sourceElements" class="ancho350 js-columnas")
                        span(id="Item0_0" class="treeItem" onclick="setSource(this)" seleccion valor="1") I don't know why I feel so tired these days.
                        span(id="Item0_1" class="treeItem" onclick="setSource(this)" seleccion valor="2") I don't think giving her the promotion was a good idea.
                        span(id="Item0_2" class="treeItem" onclick="setSource(this)" seleccion valor="3") It could have been Alex who phoned me.
                        span(id="Item0_3" class="treeItem" onclick="setSource(this)" seleccion valor="4") You could have told me before we went out!
                        span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="5") I wonder why he hasn't replied.
                    div(id="linecanvas" style="width: 60px;")
                    div(id="targetElements" class="ancho350 js-columnas") 
                        span(id="Item1_0" class="treeItem" onclick="setTarget(this)" seleccion valor="4") I didn't notice my trousers were split!
                        span(id="Item1_1" class="treeItem" onclick="setTarget(this)" seleccion valor="5") He may not have received the information yet.
                        span(id="Item1_2" class="treeItem" onclick="setTarget(this)" seleccion valor="2") She can't have learned much about the company after only a couple of weeks.
                        span(id="Item1_3" class="treeItem" onclick="setTarget(this)" seleccion valor="1") I must have been working too hard. Or maybe I'm not sleeping well.
                        span(id="Item1_4" class="treeItem" onclick="setTarget(this)" seleccion valor="3") I found five missed calls on my phone.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck" )
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()
