//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_3")
    aside(class="template-asideLeft o-aside-Item")
      

    |
    |
    div(class="template-section m-a ")
        section(class="template-content")
            div(class="row row-flex ")
                h5 Crossword Puzzle
        
            table(class="crucigrama row-flex col-xs12 col-md12 align-items-center")
                tbody
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: strong 13 
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: strong 15
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: strong 7
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                    tr
                        td
                        td
                        td
                        td
                        td
                        td: strong 6
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td: strong 5
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: strong 11
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td: strong 9
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: strong 4
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td: strong 2
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td: strong 12
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td: strong 14
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td: strong 8
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: strong 3
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: strong 1
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td: strong 10
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td: input(maxlength="1" class="js-escribir")
                        td
                        td
                        td
                        td: input(maxlength="1" class="js-escribir")
            
            div(class="row row-flex col-xs12")

                ol(phrasal-column="column-xs1 column-md2" class="col-center")
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling sad, blue, discouraged, and unhappy 
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling guilty after doing wrong.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling alone and that nobody cares. 
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling full of energy.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling uncomfortable because of shame.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling at ease and without worries.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling unable to think clearly.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling pleasure from doing well.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling upset with a person, act, or idea.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling tense, tired, and uneasy.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling joy and pleasure.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling able to do something.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling fear and worry.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling happy and aroused.
                    li.lh25.ml20 #[span(class="c-textField"): input(type="text" placeholder="" class="c-input ta-c js-escribir")] Feeling unpleased when a rival does well. 
    |   
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")