//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper self_1")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a" ng-init="DragandDrop()")
        section(class="template-content")
            
            div(class="row row-flex")
                h5 Complete with the most suitable phrasal verb. Drag and drop.
            div(class="row row-flex justify-around mt30")
                div(class="dragCont"): div(class="drag") on going
                div(class="dragCont"): div(class="drag") count on
                div(class="dragCont"): div(class="drag") come up with
                div(class="dragCont"): div(class="drag") break up
                div(class="dragCont"): div(class="drag") look up
                div(class="dragCont"): div(class="drag") cheer up
                div(class="dragCont"): div(class="drag") cover up
                div(class="dragCont"): div(class="drag") crack down
                div(class="dragCont"): div(class="drag") break down
                div(class="dragCont"): div(class="drag") shut down
                        
            .row.mt30
                .col.xs12.md6
                    
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] John forgot to]
                        #[span(class="drop")]
                        the address of the client that he was supposed to visit and now he is lost.
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] Remember to]
                        #[span(class="drop")]
                        the computer system over the weekend. We can save a lot of electricity that way. 
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] Police officers are starting to ]
                        #[span(class="drop")]
                        on drunk drivers. They arrested five yesterday. 
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] We have had an ]
                        #[span(class="drop")]
                        feud with the landlord for the past three years. He tries to evict us every year. 
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] The project has been stuck for a month. We need your team to]
                        #[span(class="drop")]
                        some fresh ideas to move the project along.

                .col.xs12.md6
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] After the C.E.O. found out his company was hacked, he tried to]
                        #[span(class="drop")]
                        what happened by issuing a false statement.
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] After the first two engines failed, we were left to]
                        #[span(class="drop")]
                        the old backup engine. 
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] Sandra’s new smartphone fell and broke this morning. She is really upset, let´s take her to lunch! That should help her ]
                        #[span(class="drop")].
                      
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] The idea is great but we need to  ]
                        #[span(class="drop")]
                        the presentation into four sections so it is easier to understand. 
                    p.mt20.lh30.
                        #[span #[strong.u-textColor_4 •] Many analysts think that Samsung should ]
                        #[span(class="drop")]
                        to form a handset producer and software producer.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadDragandDrop()")
        button(class="c-btn-IconAction u-bgIconCheck")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
