//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_1")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5  Listen to this presentation about what Petroleum Engineers require.
            .row.mt30
                .col.xs12.md7.col-center
                    audio(controls class='xs12')
                        source(src='unit_1/module_1/assets/audios/self_4_1.mp3' type='audio/mpeg')
                        | Your browser does not support the audio element.
                    div(class="row")
                        .c-cardGreen
                            .c-cardGreenContent
                                h5 What is a Petroleum Engineer?
                                blockquote
                                    p EDA, Incorporated, Petroleum Engineering
                                    p #[a(href="http://edasolutions.com/old/Groups/PetroleumEngineering.htm" target="_blank" style="word-break:break-all") http://edasolutions.com/old/Groups/PetroleumEngineering.htm]

            div(class="row row-flex mt30")
                .col.xs12.md6
                    div(class="row col-center")
                        p #[strong.u-textColor_4 •] Which is NOT mentioned as a requirement for Petroleum Engineers?
                            .row
                                input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_1" value="1")
                                label(class="c-Checkbox row ta-l " for="selInput_1") Patience.
                                input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_2" value="2")
                                label(class="c-Checkbox row ta-l " for="selInput_2") Sound judgment.
                                input(type="radio" class="c-inputRadio" name="sel_input_1" id="selInput_3" value="3")
                                label(class="c-Checkbox row ta-l " for="selInput_3") Good physical condition.
                    div(class="row col-center")
                        p #[strong.u-textColor_4 •] The speaker mentions that oil drilling is somewhere between a science and an art. He mentions this because:
                            .row
                                input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_4" value="1")
                                label(class="c-Checkbox row ta-l " for="selInput_4") you have to accept failure.
                                input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_5" value="2")
                                label(class="c-Checkbox row ta-l " for="selInput_5") this is an exact science.
                                input(type="radio" class="c-inputRadio" name="sel_input_2" id="selInput_6" value="3")
                                label(class="c-Checkbox row ta-l " for="selInput_6") there is no space for speculation.

                .col.xs12.md6
                    div(class="row col-center")
                        p #[strong.u-textColor_4 •] A PE must enjoy:
                            .row.mt30-md.mt0-hd
                                input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_7" value="1")
                                label(class="c-Checkbox row ta-l " for="selInput_7") working in an office.
                                input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_8" value="2")
                                label(class="c-Checkbox row ta-l " for="selInput_8") getting dirty in the field.
                                input(type="radio" class="c-inputRadio" name="sel_input_3" id="selInput_9" value="3")
                                label(class="c-Checkbox row ta-l " for="selInput_9") working with different people.
                    div(class="row col-center")
                        p #[strong.u-textColor_4 •] According to the speaker, for a PE to work in an office, you have to have:
                            .row.mt15-md.mt30-hd
                                input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_10" value="1")
                                label(class="c-Checkbox row ta-l " for="selInput_10") further studies in the area, including a Ph.D.
                                input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_11" value="2")
                                label(class="c-Checkbox row ta-l " for="selInput_11") experience using different exploration methods in the fields
                                input(type="radio" class="c-inputRadio" name="sel_input_4" id="selInput_12" value="3")
                                label(class="c-Checkbox row ta-l " for="selInput_12") many years of experience to be considered a veteran.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
