//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header row-flex")
section(class="c-noticeAside-section row-flex")
    div(class="row m-a ml10 mr10")
        img(src="unit_1/module_2/assets/images/act_12-a.png", alt="" class="c-responsive-img w50 mt30")
        img(src="unit_1/module_2/assets/images/act_12-b.png", alt="" class="c-responsive-img w50 mt30")
        img(src="unit_1/module_2/assets/images/act_12-c.png", alt="" class="c-responsive-img w50 mt30")
        img(src="unit_1/module_2/assets/images/act_12-d.png", alt="" class="c-responsive-img w50 mt30")
