//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a" ng-init="unirColumnasFuncion()")
        section(class="template-content")

            div(class="row-flex mt100-xs mt10-md mt10-sm")
                div(class="col-flex-xs12 col-flex-md6 col-center mt10-sm mt100-md")
                    div(class="row mb30 ta-c showTo-md")
                        img(src="unit_1/module_2/assets/images/act_6-a.png", alt="" class="c-figure w40 mb20 ")
                        img(src="unit_1/module_2/assets/images/act_6-b.png", alt="" class="c-figure w40 ml20 mb20")
                        img(src="unit_1/module_2/assets/images/act_6-c.png", alt="" class="c-figure w40 ")
                        img(src="unit_1/module_2/assets/images/act_6-d.png", alt="" class="c-figure w40 ml20")
                div(class="col-flex-xs12 col-flex-md6 col-center mt10-sm mt100-md")
                    div(class="row-flex")
                        h5 #[strong.u-textColor_4 1. ]  Match the statements to the echo questions.
                    div(class="row mt50")
                        div(class="col xs12 md12 col-center" data-ejercicio="unir")
                            div(id="sourceElements" class="ancho350 js-columnas")
                                span(id="Item0_0" class="treeItem" onclick="setSource(this)" seleccion valor="1") Look! Mary is climbing a mango tree to pick some!
                                span(id="Item0_1" class="treeItem" onclick="setSource(this)" seleccion valor="2") Juan has just arrived at the bus station after a long journey.
                                span(id="Item0_2" class="treeItem" onclick="setSource(this)" seleccion valor="3") I really enjoy listening to Salsa music from Cali.
                                span(id="Item0_3" class="treeItem" onclick="setSource(this)" seleccion valor="4") We are spending two days in Providence island.
                                span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="5") The film you recommended wasn´t interesting at all.
                                span(id="Item0_5" class="treeItem" onclick="setSource(this)" seleccion valor="6") You look very smart in that black suit.
                            div(id="linecanvas" style="width: 60px;")
                            div(id="targetElements" class="ancho350 js-columnas") 
                                span(id="Item1_0" class="treeItem" onclick="setTarget(this)" seleccion valor="2") Who hasn´t arrived where?
                                span(id="Item1_1" class="treeItem" onclick="setTarget(this)" seleccion valor="6") I look What?
                                span(id="Item1_2" class="treeItem" onclick="setTarget(this)" seleccion valor="3") You what?
                                span(id="Item1_3" class="treeItem" onclick="setTarget(this)" seleccion valor="1") Mary is doing what?
                                span(id="Item1_4" class="treeItem" onclick="setTarget(this)" seleccion valor="4") Two days Where?
                                span(id="Item1_5" class="treeItem" onclick="setTarget(this)" seleccion valor="5") It wasn´t what?
    |
    |
    aside(class="template-asideRight o-aside-Item") 
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck  js-validarUnir")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
div(class="c-noticeAside" id="notice")
    article(class="c-noticeAside-body" ng-include="'unit_1/module_2/activities/act_3_notice_'+ idNotice +'.php'")
    footer(class="c-noticeAside-footer"): button(class="c-btn-IconAction u-bgIconClose closeNotice")

// ============================== 
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()
style.
    .treeItem[correcta="bien"],
    .treeItem_hi[correcta="bien"],
    .treeItem_set[correcta="bien"]{
        background-color: var(--color_good);
        color: white;
    }
    .treeItem[correcta="mal"],
    .treeItem_hi[correcta="mal"],
    .treeItem_set[correcta="mal"]{
        background-color: var(--color_wrong);
        color: white;
    }
