//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a ml40 mr40")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section ")
            div(class="row mt40")
                p(class="ta-r")
                    strong Echo questions 
                    | are a type of question that repeats part or all of something which someone else has just said. It could also be the repetition of part of what was said. We use 
                    strong echo questions 
                    | when we did not fully hear or understand what was said, or because it’s content is too surprising to believe or because we want to confirm the information. INTONATION is very important here! 
