//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header row-flex")
    h5  Look at the chart
section(class="c-noticeAside-section row-flex")
    div(class="row m-a ml20 mr20")
        p(class="ta-j") Ivan and David own a small Veleño guava paste factory. The chart shows their predictions for their business 5 years from now.
        img(src="unit_1/module_2/assets/images/act_7-a.png", alt="" class="c-figure w100 mt30")
        img(src="unit_1/module_2/assets/images/act_7-b.png", alt="" class="c-figure w90 mt30")
