//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a ml40 mr40")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section ")
            div(class="row mt40")
                ul
                    li 
                        | We use the 
                        strong future perfect
                        |  when we have a subject performing an action and an object receiving the action.
                    li(class="mt20")
                        | We use the 
                        strong future perfect continuous
                        |  when the subject is receiving the action, and the object is optionally included near the end of the sentence.

