//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex(u-over-flow="auto-x")
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                h5 Read the following text:
        section(class="c-noticeAside-section ")
            div(class="row mt20")
                p(class="ta-j") Gina and Leyla studied Systems at UNAD and now they are planning on starting their own business in 3 years.
                p(class="ta-j") 
                    strong Read about their plans. 
                    br
                    | By the time they are planning on starting their own business, Gina and Leyla <strong>will have been working</strong> for other people for more than 10 years. They have decided that in 3 years’ time, they <strong>will have gained</strong> enough experience to start their own IT support company. Gina <strong>will have acquired</strong> a lot of experience in programming since she <strong>will have been working</strong> as a computers expert for more than five years in the company she is currently employed at, but she knows nothing about business. Leyla <strong>will have gained</strong> lots of experience in dealing with people and organizations, since she works at a marketing company, where she <strong>will have been holding</strong> the general manager position for over 3 years, by the time they want to open their own. They will each be investing their own money in the new company. By the time they quit their jobs, they <strong>will have raised</strong> enough capital. They are also considering the possibility of taking a loan or getting financial aid from the University of Colombia office of Emprendimiento. They know that the hardest part will be setting up the business, but they are confident that they will eventually make a lot of money.
