@charset "utf-8";
@import "./../../../../assets/scss/_var/_variables.scss";
$MultimediaImages   : '../images/';

.u-{
    @media all and (orientation: portrait) {
    }
}

.act_1{
    .c-card-phrasalVerbs{
        @include layoutFlex(flex, '', '', wrap);
        width: 100%;
        max-width: 400px;
        margin: auto;
        &--header{
            height: 3rem;
            width: 100%;
            @include layoutFlex(flex, space-between, center, wrap);
            padding: 5px;
            background-color: var(--color_2);
            &-title{
                color: white;
            }
        }
        &--body{
            width: 100%;
            box-shadow:0px 2px 9px rgba(black, 0.5);
            &-image{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.act_3{
    .c-cardGreen{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.act_4{
    .c-Checkbox{
        @media all and (min-width:600px) {
            flex: 0 0 calc(33% - 10px);
            margin: 0 auto;
            //width: calc(33% - 10px);
            float: left;
        }
        @media all and (max-width:599px) {
            flex: 0 0 100%;
            margin: .5rem auto;
            width: 100%;
            float: left;
        }
    }
}

.act_7{
    .c-Checkbox{
        @media all and (min-width:600px) {
            flex: 0 0 calc(33% - 10px);
            margin: 0 auto;
            //width: calc(33% - 10px);
            float: left;
        }
        @media all and (max-width:599px) {
            flex: 0 0 100%;
            margin: .5rem auto;
            width: 100%;
            float: left;
        }
    }
}

.act_8{
    &--newsReport{
        padding-top: 16rem;
        padding-bottom: 2rem;
        background-image: url('../images/act_8_1.svg');
        background-size: cover;
        background-repeat: no-repeat;
        .c-wrapTextarea{
            width: 80%;
            margin: 0 auto 0 4rem;
        }
        @media all and (min-width:600px) {
            flex: 0 0 70%;
            margin: 0 auto;
            width: 70%;
            float: left;

        }
        @media all and (max-width:599px) {
            flex: 0 0 100%;
            width: 100%;
            float: left;
        }
    }
}

.act_10{

    .hov{
        position: relative;
        .ic{
            position: absolute;
            width: 98%;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, .5);
            opacity: 0;
            transition: .3s ease-out;
            &:hover{
                opacity: 1;
            }
        }
    }

}

.act_11{
    ul.puzzleWords{
        @media all and (max-width:599px) {
            grid-template-columns: repeat(auto-fill, 33%);
        }
        @media all and (min-width:600px) and (max-width: 989px){
            grid-template-columns: repeat(auto-fill, 33%);
        }
        @media all and (min-width:989px) {
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill,calc(50% - 10px));

        }
    }
}
.act_15{
    .book{
        background: url(../images/act_15_1.png) no-repeat;
        background-size: cover;
        padding: 12% 25%;
        line-height: 30px;

    }
}
.self_2{
    .u-responsive_check{
        display: grid;
        grid-gap: 1rem;
        @media all and (min-width: $pixel600) {
            grid-template-columns:repeat(3, 1fr);
        }
        @media all and (min-width: $pixel600 -1) {
            grid-template-columns:repeat(1, 1fr);
        }
    }
}

.test_1{
    .c-cardGreen{
        margin-top: 0;
        margin-bottom: 0;
    }
    .u-responsive_check{
        display: grid;
        grid-gap: 1rem;
        @media all and (min-width: $pixel600) {
            grid-template-columns:repeat(3, 1fr);
        }
        @media all and (min-width: $pixel600 -1) {
            grid-template-columns:repeat(1, 1fr);
        }
    }
}

.test_2{
    .u-responsive_check{
        display: grid;
        grid-gap: 1rem;
        @media all and (min-width: $pixel600) {
            grid-template-columns:repeat(2, 1fr);
        }
        @media all and (min-width: $pixel600 -1) {
            grid-template-columns:repeat(1, 1fr);
        }
    }
}
