//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a" ng-init="unirColumnasFuncion()")
        section(class="template-content")
            h5 #[strong.u-textColor_4 1. ] Match the verbs with prepositions to their meanings.
            div(class="row-flex mt10-xs mt10-md mt10-sm")
                div(class="col-flex-xs12 col-flex-md6 col-center mt10-sm mt20-md ta-c")
                    img(src="unit_2/module_8/assets/images/test_1.png", alt="" class="u-responsive-img m-a mt30 showTo-md")
                div(class="col-flex-xs12 col-flex-md6 col-center mt10-sm mt20-md")
                    div(class="col xs12 md12 col-center" data-ejercicio="unir")
                        div(id="sourceElements" class="js-columnas")
                            span(id="Item0_0" class="treeItem" onclick="setSource(this)" seleccion valor="1") Dream of
                            span(id="Item0_1" class="treeItem" onclick="setSource(this)" seleccion valor="2") Escape from
                            span(id="Item0_2" class="treeItem" onclick="setSource(this)" seleccion valor="3") Forgive for
                            span(id="Item0_3" class="treeItem" onclick="setSource(this)" seleccion valor="4") Insist on
                            span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="5") Keep on
                            span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="6") Pay for
                        div(id="linecanvas" style="width: 60px;")
                        div(id="targetElements" class="js-columnas") 
                            span(id="Item1_0" class="treeItem" onclick="setTarget(this)" seleccion valor="3") To decide that you will not be angry with someone who has offended, upset, or harmed you.
                            span(id="Item1_1" class="treeItem" onclick="setTarget(this)" seleccion valor="5") To continue doing something.
                            span(id="Item1_2" class="treeItem" onclick="setTarget(this)" seleccion valor="6") To give money in order to buy something.
                            span(id="Item1_3" class="treeItem" onclick="setTarget(this)" seleccion valor="1") Something good that you hope you will have or achieve in the future.
                            span(id="Item1_4" class="treeItem" onclick="setTarget(this)" seleccion valor="4") To keep doing something that annoys people.
                            span(id="Item0_4" class="treeItem" onclick="setSource(this)" seleccion valor="2") Get away from something bad.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" onclick="location.reload()")
        button(class="c-btn-IconAction u-bgIconCheck")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
script(src="./../assets/js/librerias/drawConnector.js")
script.
    graphicsInit()