//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row m-a")
        section(class="c-noticeAside-section")
            div(class="row mt40")
                p
                    | Hello. I'm Carmen. I'm 31 years old. I am a fashion designer. I'm from Colombia. I live in Medellin with my husband and two daughters. I live in an apartment. I have my own fashion studio. My husband is Mario and my two daughters are Macarena and Jimena. In my spare time, I love going shopping. I like shoes and dresses. My favorite book is Pride and Prejudice, my favorite movie is The Devil Wears Prada. I love romantic music. My favorite group is Cold Play.

                p   
                    | I like cleaning my house, but I hate cooking. So, I like going to restaurants for dinner. My favorite food is Chinese food.

                p
                    | I don't like playing sports. I prefer activities that are less physical, like reading. I love traveling. I want to travel to Paris, because I think it's rather romantic. I can't speak French, though. I speak English. It is important for my career. English helps me to communicate with designers from other countries.

                



