//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                div(class="xs9 col col-center")
                    img(src="unit_2/module_7/assets/images/self_8_1.png", alt="" class="u-responsive-img  ml10 mb10 mt30")
                div(class="xs9 col col-center")
                    img(src="unit_2/module_7/assets/images/self_8_2.png", alt="" class="u-responsive-img  ml10 mb10 mt30")