//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_6" ng-init="s_actividad = 1")
    aside(class="template-asideLeft o-aside-Item" )
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")
            div(class="row mt40-xs mt20-md")
                h5 1. Read the following short story and fill in the blank space with the appropriate words from the box below.  
            div(class="row-flex mt40")
                div(class="col-flex-xs12")
                    div(class="row-flex justify-center")
                        div(class="c-cardGreen col-flex-xs12 col-flex-md7")
                            ul(class="c-cardGreenContent row row-flex")
                                li.c-cardGreen_item dirtiest
                                li.c-cardGreen_item Presidential
                                li.c-cardGreen_item abstention
                                li.c-cardGreen_item incumbent
                                li.c-cardGreen_item voters 
                                li.c-cardGreen_item candidates
                                li.c-cardGreen_item cast 
                    |
                    article(class="c-cardGreen")
                        div(class="c-cardGreenContent row row-flex")
                            p.u-textColor_1-dark.c-cardGreen_text
                                span.ta-c.u-textColor_1-dark #[strong Abstention shows Colombia’s voters no longer believe in the system: Electoral watchdog]#[br]#[br]
                                span Observers from Colombia’s main electoral watchdog said that mass #[input.c-input.js-escribir(type="text" placeholder="Text here...")] by the country’s voters during the first round of #[input.c-input.js-escribir(type="text" placeholder="Text here...")] elections shows the electorate’s delusion for the current political system.#[br] 
                                    img(class="u-responsive-img cont-image" src="unit_3/module_12/assets/images/col_6_1.png", alt="")
                                span Colombia’s presidential elections on May 25 saw an astonishing 60% of eligible  #[input.c-input.js-escribir(type="text" placeholder="Text here...")] abstain from participating in one of the country’s most important elections, with the #[input.c-input.js-escribir(type="text" placeholder="Text here...")] president Juan Manuel Santos seemingly unable to mobilize support for his flagship policy of ending Colombia’s 50-year armed conflict against rebel groups through ongoing peace talks.The peace talks with Colombia’s largest guerrilla group the FARC have been taking place in Cuba since 2012 and have been the main driver of Santos’ presidency and re-election campaign.#[br]
                                span Jerman Robayo, investigator for the Democratic Observation team of the Electoral Observation Mission (MOE) told Colombia Reports that the overall turnout during the elections was “worryingly low.” #[br]
                                    img(class="u-responsive-img cont-image fr" src="unit_3/module_12/assets/images/col_6_2.png", alt="")
                                span “In two important states on the coast, La Guajira and Atlantico, there was only 23% or 24% of turnout to vote, in Bolivar [state] voted 26%, those numbers are very, very low,” he said.#[br]
                                span During the presidential election first round, only 40.07% of Colombia’s 33 million eligible citizens turned out to #[input.c-input.js-escribir(type="text" placeholder="Text here...")] their vote, of which 25.69% supported Santos, according to the country’s National Registry. Although none of the five #[input.c-input.js-escribir(type="text" placeholder="Text here...")] gained the majority of votes necessary to take office, it was clear that Oscar Ivan Zuluaga from the Democratic Center Party (Centro Democratico – CD) emerged as the temporary victor with 29.25% of the overall vote. Colombians “bored” with the ineffective political process.
        |
        |
        section(class="template-content row u-animationFadeDown" ng-show="s_actividad == 2")
            div(class="row mt40-xs mt20-md")
                h5 1. Read the following short story and fill in the blank space with the appropriate words from the table below.  
            div(class="row-flex mt40")
                div(class="col-flex-xs12")
                    div(class="row-flex justify-center")
                        div(class="c-cardGreen col-flex-xs12 col-flex-md7")
                            ul(class="c-cardGreenContent row row-flex")
                                li.c-cardGreen_item dirtiest
                                li.c-cardGreen_item Presidential
                                li.c-cardGreen_item abstention
                                li.c-cardGreen_item incumbent
                                li.c-cardGreen_item voters 
                                li.c-cardGreen_item candidates
                                li.c-cardGreen_item cast
                    |
                    article(class="c-cardGreen")
                        div(class="c-cardGreenContent row row-flex")
                            p.u-textColor_1-dark.c-cardGreen_text
                                span According to Robayo, the abstention can be indicative of a disillusioned population adhering to “nonconformity” to go out and vote for what they believe is a failed system. “The people are bored of the politics; they don’t care about the subject, and they distrust the institutions,” he added.#[br]
                                span Prior to the first round of presidential elections, scandals and criminal accusations blazed through the candidates’ credibility, causing many analysts to call campaigning leading up to May 25 the “ #[input.c-input.js-escribir(type="text" placeholder="Text here...")] in Colombia’s history. #[br]
                                span Although Robayo referred to Colombia’s high historical abstention rate, which according to the National Registry hovers between 50% to 55%, the recent elections saw a considerable drop in voter participation across the board.#[br]
                                span “In the majority of municipalities [in the country], the participation decreased on average by 15% to 20%,” he said.#[br]
                                span Based on these figures, which the MOE has been analyzing, Robayo stated that “[Colombian] Society does not want to vote for different reasons, and the difficult thing is to point to the various reasons of why they didn’t vote.”#[br]
                                    img(class="u-responsive-img cont-image fr" src="unit_3/module_12/assets/images/col_6_3.png", alt="")
                                span He added that places such as Baru, for example, an island off the Caribbean coast of Colombia, abstained 100% from voting in the recent elections because of the government’s continuous lack of development and action to address the island’s poverty.#[br]
                                span This sentiment was echoed in a number of municipalities throughout the country, most of which are underdeveloped and often overlooked by different government’s, causing mass inequality in wealth distribution.#[br]                            
                                span.ta-l See the full story here: 
                                    a(href="https://colombiareports.com/abstention-shows-colombias-voters-longer-believe-system-electoral-watchdog/") https://colombiareports.com/abstention-shows-colombias-voters-longer-believe-system-electoral-watchdog/
            |

            |
            | 
    aside(class="template-asideRight o-aside-Item")  
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
| 
| 
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")     