//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="c-noticeAside-header")
    div(class="row mt40")
section(class="c-noticeAside-section")
    div(class="row mt20")
        p(class="ta-c"): strong  Read the article about how the movie Avatar was made.
        img(src="unit_1/module_4/assets/images/act_12a.png", alt="" class="u-responsive-img w90 mb10 mt30")
        p(class="ta-c"): strong Avatar: Special Effects
        p(class="ta-j") The movie is set in the future. It’s 2154, and humans are trying to control the people of an alien moon, Pandora. In the movie, we see flying dragons, floating mountains, and the people of Pandora – the Na’vi – blue creatures, three meters tall, with long tails. The special effects are very convincing… but were they all created by computer or were there real actors in the movie?
        p(class="ta-j") Real actors acted out their parts on a special stage. Sensors in the ceiling of the stage were used to capture and record every movement and facial expression of the actors. Then this information was given to the computer designers. They created the strange blue people of Pandora – the Na’vi – from this information. It made the Na’vi seem very real. The fictional moon of Pandora was all created and drawn on computer. The actors acted in front of huge green screens, Then the background, extra people, machines, and other exciting details and special effects were all added later by computer designers.
        p(class="ta-j") The Language: Where did the language of the Na’vi come from? It isn’t a real language. The Na’vi language was created by Dr. Paul Frommer, a professor of linguistics at the University of California. Dr. Frommer invented grammar rules and created more than 1,000 Na’vi words for the movie.

