//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20 ta-r")
                p The boldfaced words represent ing/ed clauses.
                p: strong Examples: 
                p The lady 
                    strong talking to Tom  
                    | is my grandmother. 
                p The hallway 
                    strong connecting the two buildings 
                    | is very narrow.
                p 
                    strong -ed clauses 
                    | have passive meaning and they modify a noun.
                p  •The dog 
                    strong injured by the car 
                    | was taken to the vet.
                p  •I live in the house 
                    strong painted in green.
                p  We often use
                    strong -ing 
                    | or- 
                    strong ed clauses 
                    | after is/are or was/were.



