//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_10" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex align-items-center mt100-xs mt10-md")
                div(class="col-flex-xs12 col-flex-md6 col-center mt30-md")
                    div(class="c-cardGreen"): div(class="c-cardGreenContent  ")
                        p Among all the listening sub-skills, active listening is probably the most important one.
                        p.ta-j 
                            | When we listen actively, we are truly interested in what the speaker is saying. In active listening we pay attention not only to the meaning and the message the speaker is trying to convey, but also to the speaker´s feelings. When listening actively, we use different techniques to check for understanding: asking questions for clarification, paraphrasing, restating the message to make sure we understood, among others.
                    
                    audio( controls class="row mt30")
                        source(src="unit_2/module_6/assets/audios/act_17.mp3" type="audio/mpeg")
                        | Your browser does not support the audio element.

                div(class="col-flex-xs12 col-flex-md4 col-center mt10-sm")
                    div(class="row mb30 ta-c showTo-md")
                        img(src="unit_2/module_6/assets/images/act_17.png", alt="" class="u-responsive-img")
    
    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconListen" )
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")