//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-r") When you draw a conclusion about something, you can feel very sure about it or you can feel you don´t really know. We use different modal verbs to express different levels of certainty, probability or doubt. When you are very sure of your thinking, use 
                    strong must + verb 
                    | to express your certainty. To express the negative of 
                    strong must, 
                    | use 
                    strong can´t be. Mustn´t 
                    | means prohibition. When you aren´t sure of something use 
                    strong may could, 
                    | or 
                    strong might + verb.
                
                p(class="ta-r mb20 mt20"): strong Examples:

                p(class="ta-r") . That 
                    strong can´t be 
                    | right. There must be a mistake.

                p(class="ta-r") . That letter 
                    strong may be 
                    | for me. (I´m not sure.)

                p(class="ta-r") . Those bills 
                    strong could be 
                    | fake. (They look strange.)

                p(class="ta-r") . I think it 
                    strong might rain
                    |  tomorrow. (Maybe. The sky is getting darker.)




