//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a" ng-init="DragandDrop()")
        section(class="template-content")
            h5 Read and listen. Then choose the right option to complete the paragraph with the appropriate words.
            div(class="row-flex mt40 ")
                div(class="col-flex-sm12 col-flex-md4 col-center")
                    img(src="unit_2/module_6/assets/images/act_11.png", alt="" class="u-responsive-img showTo-md")
                    table(class="c-table-estilo_dos mt60-md mt20-sm")
                    


                div(class="col-flex-sm12 col-flex-md7 offset-md1 col-center")
                    div(class="row-flex")
                        div(class="col-flex-sm12 col-flex-md3 col-center mt30-sm mt10-md mt10-xs")
                            div(class="dragCont f-l ml30 mt20"): div(class="drag") discovering
                            div(class="dragCont f-l ml30 mt20"): div(class="drag") killing
                            div(class="dragCont f-l ml30 mt20"): div(class="drag") surrounded
                            div(class="dragCont f-l ml30 mt20"): div(class="drag") working
                            div(class="dragCont f-l ml30 mt20"): div(class="drag") destroyed
                            div(class="dragCont f-l ml30 mt20"): div(class="drag") murdered
                            div(class="dragCont f-l ml30 mt20"): div(class="drag") united
                        div(class="col-flex-sm12 col-flex-md8 offset-md1 col-center mt30-sm mt10-md mt10-xs")
                            div(class="row")
                                audio(controls class='row')
                                     source(src='unit_2/module_6/assets/audios/act_11.mp3' type='audio/mpeg') 
                                     | Your browser does not support the audio element.
                            div(class="row")
                                div(class="c-green-text line-h1")
                                    p Heroes is a popular TV series about a group of people 
                                        strong (1) 
                                            span(class="drop ancho150")
                                        | together to save the world from destruction. At first, we see several characters 
                                        strong (2) 
                                            span(class="drop ancho150")
                                        | that they have superhuman powers. One of them can paint the future. Later, he is found 
                                        strong (3)
                                            span(class="drop ancho150")
                                        | in his apartment,
                                        strong (4) 
                                            span(class="drop ancho150")
                                        | by paintings which show New York being 
                                        strong (5) 
                                            span(class="drop ancho150")
                                        | in a massive explosion. 
                                    p Gradually, 
                                        strong (6)
                                            span(class="drop ancho150")
                                        | by their powers, the characters meet each other and begin to make a plan to stop the explosion. But there is another problem: they must stop an evil character, that is 
                                        strong (7)
                                        span(class="drop ancho150")
                                        | all the heroes and stealing their powers. 

                                    
    |


    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadDragandDrop()")
        button(class="c-btn-IconAction u-bgIconCheck")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")