//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
section(class="c-noticeAside-section")
            div(class="row mt20")
                p(class="ta-c"): strong Garbology
                p(class="ta-j") Everyone has heard of archeology. But not many people have ever heard of garbology. The name is made from the words “garbage” and “-ology”. The subject deals specifically with the study of a society’s waste products – its garbage. Very much can be discovered by looking at what people throw away. In fact, where ancient societies existed, but left behind no buildings, no written information, no art, and no posts or signs of trade, what they threw away might be the only clues to how they lived. From looking at the food scraps they left, or the broken tools they discarded, humanity can start to get a picture of how the society operated. But garbology goes much further. For one thing, a society didn’t necessarily be in the past for garbology to be a useful study. Examining the trash of current societies can give us plenty of very useful information about how we live, how much we waste, and so on. Garbologists have made many important discoveries. By studying the amount of paper which offices and organizations throw away, for example, they have concluded that computers, rather than cutting the amount of paper we use, have actually increased it.


