//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                h5  Read the following sentences:
                p(class="ta-j") • That package must be for me. (It’s my birthday.)  
                p(class="ta-j") • That French word must mean “key”. (There’s a picture of a key.)   
                p(class="ta-j") • Jane’s late. She must be lost. (She doesn’t know the way.)  




