//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper act_2")
    aside(class="template-asideLeft o-aside-Item" ng-init="s_actividad = 1")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")

    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 1")

            div(class="row row-flex")
                h5 Choose the option that best matches the use and the meaning.
            div(class="row row-flex")
                div(class="col-flex-xs12 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w40") Meaning
                            th(class="w40") Use

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td Taking something by force.
                                td Because the accountant saw the company had cheated on their taxes, he warned them that there could be a seizure of their assets by the authorities.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td A small flash of fire such as from ignited wood, or metal scraping metal.
                                td I wouldn’t start the car until it’s fixed, even a small spark could cause a fire.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td An invention or object used for a specific purpose.
                                td If you depend on a device such as your phone for everyday tasks, you may forget how to live without it!

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td Something that must be done, not necessarily by choice.
                                td Everyone has an obligation to vote for democracy to succeed. You should take the time to vote.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To restore or renew.
                                td To revive that old record player, just use a cleaner and it will be like new again.


                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td Possibly, maybe.
                                td Perhaps we should go for lunch now?
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To go beyond.
                                td If you overstep your authority, you could lose your job.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To become unstable or disordered.
                                td I wouldn’t unsettle Tom before the meeting, he’s been working hard to make his presentation perfect.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To wander without a destination.
                                td If you use the GPS more, you’ll spend less time roving around.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To plant a seed.
                                td Be sure to put the seed in the soil firmly when sowing to ensure the birds don’t eat it.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td The way something is happening.
                                td The state of play of the election doesn’t look so good right now for the candidate. Maybe he should change his platform.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To support or be in favor of.
                                td Since you like children, why don’t you advocate for more special programs at the school?



        section(class="template-content u-animationFadeDown" ng-show="s_actividad == 2")
             div(class="row row-flex")
                div(class="col-flex-xs12 col-flex-md6 m-a mt20"): .col-flex-xs12.col-flex-md11

                    img(src="unit_2/module_5/assets/images/act_2_1.png", alt="", class="u-responsive-img")

                div(class="col-flex-xs12 col-flex-md6 m-a mt20"): .col-flex-xs12.col-flex-md11
                    table(class="c-table-estilo_tres m-a")
                        thead: tr
                            th(class="w20") Word
                            th(class="w40") Meaning
                            th(class="w40") Use

                        tbody
                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To be busy or occupied, often intensely.
                                td To be successful in business, you must become engaged with your customer and learn everything about him.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To go beyond.
                                td If you want to get promoted at your job, you must exceed what is already expected.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To look over something quickly.
                                td Only giving the instruction manual a cursory look could be dangerous, you should read it more carefully.

                            tr
                                td: select(name="act_1_2" class="c-select ml5 mr5 mt5 mb5")
                                    option(value="" disabled selected)
                                    option(value="1") Seizure
                                    option(value="2") Hunch
                                    option(value="3") Device
                                    option(value="4") Revive
                                    option(value="5") Advocate
                                    option(value="6") Cursory
                                    option(value="7") Sow
                                    option(value="8") Rove
                                    option(value="9") Unsettle
                                    option(value="10") Overstep
                                    option(value="11") Perhaps
                                    option(value="12") Exceed
                                    option(value="13") Obligation
                                    option(value="14") Engaged
                                    option(value="15") Spark
                                    option(value="16") State of play
                                td To have a suspicion.
                                td Just trust my hunch on this election, I know Mr. Smith is going to win. I can just feel it.


    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadSelectOption()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="selectOption()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
