//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
div(class="row m-a")
    section(class="c-noticeAside-section")
        div(class="row mt20")
            p The chance to have a genius son/daughter is 2 in 100.
            p 
                strong EXAMPLE: 
                br
                | I can have a genius son /daughter.
            div(class="row mt20 ta-c"): img(src="unit_2/module_6/assets/images/self_9.png", alt="image self 9", srcset="" class="u-responsive-img")

