//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            div(class="row-flex mt10-xs mt30-md mt10-sm")
                div(class="col-flex-md4 showTo-md col-center"): img(src="unit_2/module_6/assets/images/self_5.png", alt="image self 6", srcset="" class="u-responsive-img")
                div(class="col-flex-md8 col-flex-sm10 col-flex-xs12 col-center")
                    div(class="mb20 row-flex")
                        div(class="col-flex")
                            p
                                strong(class="u-textColor_4-dark")  1. 
                                | The second attempt proved #[strong even ] more successful than the first.
                        div(class="col-flex-xs5")
                            span(class="c-textField mr10")
                                input(class="c-inputRadio" type="radio" id="inputRadio_1" name="tfInputRadio_1" value="1")
                                label(for="inputRadio_1" class="c-CheckSelected") CORRECT
                            span(class="c-textField")
                                input(class="c-inputRadio" type="radio" id="inputRadio_2" name="tfInputRadio_1" value="2")
                                label(for="inputRadio_2" class="c-CheckSelected") INCORRECT
                    div(class="mb20 row-flex")
                        div(class="col-flex flex")
                            p
                                strong(class="u-textColor_4-dark")  2. 
                                | You can do this #[strong even so ] there has been an acquittal in the criminal court.
                        div(class="col-flex-xs5")
                            span(class="c-textField mr10")
                                input(class="c-inputRadio" type="radio" id="inputRadio_5" name="tfInputRadio_2" value="1")
                                label(for="inputRadio_5" class="c-CheckSelected") CORRECT
                            span(class="c-textField")
                                input(class="c-inputRadio" type="radio" id="inputRadio_6" name="tfInputRadio_2" value="2")
                                label(for="inputRadio_6" class="c-CheckSelected") INCORRECT
                    div(class="mb20 row-flex")
                        div(class="col-flex")
                            p
                                strong(class="u-textColor_4-dark")  3. 
                                | #[strong Even though ] the price of gas is starting to come down, many people are choosing to take the bus or the train instead.
                        div(class="col-flex-xs5")
                            span(class="c-textField mr10")
                                input(class="c-inputRadio" type="radio" id="inputRadio_3" name="tfInputRadio_3" value="1")
                                label(for="inputRadio_3" class="c-CheckSelected") CORRECT
                            span(class="c-textField")
                                input(class="c-inputRadio" type="radio" id="inputRadio_4" name="tfInputRadio_3" value="2")
                                label(for="inputRadio_4" class="c-CheckSelected") INCORRECT
                    div(class="mb20 row-flex")
                        div(class="col-flex") 
                            p
                                strong(class="u-textColor_4-dark")  4. 
                                | The Oscar-winning actress says she is determined to become a mother #[strong even if ] she cannot conceive naturally.
                        div(class="col-flex-xs5")
                            span(class="c-textField mr10")
                                input(class="c-inputRadio" type="radio" id="inputRadio_7" name="tfInputRadio_4" value="1")
                                label(for="inputRadio_7" class="c-CheckSelected") CORRECT
                            span(class="c-textField")
                                input(class="c-inputRadio" type="radio" id="inputRadio_8" name="tfInputRadio_4" value="2")
                                label(for="inputRadio_8" class="c-CheckSelected") INCORRECT
                    div(class="mb20 row-flex")
                        div(class="col-flex") 
                            p
                                strong(class="u-textColor_4-dark")  5. 
                                | They’re very good friends #[strong even if ] there are many differences between them.
                        div(class="col-flex-xs5")
                            span(class="c-textField mr10")
                                input(class="c-inputRadio" type="radio" id="inputRadio_9" name="tfInputRadio_5" value="1")
                                label(for="inputRadio_9" class="c-CheckSelected") CORRECT
                            span(class="c-textField")
                                input(class="c-inputRadio" type="radio" id="inputRadio_10" name="tfInputRadio_5" value="2")
                                label(for="inputRadio_10" class="c-CheckSelected") INCORRECT
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")