//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
                div(class="col-flex-sm12 col-flex-md12 col-center mt50-md mt30-sm")
                    table(class="c-table-SelfCheck mt20")
                        thead   
                            tr
                                th.w5 
                                th.w35 LANGUAGE
                                th.w20 
                                th.w20 
                                th.w20 
                        tbody
                            tr
                                td.ta-c: strong 1
                                td.ta-c.padding10 Identify and use phrasal verbs
                                    
                                td.ta-c.padding10 
                                    input(class="c-inputRadio" id="inputRadio_1" type="radio" name="selInputRadio_1" value="1")
                                    label(class="c-Checkbox" for="inputRadio_1") Grow up
                                td.ta-c.padding10 
                                    input(class="c-inputRadio" id="inputRadio_2" type="radio" name="selInputRadio_1" value="2")
                                    label(class="c-Checkbox" for="inputRadio_2") Pick up
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_3" type="radio" name="selInputRadio_1" value="3")
                                    label(class="c-Checkbox" for="inputRadio_3") Have to
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_4" type="radio" name="selInputRadio_1" value="4")
                                    label(class="c-Checkbox" for="inputRadio_4") Give up

                            tr
                                td.ta-c: strong 2
                                td.ta-c.padding10 Express certainty, probability and doubt
                                    
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_5" type="radio" name="selInputRadio_2" value="1")
                                    label(class="c-Checkbox" for="inputRadio_5") This can’t be happening.
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_6" type="radio" name="selInputRadio_2" value="2")
                                    label(class="c-Checkbox" for="inputRadio_6") She might arrive late.
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_7" type="radio" name="selInputRadio_2" value="3")
                                    label(class="c-Checkbox" for="inputRadio_7") You should not forget your materials
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_8" type="radio" name="selInputRadio_2" value="4")
                                    label(class="c-Checkbox" for="inputRadio_8") There could be life in other planets.

                            tr
                                td.ta-c: strong 3
                                td.ta-c.padding10 Identify and use “even”
                                    
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_9" type="radio" name="selInputRadio_3" value="1")
                                    label(class="c-Checkbox" for="inputRadio_9") Doubt
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_10" type="radio" name="selInputRadio_3" value="2")
                                    label(class="c-Checkbox" for="inputRadio_10") Comparisons
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_11" type="radio" name="selInputRadio_3" value="3")
                                    label(class="c-Checkbox" for="inputRadio_11") Flat
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_12" type="radio" name="selInputRadio_3" value="4")
                                    label(class="c-Checkbox" for="inputRadio_12") Surprise

                            tr
                                td.ta-c: strong 4
                                td.ta-c.padding10 Identify and use ing/ed clauses
                                    
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_13" type="radio" name="selInputRadio_4" value="1")
                                    label(class="c-Checkbox" for="inputRadio_13") Houses surrounded by trees
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_14" type="radio" name="selInputRadio_4" value="2")
                                    label(class="c-Checkbox" for="inputRadio_14") Plants grew all over.
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_15" type="radio" name="selInputRadio_4" value="3")
                                    label(class="c-Checkbox" for="inputRadio_15") Plants growing all over.
                                td.ta-c.padding10
                                    input(class="c-inputRadio" id="inputRadio_16" type="radio" name="selInputRadio_4" value="4")
                                    label(class="c-Checkbox" for="inputRadio_16") Houses surrounding by trees.
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|        
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")