.act_1 {
	position: relative;
}

@media all and (min-width: 600px) {
	.act_3 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(33% - 10px);
		flex: 0 0 calc(33% - 10px);
		margin: 0 auto;
		width: calc(33% - 10px);
		float: left;
	}
}

@media all and (max-width: 599px) {
	.act_3 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		margin: .5rem auto;
		width: 100%;
		float: left;
	}
}

.act_5 .drag {
	height: calc(5rem - 4px);
	font-size: 0.8rem;
	word-break: break-word;
}

.act_5 .dragCont {
	margin: 5px auto;
	width: 150px;
}

.act_5 .dragCont,.act_5 .drop {
	width: 150px;
	height: 5rem;
}

.act_6 ._float-span {
	background-color: var(--color_4-lighter);
	padding: 5px;
	margin: 5px auto;
	width: 100px;
}

@media all and (max-width: 989px) {
	.act_6 ._float-span {
		width: 100px;
	}
}

.act_6 .treeItem,.act_6 .treeItem_hi,.act_6 .treeItem_set {
	min-height: 2.5rem;
	margin-bottom: 6px;
	cursor: pointer;
	font-size: 0.9rem;
	padding: 5px;
}

@media all and (max-width: 599px) {
	.act_8 .flip_card {
		width: 120px;
		height: 164px;
		font-size: 0.8rem;
	}
}

@media all and (min-width: 600px) and (max-width: 1023px) {
	.act_8 .flip_card {
		width: 130px;
		height: 174px;
	}
}

@media all and (min-width: 1024px) {
	.act_8 .flip_card {
		width: 140px;
		height: 184px;
	}
}

.act_11 .drag {
	height: calc(2rem - 4px);
	font-size: 0.8rem;
	word-break: break-word;
}

.act_11 .dragCont,.act_11 .drop {
	height: 2rem;
}

.act_12 .drag {
	height: calc(3rem - 4px);
	font-size: 0.8rem;
	word-break: break-word;
}

.act_12 .dragCont {
	margin: 5px auto;
	width: 170px;
}

.act_12 .dragCont,.act_12 .drop {
	min-width: 170px;
	height: 3rem;
}

@media all and (min-width: 600px) {
	.self_7 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(33% - 10px);
		flex: 0 0 calc(33% - 10px);
		margin: 0 auto;
		width: calc(33% - 10px);
		float: left;
	}
}

@media all and (max-width: 599px) {
	.self_7 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		margin: .5rem auto;
		width: 100%;
		float: left;
		margin-top: 20px;
	}
}

@media all and (min-width: 600px) {
	.self_8 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(40% - 10px);
		flex: 0 0 calc(40% - 10px);
		margin: 0 auto;
		width: calc(40% - 10px);
		float: left;
	}
}

@media all and (max-width: 599px) {
	.self_8 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		margin: .5rem auto;
		width: 100%;
		float: left;
		margin-top: 20px;
	}
}

@media all and (min-width: 600px) {
	.test_5 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(33% - 10px);
		flex: 0 0 calc(33% - 10px);
		margin: 0 auto;
		width: calc(33% - 10px);
		float: left;
	}
}

@media all and (max-width: 599px) {
	.test_5 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		margin: .5rem auto;
		width: 100%;
		float: left;
		margin-top: 20px;
	}
}

@media all and (min-width: 600px) {
	.col_1 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(20% - 10px);
		flex: 0 0 calc(20% - 10px);
		margin: 0 auto;
		width: calc(20% - 10px);
		float: left;
	}
}

@media all and (min-width: 400px) and (max-width: 599px) {
	.col_1 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 90%;
		flex: 0 0 90%;
		margin: .5rem auto;
		width: 90%;
		float: left;
		margin-top: 20px;
	}
}

@media all and (max-width: 399px) {
	.col_1 .c-CheckSelected {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		margin: .5rem auto;
		width: 100%;
		margin-top: 20px;
	}
}

@media all and (min-width: 600px) {
	.col_3 .c-Checkbox {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(33% - 10px);
		flex: 0 0 calc(33% - 10px);
		margin: 0 auto;
		width: calc(33% - 10px);
		float: left;
	}
}

@media all and (min-width: 400px) and (max-width: 599px) {
	.col_3 .c-Checkbox {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 90%;
		flex: 0 0 90%;
		margin: .5rem auto;
		width: 90%;
		float: left;
		margin-top: 20px;
	}
}

@media all and (max-width: 399px) {
	.col_3 .c-Checkbox {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		margin: .5rem auto;
		width: 100%;
		margin-top: 20px;
	}
}

.bold {
	font-weight: 700;
}

.c-green {
	background: #87c5bf!important;
	color: #22645B;
}

.c-blue {
	background: #b5c6f8!important;
	color: #3e538c;
}

.c-green-text {
	background: #87c5bf!important;
	color: #ffffff;
	font-weight: 500;
	padding: 20px;
	text-align: justify;
}

.c-blue-text {
	background: #b5c6f8!important;
	color: #ffffff;
	font-weight: 600;
	padding: 10px;
	text-align: center;
}

.line-h {
	line-height: 40px!important;
}

.line-h1 {
	line-height: 30px!important;
}

.absol-mod2-self {
	position: absolute;
	left: 10px;
	top: 10px;
	color: #969696;
}

.c-blue-text1 {
	background: #b5c6f8!important;
	color: #3e538c;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.c-blue-text2 {
	background: #b5c6f8!important;
	color: #3e538c;
	font-weight: 600;
	padding: 5px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 10px;
}

.ancho-abs-mod6 {
	width: 100%!important;
}

.f-in {
	float: inherit;
}

.d-inbl {
	display: inline-block;
}

.flotantes {
	width: 150px!important;
	height: 150px!important;
	float: left!important;
	padding: 10px!important;
}