//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")

            div(class="row-flex align-items-center")
                div(class="col-flex-sm6 col-flex-md7")
                    div(class="row mt20")
                        div(class="c-blue-text") for / hours / will / have / been / he / resting /
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                input(type="text" placeholder="Text here..." class="c-input js-escribir w100 ")
                        div(class="c-blue-text") have / phoning / been / Javier / now / for / hours / two / won´t / ?
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                input(type="text" placeholder="Text here..." class="c-input js-escribir w100 ")
                        div(class="c-blue-text") long / time / sitting / have / will / been / there / a / Beatriz / for / .
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                input(type="text" placeholder="Text here..." class="c-input js-escribir w100 ")
                        div(class="c-blue-text") won´t / have / been / waiting / he / for / anyone / .
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                input(type="text" placeholder="Text here..." class="c-input js-escribir w100 ")
                        div(class="c-blue-text") there / for / 20 / minutes / the / taxi / standing / will / have / been / .
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                input(type="text" placeholder="Text here..." class="c-input js-escribir w100 ")
                div(class="col-flex-sm6 col-flex-md5 mt30-md col-center")
                    img(src="unit_1/module_2/assets/images/test_2.png", alt="" class="w100 c-figure centrado m-a")




    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
