//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")

            div(class="row-flex")
                div(class="col-flex-xs12 col-flex-md6 offset-md1")
                    div(class="row mt20 m-a")
                        div(class="col-flex")
                                strong(class="u-textColor_4-dark")  A.
                                | He said he would buy that very expensive house.
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  B. (1)
                                    input(type="text" placeholder="Text here..." class="c-input js-escribir ")
                        div(class="mb20 row-flex mt40")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  A.
                                | I lost my wallet.
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  B. (2)
                                    input(type="text" placeholder="Text here..." class="c-input js-escribir ")
                        div(class="mb20 row-flex mt40")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  A.
                                | I went to Bali last month.
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  B. (3)
                                    input(type="text" placeholder="Text here..." class="c-input js-escribir ")
                        div(class="mb20 row-flex mt40")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  A.
                                | I fixed it with a hammer.
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  B. (4)
                                    input(type="text" placeholder="Text here..." class="c-input js-escribir ")
                        div(class="mb20 row-flex mt40")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  A.
                                | The assignment was due yesterday.
                        div(class="mb20 row-flex mt20")
                            div(class="col-flex")
                                strong(class="u-textColor_4-dark")  B. (5)
                                    input(type="text" placeholder="Text here..." class="c-input js-escribir ")
                div(class="col-flex-sm6 col-flex-md4 mt30-md showTo-md")
                    img(src="unit_1/module_2/assets/images/test_2_1.png", alt="" class=" u-responsive-img m-a")
    |
    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClass()")
        button(class="c-btn-IconAction u-bgIconCheck" ng-click="validarCompletartxt()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
