include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")                
                h6 #[strong.u-textColor_4 1. ] Expressing sympathy and concern when speaking:
                p.ml10.mt10 • I'm sorry to hear about...
                p.ml10 • Please accept my condolences. (used when someone close to another has died)
                p.ml10 • That's so sad.
                p.ml10 • I hope things get better soon.
                p.ml10 • I hope you feel better soon.

                h6 #[strong.u-textColor_4 2. ] Expressing condolences in writing:
                p.ml10.mt10 • My heartfelt condolences on your loss.
                p.ml10 • Our thoughts are with you.
                p.ml10 • She/he meant a lot of things to many people and will be missed.
                p.ml10 • Thinking of you in your time of loss.
                p.ml10 • We are very saddened to hear of your loss. With deepest sympathies.
                p.ml10 • You have my sincere sympathy.
                p.ml10 • You have our deepest sympathy.	