include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                p Being an active listener is really important. One way you show that you are listening is with body language (nodding, smiling, etc.). Another one is by using one of the following phrases:
                h5(class="u-fz09"): strong You can react to something positive or to something negative.
                .row-flex                
                    table.c-table-estilo_tres
                        thead
                            tr
                                td.ta-c What (+ adjective ) + noun
                                td.ta-c How + adjective
                        tbody
                            tr
                                td.u-textColor_1.ta-c What a great singer!
                                td.u-textColor_1.ta-c How horrible weather!
                            tr
                                td.u-textColor_1.ta-c What a beautiful view!
                                td.u-textColor_1.ta-c How wonderful!
                            tr
                                td.u-textColor_1.ta-c What a kind/rude man!
                                td.u-textColor_1.ta-c How romantic!
                            tr
                                td.u-textColor_1.ta-c What an experience!
                                td.u-textColor_1.ta-c How nice!
                            tr
                                td.u-textColor_1.ta-c What a surprise!
                                td.u-textColor_1.ta-c How tragic!

                                





