include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section padding0")
            div(class="row mt20")
                
                p(class="ta-r u-fz09") It is important to learn how to express feelings of surprise or disbelief in difficult situations. Take a look at this chart: 
                table.c-table-estilo_tres
                    thead
                        tr
                            td.ta-c NEUTRAL
                            td.ta-c INFORMAL
                            td.ta-c FORMAL
                    tbody
                        tr
                            td
                                p.u-textColor_1 #[strong.u-textColor_4 •] That’s very surprising.
                                p.u-textColor_1 #[strong.u-textColor_4 •] Really?
                                p.u-textColor_1 #[strong.u-textColor_4 •] Here?
                                p.u-textColor_1 #[strong.u-textColor_4 •] Is she?
                                p.u-textColor_1 #[strong.u-textColor_4 •] That is a surprise.
                                p.u-textColor_1 #[strong.u-textColor_4 •] What a surprise.
                                p.u-textColor_1 #[strong.u-textColor_4 •] Good heavens.
                                p.u-textColor_1 #[strong.u-textColor_4 •] That’s amazing / extraordinary.
                                p.u-textColor_1 #[strong.u-textColor_4 •] My goodness.
                            td
                                p.u-textColor_1 #[strong.u-textColor_4 •] What?
                                p.u-textColor_1 #[strong.u-textColor_4 •] No! I don’t believe it!
                                p.u-textColor_1 #[strong.u-textColor_4 •] Are you serious?
                                p.u-textColor_1 #[strong.u-textColor_4 •] Well, I never!
                                p.u-textColor_1 #[strong.u-textColor_4 •] Oh, no!
                                p.u-textColor_1 #[strong.u-textColor_4 •] Fantastic!
                                p.u-textColor_1 #[strong.u-textColor_4 •] You don’t say.
                                p.u-textColor_1 #[strong.u-textColor_4 •] Who’d have thought it?
                                p.u-textColor_1 #[strong.u-textColor_4 •] You’re kidding.
                            td
                                p.u-textColor_1 #[strong.u-textColor_4 •] I find that very surprising.
                                p.u-textColor_1 #[strong.u-textColor_4 •] I must say it surprises me.
                                p.u-textColor_1 #[strong.u-textColor_4 •] I find it extraordinary.
                                p.u-textColor_1 #[strong.u-textColor_4 •] Indeed?
                                p.u-textColor_1 #[strong.u-textColor_4 •] How very surprising.
                                p.u-textColor_1 #[strong.u-textColor_4 •] I must say it surprises me

                   
 
                                





