include ../../../../_pug/_mixin
// ============================== templateContainer
div.vh100.row-flex
    div(class="row ml40 mr40 m-a")
        header(class="c-noticeAside-header")
            div(class="row mt40")
                img(src=""+appPathImage+"c_noticeTitle.png", alt="", class="u-responsive-img w70")
        section(class="c-noticeAside-section")
            div(class="row mt20")
                
                p(class="ta-r u-fz09"): i We use #[strong modal verbs] to show if we believe something is certain, probable or possible (or not). We also use modals to do things like talking about ability, asking permission making requests and offers, among other things.
                p(class="ta-r u-fz09"): i The modal verbs are:   
                    ul
                        li.ta-r Can
                        li.ta-r Shall
                        li.ta-r Could
                        li.ta-r Should
                        li.ta-r May
                        li.ta-r Will
                        li.ta-r Might
                        li.ta-r Would
                        li.ta-r Must 
 
                                





