//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_9")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            h5 Let’s talk about climate change.
            div(class="row row-flex mt30 align-items-center")


                .col.xs12.md6
                    div(class="c-contVideo")
                        video(controls class='u-responsive-video')
                            source(src='unit_2/module_6/assets/videos/col_6_1.mp4' type='video/mp4') 
                .col.xs12.md6

                    .c-cardGreen
                        .c-cardGreenContent
                            p.
                                Record your opinion about what
                                everyday people can do to help to slow
                                climate change. From our individual
                                carbon footprint to what the Colombian
                                government can do.#[br]#[br]
                                Speak not less than 3 minutes.

                    div(class="row c-ngRecorder" ng-audio-recorder id="mainAudio_a" time-limit='120' audio-model="audio_1" on-playback-start="guardarRecord('unt1_mod6_mycol9',1)"): +ngRecorder
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")