//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|

section(class="template-wrapper col_6" ng-init="s_actividad = 1")
    aside(class="template-asideLeft o-aside-Item")
        button(class="c-btn-IconAction" data-activities-count="1" ng-click="s_actividad = 1" ng-class="(s_actividad == 1) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="2" ng-click="s_actividad = 2" ng-class="(s_actividad == 2) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="3" ng-click="s_actividad = 3" ng-class="(s_actividad == 3) ? 'is-active' : '';")
        button(class="c-btn-IconAction" data-activities-count="4" ng-click="s_actividad = 4" ng-class="(s_actividad == 4) ? 'is-active' : '';")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")

            .row
                h5 Look at the following pictures, can you tell which events are taking place? Think for a few minutes, write a brief background about the event.
                h6(class="ta-c u-textColor_3 mt30") Part # {{ s_actividad }} of 4

            - var ngmodel = ['textousuario', 'textousuariob', 'textousuarioc', 'textousuariod']
            - var fipcaption = ['imagen 1', 'imagen 2', 'imagen 3', 'imagen 4']
            - for ( var x = 1; x <= 4; x++)
                div(class="row u-animationFadeDown" ng-show="s_actividad == "+ x +"")
                    div(class="col xs12 md10 col-center")
                        div(class="row")
                            figure(class="col xs6 md4 ta-r")
                                img(class="u-responsive-img" src="unit_{{unidadid}}/module_{{moduloid}}/assets/images/col_{{actividadid}}_"+ x +".png", alt=fipcaption[x - 1])
                                //- figcaption=fipcaption[x - 1]
                            div(class="col xs6 md8")
                                div(class="c-wrapTextarea"): textarea(placeholder="Write here..." class="c-textarea h200" ng-model=ngmodel[x - 1])
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconUpload" ng-click="enviarTextoMultiple()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|

