//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer

header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper col_5" ng-init="DragandDrop()")
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            .row
                h6.ta-c Read the following short movie reviews and fill in the blank with the words from the table below them.
                p.ta-c.
                    Colombian culture and history, we recommend the following films as good places to start.#[br]
                    A lot of Colombians will note that their cinema history is filled with dramas and tragedies. But they will also claim that those same dramas have become
                    comedies in the country’s national memory, as many of the films demonstrate how Colombians create humor and joy in the midst of hardship.#[br]
            .col.sm12.md6.padding10
                .row-flex.justify-around.mb30.mt30
                    .drag-Cont: .drag Classic
                    .drag-Cont: .drag cast
                    .drag-Cont: .drag Hit
                    .drag-Cont: .drag Dramatic

                h6 La estrategia del caracol [The Strategy of the Snail] (1993)
                p.mt20.ta-j.lh20.
                    An instant #[span.drop] when it was released, “The Strategy of the Snail” is a comedy-drama with a #[span.drop] of unforgettable
                    characters.#[br]
                    After the families of a large tenancy house in Bogota are all evicted, the film follows their #[span.drop] attempt to take the home–like a snail
                    with a shell on its back–and move it to another part of the city.The film is considered #[span.drop] in Colombia for the way it exemplifies
                    common struggles between the stratified rich and poor of the country’s capital.

                .row-flex.justify-around.mb30.mt35
                    .drag-Cont: .drag Actors
                    .drag-Cont: .drag Awards
                    .drag-Cont: .drag Released
                    

                h6 La vendedora de rosas [The Rose Seller] (1998)
                p.mt20.ta-j.lh20.
                    “La vendedora de rosas,” loosely based on Hans Christian Andersen’s 1845 The Little Match Girl, gives a sincere and honest glimpse into the difficulties
                    of life in the harsh, poor neighborhoods of Medellin, following a young girl and her band of friends as they try to find joy with Christmas eve
                    looming.#[br]
                    The film is well known, not only for its host of international #[span.drop]  , but also because many of its #[span.drop] strangely
                    suffered similar fates as their characters in the years after the film was#[span.drop].

            .col.sm12.md6.padding10

                .row-flex.justify-around.mb30.mt30
                    .drag-Cont: .drag Plots
                    .drag-Cont: .drag Shot
                    .drag-Cont: .drag Award
                    .drag-Cont: .drag Nominated
                    .drag-Cont: .drag enthralling
                    
                h6 El abrazo de la serpiente [Embrace of the Serpent] (2015)
                p.mt20.ta-j.lh20.
                    #[span.drop] for the Best Foreign Language Film at the 2016#[span.drop], “El abrazo de la serpiente,” is a film co-produced in
                    Colombia, Argentina and Venezuela.#[br]
                    #[span.drop] in black and white, the film takes place both during 1909 and 1940 in the Amazon, during the region’s historical Rubber Boom.
                    The film is quiet, slow moving and #[span.drop]. It plays with time, weaving the#[span.drop] of 1909 and 1940 together–where
                    in both stories, white colonists encounter an indigenous shaman while searching for a rare medicinal plant.

                .row-flex.justify-around.mb30.mt30
                    .drag-Cont: .drag Audience
                    .drag-Cont: .drag Unfolds
                    .drag-Cont: .drag Characters
                   
                    

                h6 Confesión a Laura [Confessing to Laura] (1991)
                p.mt20.ta-j.lh20.
                    “Confessing to Laura” is a 1991 drama that  #[span.drop]in Bogota during the infamous “Bogotazo” riots of 1948.
                    The riots, which left thousands dead and much of the city burned to the ground, followed the assassination of popular presidential candidate Jorge
                    Eliecer Gaitan.#[br]
                    “Confessing to Laura” follows three #[span.drop] trapped inside their homes during the riots, giving the #[span.drop] a zoomed
                    in look at the humanity trapped within Bogota’s historic strife.

                    

    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadDragandDrop()")
        button(class="c-btn-IconAction u-bgIconCheck")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")
|
|
