//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content")
            h5 I can identify and use phrasal verbs.
            div(class="row-flex mt100-xs mt10-md mt10-sm")
                div(class="col-flex-xs12 col-flex-md5 offset-md1 col-center mt10-sm mt20-md")
                        div(class="row mb20")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span What was the name of the man
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_a")
                                        span by the police??
                            div(class="row-flex mt20")
                                input(class="c-inputRadio" type="radio" id="inputRadio_1" name="SelInputRadio_1" value="1")
                                label(for="inputRadio_1" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='down'") arresting

                                input(class="c-inputRadio" type="radio" id="inputRadio_2" name="SelInputRadio_1" value="2")
                                label(for="inputRadio_2" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='up'") arrested

                                input(class="c-inputRadio" type="radio" id="inputRadio_3" name="SelInputRadio_1" value="3")
                                label(for="inputRadio_3" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_a='through'") arrest
                        |
                        div(class="row mb20")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span There’s a course
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_b")
                                        span next month.
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="inputRadio_4" name="SelInputRadio_2" value="1")
                                label(for="inputRadio_4" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='on'") beginning

                                input(class="c-inputRadio" type="radio" id="inputRadio_5" name="SelInputRadio_2" value="2")
                                label(for="inputRadio_5" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='into'") begin

                                input(class="c-inputRadio" type="radio" id="inputRadio_6" name="SelInputRadio_2" value="3")
                                label(for="inputRadio_6" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_b='into'") began
                        |
                        div(class="row mb20")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span The accident was serious, but there was nobody
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_c")
                            div(class="row-flex justify-around")
                                input(class="c-inputRadio" type="radio" id="inputRadio_7" name="SelInputRadio_3" value="1")
                                label(for="inputRadio_7" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='down'") injuring

                                input(class="c-inputRadio" type="radio" id="inputRadio_8" name="SelInputRadio_3" value="2")
                                label(for="inputRadio_8" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='off'") injure

                                input(class="c-inputRadio" type="radio" id="inputRadio_9" name="SelInputRadio_3" value="3")
                                label(for="inputRadio_9" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_c='up'") injured
                        |
                div(class="col-flex-xs12 col-flex-md5 offset-md1 col-center mt10-sm mt20-md")
                        div(class="row mb20")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span The train was full. There were lots of people
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_d")
                            div(class="row-flex")
                                input(class="c-inputRadio" type="radio" id="inputRadio_10" name="SelInputRadio_4" value="1")
                                label(for="inputRadio_10" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='off'") traveling
                                input(class="c-inputRadio" type="radio" id="inputRadio_11" name="SelInputRadio_4" value="2")
                                label(for="inputRadio_11" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='in'") traveled
                                input(class="c-inputRadio" type="radio" id="inputRadio_12" name="SelInputRadio_4" value="3")
                                label(for="inputRadio_12" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_d='in'") travels
                        |
                        div(class="row mb20")
                            ol(class="c-listDefault")
                                li(class="u-textColor_4")
                                    span(class="u-textColor_1-dark")
                                        span Some of the people arrived
                                        span(class="c-textField"): input(type="text" placeholder="Text here..." class="c-input ta-c js-escribir" ng-model="txtcaptura_e")
                                        span very late.
                            div(class="row-flex justify-around")
                                input(class="c-inputRadio" type="radio" id="inputRadio_13" name="SelInputRadio_5" value="1")
                                label(for="inputRadio_13" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='off'") inviting
                                
                                input(class="c-inputRadio" type="radio" id="inputRadio_14" name="SelInputRadio_5" value="2")
                                label(for="inputRadio_14" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e=' up'") invited
                                
                                input(class="c-inputRadio" type="radio" id="inputRadio_15" name="SelInputRadio_5" value="3")
                                label(for="inputRadio_15" class="c-CheckSelected col-flex ml10 mr10" ng-click="txtcaptura_e='up'") invites
    |
    |
    aside(class="template-asideRight o-aside-Item")
        button(class="c-btn-IconAction u-bgIconRefresh")
        button(class="c-btn-IconAction u-bgIconCheck")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")