//- ============================== Mixins
include ../../../../_pug/_mixin
// ============================== templateContainer
header(class="template-header" ng-controller="CtrlHeader" ng-include="'../ngMaster/header.php'")
|
|
section(class="template-wrapper" )
    aside(class="template-asideLeft o-aside-Item")
    |
    |
    div(class="template-section m-a")
        section(class="template-content u-animationFadeDown")
            div(class="row-flex m-a")
                div(class="col-flex-sm12 col-flex-md4 col-center mb30")
                    img(src="unit_3/module_11/assets/images/col_2_1.png", alt="" class="u-responsive-img  ")
                div(class="col-flex-sm12 col-flex-md6 col-center mb30")
                    p(class="ta-j") The legend goes that in 1579, the tupe nation rebelled against the Spanish because Don García Gutiérrez de Mendoza´s wife, in a jealousy attack, cut india Francisca´s hair. Francisca was a native and the maid at her house, which was considered an offensive job among the indigenous people. Taking advantage of the fact that Don García Gutiérrez was not home, Tupe Antoñuelo, who was also a native and also worked for the Spanish family, fled and informed the tribe´s chief, Tupe Blanco, about the incident. The chief got his people together and entered the city of Valledupar to raid it. But when they tried to burn the convent, nothing in it caught fire. The natives started to think the convent was being protected by the virgin, whom they called Guaricha, not only because things wouldn´t burn, but because some of them said  the virgin trap their arrows in her cape. The natives retreated in fear, followed by angry Spaniards, all the way to a lagoon. The Sicarare lagoon had been previously poisoned by the natives, so when the Spanish stopped to drink water from it, they all fell dead. The natives were celebrating their victory when some of them saw the virgin, la Guaricha, lifting the Spanish. This made the natives terribly afraid, and allowed the Spaniards to capture them again.

    |
    aside(class="template-asideRight o-aside-Item")
        //- button(class="c-btn-IconAction u-bgIconRefresh" ng-click="reloadClassMultiple()")
        //- button(class="c-btn-IconAction u-bgIconCheck" ng-click="seleccionMulti()")
|
|
footer(class="template-footer" ng-controller="CtrlFooter" ng-include="'../ngMaster/footer.php'")