.u-bgTemplate {
	background-image: url(../images/wel_bg.jpg);
	background-color: #ff5252;
}

.bold {
	font-weight: 700;
}

.c-green {
	background: #87c5bf!important;
	color: #22645B;
}

.c-blue {
	background: #b5c6f8!important;
	color: #3e538c;
}

.c-green-text {
	background: #87c5bf!important;
	color: #ffffff;
	font-weight: 500;
	padding: 20px;
	text-align: justify;
}

.c-blue-text {
	background: #b5c6f8!important;
	color: #ffffff;
	font-weight: 600;
	padding: 10px;
	text-align: center;
}

.line-h {
	line-height: 40px!important;
}

.line-h1 {
	line-height: 30px!important;
}

.absol-mod2-self {
	position: absolute;
	left: 10px;
	top: 10px;
	color: #969696;
}

.c-blue-text1 {
	background: #b5c6f8!important;
	color: #3e538c;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.c-blue-text2 {
	background: #b5c6f8!important;
	color: #3e538c;
	font-weight: 600;
	padding: 5px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 10px;
}

.ancho-abs-mod6 {
	width: 100%!important;
}

.f-in {
	float: inherit;
}

.d-inbl {
	display: inline-block;
}

.flotantes {
	width: 150px!important;
	height: 150px!important;
	float: left!important;
	padding: 10px!important;
}

.line-h .drop {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.line-h .drag,.line-h .drop {
	max-height: 24px;
}

.col_3 .upload {
	display: none;
}